<link rel="stylesheet" href="<%= assetPath('css/admin-addProgram.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/admin-addDept.css') %>">

<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/admin/dashboard"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
        </svg></a>
      <h1 class="heading">Add Department</h1>
    </div>
    <div class="add-dept">
      <form action="/admin/adddepartment" method="post" id="adddept">
        <input class="prog-inp" id="prog-inp" type="text" placeholder="Enter Department" name="department" />
        <button type="submit" class="add-btn">Add</button>
      </form>
    </div>
    <div class="prog-grid" id="dept-list">
      <%for(let i=0; i<dept.length; i++){%>
        <div class="prog-div">
          <p>
            <%=dept[i].department%>
          </p>
          <a href="/admin/deletedepartment/<%=dept[i]._id%>"><ion-icon name="trash-outline" class="trash"></ion-icon></a>
        </div>
        <%}%>
    </div>
  </div>
</div>
<script>
  const adddeptform = $('#adddept');
  $(document).on('submit', '#adddept', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'post',
      url: '/admin/adddepartment',
      data: adddeptform.serialize(),
      success: function (data) {
        const nAtt = newattDom(data.data);
        new Noty({
          theme: 'relax',
          text: 'Department added',
          type: 'success',
          layout: 'topRight',
          timeout: 1500,
        }).show();
      },
      error: function (error) {
        console.log(error.responseText);
      }
    });
  });
  function newattDom(data){
    console.log(data.dept)
    let deptdom = `<div class="prog-div">
          <p>
            ${data.dept}
          </p>
          <ion-icon name="trash-outline" class="trash"></ion-icon>
        </div>`
        $('#dept-list').prepend(deptdom);
        document.getElementById('prog-inp').value = '';

  }
</script>