<link rel="stylesheet" href="<%= assetPath('css/admin-addProgram.css') %>">


<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/teacher/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          /></svg
      ></a>
      <h1 class="heading">Allot Tg to students</h1>
    </div>
    <!-- Add Program -->
    <form action="" class="add-program-1">
      <div class="dropdown-button">
        <select class="options" id="op-one">
          <option value="" disabled selected>Department</option>
          <option value="btech">B.tech</option>
          <option value="mtech">M.tech</option>
          <option value="phd">P.hd</option>
          <option value="BBA">BBA</option>
        </select>
      </div>
      <input class="prog-inp" type="text" placeholder="Enter Program" />
      <button type="submit" id="btn" class="add-btn">Add</button>
    </form>

    <!-- Program Box -->
    <div class="prog-grid">
      <div class="prog-div">
        <p>BTECH</p>
        <ion-icon name="trash-outline" class="trash"></ion-icon>
      </div>
      <div class="prog-div">
        <p>MTECH</p>
        <ion-icon name="trash-outline" class="trash"></ion-icon>
      </div>
      <div class="prog-div">
        <p>CSE(AI)</p>
        <ion-icon name="trash-outline" class="trash"></ion-icon>
      </div>
      <div class="prog-div">
        <p>CSE(AI)</p>
        <ion-icon name="trash-outline" class="trash"></ion-icon>
      </div>
      <!-- <div class="prog-div">
                    <p>BTECH</p>
                    <ion-icon name="trash-outline" class="trash"></ion-icon>
                 </div> -->
    </div>
  </div>
</div>

<script src="../../assets/js/assignment.js"></script>
