<link rel="stylesheet" href="<%= assetPath('css/admin-allot-sub.css') %>">

<div class="main-page">
    <div class="blur">

    <div class="main__content">
        <div class="page-heading">
            <a href="/admin/dashboard"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"><path d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"/></svg></a>
            <h1 class="heading">Allot subject to teacher</h1>
          </div>

        <div class="allot__1" id="section1">
            <div class="reg__section">
                <!-- <form action="/admin/searchteacherid" method="post"> -->
                    <input type="text" name="registration" id="reg" placeholder="Registration No">
  
                    <a href="" id="reg-path"><button class="btn btn-full btn-medium" >Select</button></a>
                <!-- </form> -->
            </div>
            <div class="search-popup" id="reg-popup">
              <ul id="reg-list">
              </ul>
            </div>


        </div>

    </div>
    <div class="notification">
        <h1 class="notification__title">
            No Information
        </h1>
    </div>
</div>
</div>
<script>
    let urllink;
    let searchval;
    document.getElementById("reg").addEventListener("input", function() {
        // Get the input value
        var inputValue = document.getElementById("reg").value;
  
        // Set the input value as the text content of the <a> element
        var anchorTag = document.getElementById("reg-path");
        anchorTag.href = "/admin/searchbaralotsubject/" + inputValue;
        searchval = inputValue;
        urllink = "/admin/searchteacherid/" + inputValue;
        console.log(urllink);
      });
      document.getElementById("reg").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
          var anchorTag = document.getElementById("reg-path");
        //   document.getElementById('search-btn').style.backgroundColor = "#0000006a";
          anchorTag.click(); // Simulate a click on the anchor tag
        }
      });
  </script>
  <script>
    let createform = function () {
      const newattform = $('#search');
      $.ajax({
        type: 'get',
        url: urllink,
        success: function (data) {
          console.log(data.data.result);
          let g = data.data.result
          let DPMstring  = '';
          let sl = searchval.length;
          console.log(g);
          for(let i = 0; i<g.length; i++){
            DPMstring = DPMstring + `<li><a href="/admin/searchbaralotsubject/${g[i].username}"><p class="spot-item"><span>${searchval}</span>${(g[i].name).slice(sl)} ${g[i].username}</p></a></li>`
          }
          // for(let i = 0; i<g.result1.length; i++){
          //   DPMstring = DPMstring + `<a href="#"><p class="spot-item"><span>${searchval}</span>${(g.result1[i].name).slice(sl)} ${g.result1[i].username}</p></a>`
          // }
          $('#reg-list').html(DPMstring);
        },
        error: function (error) {
          console.log(error.responseText);
        }
      });
    }
    const search = document.getElementById('reg');
    console.log(search);
    search.addEventListener('input', () => {
      console.log(search.value.length)
      if(search.value){
        searchval = search.value;
        console.log("call");
        createform();
      }
      // if(search.value.length == 0){
      //   document.getElementById('reg-list').innerHTML = '';
      // }
  
    })
  </script>

  <script>
    const regInput = document.getElementById("reg");
    const regPopup = document.getElementById("reg-popup");

    regInput.addEventListener("click", function(){
      regPopup.style.display = "flex";
    })

    document.addEventListener("click", (event) => {
	if (!regInput.contains(event.target)) {
    regPopup.style.display = "none";
	}
  });
  </script>