<link rel="stylesheet" href="<%= assetPath('css/teacherSubj.css') %>">

<div class="main-page">
    <div class="blur">

    <div class="main__content">
        <div class="main__title">
            <button>
                <a href="/admin/dashboard" class="back__btn">
                    <ion-icon class="back_btn_icon" name="chevron-back-circle-outline"></ion-icon>
                </a>
            </button>
            <h2 class="main__title__name">
                Allot subjects to Teachers
            </h2>
        </div>

        <div class="allot__1" id="section1">
            <div class="reg__section">
                <!-- <form action="/admin/searchteacherid" method="post"> -->
                    <input type="text" name="registration" id="reg" placeholder="Registration No">
                    <a href="" id="reg-path"><button class="btn btn-full btn-medium" >Select</button></a>
                <!-- </form> -->
            </div>


        </div>

    </div>
    <div class="notification">
        <h1 class="notification__title">
            No Information
        </h1>
    </div>
</div>
</div>
<script>
    document.getElementById("reg").addEventListener("input", function() {
        // Get the input value
        var inputValue = document.getElementById("reg").value;
  
        // Set the input value as the text content of the <a> element
        var anchorTag = document.getElementById("reg-path");
        anchorTag.href = "/admin/searchteacherid/" + inputValue;
      });
      document.getElementById("reg").addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
          var anchorTag = document.getElementById("reg-path");
        //   document.getElementById('search-btn').style.backgroundColor = "#0000006a";
          anchorTag.click(); // Simulate a click on the anchor tag
        }
      });
  </script>