<link rel="stylesheet" href="<%= assetPath('css/teacher-attendence.css') %>" />

<div class="main-page">
  <div class="blur">
    <div class="title-header">
      <div class="title">
        <img src="../../assets/images/lefty_arrow.png " alt="" /><span
          >Attendence Grant</span
        >
      </div>
      <div class="buttons">
        <button class="add-doc">
          Add Documents
          <img src="../../assets/images/solar_upload-bold.png" alt="" />
        </button>
        <button class="submit">Submit</button>
      </div>
    </div>
    <div class="main-table-container">
      <div class="description">
        <div class="description__titles">
          <ul>
            <li>S.No</li>
            <li>Subject</li>
            <li>Description</li>
            <li>Entered By</li>
            <li>Entered On</li>
            <li></li>
          </ul>
        </div>
        <div class="description-scroll">
          <div class="description__list">
            <ul>
              <li>01</li>
              <li>various activities on march</li>
              <li>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when loo
              </li>
              <li>Raustam Ali Ahmed</li>
              <li>12/04/2023</li>
              <li>
                <button class="btn btn-outline view-doc">View Documents</button>
              </li>
            </ul>

            <ul>
              <li>01</li>
              <li>various activities on march</li>
              <li>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when loo
              </li>
              <li>Raustam Ali Ahmed</li>
              <li>12/04/2023</li>
              <li>
                <button class="btn btn-outline view-doc">View Documents</button>
              </li>
            </ul>

            <ul>
              <li>01</li>
              <li>various activities on march</li>
              <li>
                It is a long established fact that a reader will be distracted
                by the readable content of a page when loo
              </li>
              <li>Raustam Ali Ahmed</li>
              <li>12/04/2023</li>
              <li>
                <button class="btn btn-outline view-doc">View Documents</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
