<link rel="stylesheet" href="/css/calendar.css">





<div class="main-page">

    <!-- <h1>Capivara123</h1> -->
    <div class="top-part-calendar">
        <a href="#"><img class="cal-back-arrow" src="/images/backbutton.png" alt=""></a>
        <h3 class="cal-head">Create Calendar</h3>
    </div>
    <div class="rest-part">
        <div class="import-button">
            <button class="mid-button">Import</button>
        </div>
        <div class="calen-part">
            <div class="title">
                <h3 class="sno">S.no</h3> <span class="bar">| </span>
                <h3 class="Date"> &nbsp;Date</h3><span class="bar">| </span>
                <h3 class="Day">&nbsp;Day</h3><span class="bar">| </span>
                <h3 class="Holiday">&nbsp;Holiday</h3>
            </div>
            <div class="not-updated">
                <div class="sl">
                    1
                </div>
                <div class="inp-part">
                    <input type="date" placeholder="dd-mm-yy">
                </div>
                <div class="calen-day">
                    Wednesday
                </div>
                <div class="calen-holi">
                    <div class="name-holi">
                        <input type="text" placeholder="blah blah blah day">
                    </div>
                    <div class="save-butt">
                        <button>
                            save
                        </button>
                    </div>
                    <div class="cross-symbol">
                        <button><img src="/images/cross2.png" alt="*"></button>
                    </div>
                </div>
            </div>
            <div class="updated">
                <div class="sl">
                    1
                </div>
                <div class="inp-part">
                    <p>26/10/2002</p>
                </div>
                <div class="calen-day">
                    Monday
                </div>
                <div class="calen-holi" id="part2">
                    <div class="name-holi">Blah Blah blah Day</div>
                    <div class="cross-symbol">
                        <button><img src="/images/dustbin.png" alt="*"></button>
                    </div>
                </div>
            </div>
            <div class="updated">
                <div class="sl">
                    1
                </div>
                <div class="inp-part">
                    <p>26/10/2002</p>
                </div>
                <div class="calen-day">
                    Monday
                </div>
                <div class="calen-holi" id="part2">
                    <div class="name-holi">Blah Blah blah Day</div>
                    <div class="cross-symbol">
                        <button><img src="/images/dustbin.png" alt="*"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-button">
            <button><img src="/images/plus.png" alt=""></button>
        </div>

    </div>


</div>