<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css">
    <link rel="stylesheet" href="/assets/css/calendar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Montserrat:wght@100;200&family=Poppins:wght@300;400&display=swap" rel="stylesheet">

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/contact.png" alt="" /></span>
                            <span class="tab-name">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="manager-logo-div">
                <img class="manager-logo" src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
            </div>
            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>


        <div class="main-page">

            <div>
                <img class="dash-manipal-vec" src="../../assets/images/manipal-vector.png" alt="" />
            </div>
            <!-- <h1>Capivara123</h1> -->
            <div class="top-part-calendar">
                <a href="#"><img class="cal-back-arrow" src="../../assets/images/backbutton.png" alt=""></a>
                <h3 class="cal-head">Create Calendar</h3>
            </div>
            <div class="rest-part">
                <div class="import-button">
                    <button class="mid-button">Import</button>
                </div>    
                <div class="calen-part">
                    <div class="title">
                        <h3 class="sno">S.no</h3> <span class="bar">| </span>
                        <h3 class="Date"> &nbsp;Date</h3><span class="bar">| </span>
                        <h3 class="Day">&nbsp;Day</h3><span class="bar">| </span>
                        <h3 class="Holiday">&nbsp;Holiday</h3>
                    </div>
                    <div class="not-updated">
                        <div class="sl">
                            1
                        </div>
                        <div class="inp-part">
                            <input type="Date" placeholder="dd-mm-yy">
                        </div>
                        <div class="calen-day">
                            Wednesday
                        </div>
                        <div class="calen-holi">
                            <div class="name-holi">
                                <input type="text" placeholder="blah blah blah day">
                            </div>
                            <div class="save-butt">
                                <button>
                                       save
                                 </button>
                            </div>
                            <div class="cross-symbol">
                                <button><img src="../../assets/images/cross2.png" alt="*"></button>
                            </div>
                        </div>
                    </div>
                    <div class="updated">
                        <div class="sl">
                            1
                        </div>
                        <div class="inp-part">
                            <p>26/10/2002</p>
                        </div>
                        <div class="calen-day">
                            Monday
                        </div>
                        <div class="calen-holi" id="part2">
                            <div class="name-holi" >Blah Blah blah Day</div>
                            <div class="cross-symbol">
                                <button><img src="../../assets/images/dustbin.png" alt="*"></button>
                            </div>
                        </div>
                    </div>
                    <div class="updated">
                        <div class="sl">
                            1
                        </div>
                        <div class="inp-part">
                            <p>26/10/2002</p>
                        </div>
                        <div class="calen-day">
                            Monday
                        </div>
                        <div class="calen-holi" id="part2">
                            <div class="name-holi" >Blah Blah blah Day</div>
                            <div class="cross-symbol">
                                <button><img src="../../assets/images/dustbin.png" alt="*"></button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="add-button">
                    <button><img src="../../assets/images/plus.png" alt=""></button>
                </div>

            </div>

            
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>