<link rel="stylesheet" href="<%= assetPath('css/calendar.css') %>" />
<div class="main-page">
  <div class="page-heading">
    <a href="/admin/dashboard"
      ><img src="/images/allotarrow.png" alt="" id="back_buttn"
    /></a>
    <h1 class="heading">Create Calendar</h1>
  </div>
  <div class="import-button">
      <button class="btn btn-outline btn-medium">Import</button>
  </div>
  <div class="rest-part">
    <ul>
      <li> Sno </li>
      <li> Date </li>
      <li> Day </li>
      <li> Holiday</li>
    </ul>
  </div>
  <form action="/admin/addholiday" method="post"> 
      <div class="notupdated">
     
        <ul>
          <li>
            1
          </li>
          <li>
            <input class="inputbox" type="date" placeholder="dd-mm-yy">
          </li>
          <li>
            Saturday
          </li>
          <li>
            <input type="text" class="inputbox" id="" placeholder="blah blah blah day">
            <button class="btn-save">Save</button>
            <button class="del-btn">
              <img src="/images/cross2.png" alt="">
            </button>
          </li>
        </ul>
      </div>  
      </form>
        
      <div class="updated">
        <ul>
          <li>
            1
          </li>
          <li>
            26/10/2002
          </li>
          <li>
            Saturday
          </li>
          <li>
            <p>Blah Blah Blah Day</p>
            <button class="updated-btn"><img src="/images/dustbin.png" alt="*" /></button>
          </li>
        </ul>
      </div>
    <div class="add-button">
      <button class="add-btn"><img src="/images/plus.png" alt="" /></button>
    </div>
  </div>
</div>

<!-- 
<div class="description">
    <div class="description__titles">
        <ul>
            <li>Sr No.</li>
            <li>Date</li>
            <li>Day</li>
            <li>Holiday</li>
        </ul>
    </div>
    <div class="description-scroll">

   
    </div>
</div> -->
