<link rel="stylesheet" href="<%= assetPath('css/admin-deactivate.css') %>" />

<div class="main-page">
  <div class="blur">
    <div class="main__content">
      <div class="page-heading">
        <a href="/admin/dashboard"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
            />
          </svg>
        </a>
        <h1 class="heading">Deactivate Account</h1>
      </div>
      <div class="main-section" id="section2">
        <div class="section-header">
          <div class="filters">
            <select
              id="departmentSelect"
              class="filter-select"
              onchange="updateCourseSelect()"
            >
              <option value="">Department</option>
            </select>

            <select
              id="courseSelect"
              class="filter-select"
              onchange="updateSemesterSelect()"
            >
              <option value="">Course</option>
            </select>

            <select id="semesterSelect" class="filter-select">
              <option value="">Semester</option>
            </select>
          </div>
          <div class="buttons">
            <button onclick="openmodal()" id="act-btn" class="act-btn btn btn-outline">
              Activate
            </button>
            <button id="deact-btn" class="deact-btn btn btn-full">
              Deactivate
            </button>
          </div>
        </div>

        <div class="description">
          <div class="description__titles">
            <ul>
              <li>Sl.No</li>
              <li>Registration No</li>
              <li>Name</li>
              <li><input type="checkbox" name="" id="checkall" checked /></li>
            </ul>
          </div>
          <div class="description-scroll">
            <form action="/admin/deactivate/account" method="post" id="formid">
              <div class="description__list" id="stud_list"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popup"></div>
  <div class="popup-item">
    <p class="popup-hed">Confirm Deactivation ?</p>
    <div class="action-btn">
      <span id="cross" class="cross act-btn"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="4vw"
          fill="#FFFFFF"
        >
          <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
          <path
            d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z"
          />
        </svg>
      </span>
      <button onclick="submitform()">
        <span id="check" class="check act-btn"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="4vw"
            fill="#9EFF00"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29 5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"
            />
          </svg>
        </span>
      </button>
    </div>
  </div>
  <!-- activate popup -->
  <div class="modal" id="reset-max">
    <div class="flex-container">
      <div class="test-type">
        <p id="poptitle">Activate Account</p>
        <span class="close" id="" onclick="closemodal()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="2vw"
            fill="#FFFFFF"
          >
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M13.89 8.7L12 10.59 10.11 8.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 8.7 13.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l1.89 1.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l1.89-1.89c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.38-1.41 0zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
            />
          </svg>
        </span>
      </div>
      <div class="popup-content">
        <div id="maximum-marks">
          <p>Enter Registration No</p>
        </div>
        <div id="input-part">
         
            <div>
              <input
                type="number"
                name="maxMarks"
                class="popup-input"
                onclick="addsub()"
                min="0"
                max="200"
                list="defaultNumbers"
                id="marks-input"
              />
            </div>
            <button
              class="btn btn-full"
              id="MaxMarksBtn"
              onclick="closemodal()"
            >
              Save
            </button>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const popupa = document.querySelector(".popup");
  const modala = document.querySelector(".modal");
  function openmodal() {
    popup.style.display = "flex";
    modala.style.display = "flex";
  }
  function closemodal() {
    modala.style.display = "none";
    popup.style.display = "none";
  }
</script>
<script>
  const deactkBtn = document.getElementById("deact-btn");
  const cross = document.getElementById("cross");
  const popup = document.querySelector(".popup");
  const modal = document.querySelector(".popup-item");

  deactkBtn.addEventListener("click", function () {
    popup.style.display = "flex";
    modal.style.display = "flex";
  });
  cross.addEventListener("click", function () {
    popup.style.display = "none";
    modal.style.display = "none";
  });

  let checkAllRadios = document.getElementById("checkall");
  let otherRadios = document.querySelectorAll(".radios");

  checkAllRadios.addEventListener("change", function () {
    if (this.checked) {
      otherRadios.forEach(function (radio) {
        radio.checked = true;
      });
    } else {
      otherRadios.forEach(function (radio) {
        radio.checked = false;
      });
    }
  });
</script>
<script>
  var departmentSelect = document.getElementById("departmentSelect");
  var courseSelect = document.getElementById("courseSelect");
  var semesterSelect = document.getElementById("semesterSelect");

  departmentSelect.addEventListener("change", updateCourseSelect);
  courseSelect.addEventListener("change", updateSemesterSelect);
  let u = <%- JSON.stringify(locals.deptSem) %>;
  let data = u;
  function updateDepartmentSelect() {

    var departments = [...new Set(data.map(item => item.department))];

    for (var i = 0; i < departments.length; i++) {
      var option = document.createElement("option");
      option.text = departments[i];
      option.value = departments[i];
      departmentSelect.appendChild(option);
    }
  }

  function updateCourseSelect() {
    var selectedDepartment = departmentSelect.value;

    courseSelect.innerHTML = "";
    semesterSelect.innerHTML = "";

    if (selectedDepartment) {
      var departmentData = data.filter(item => item.department === selectedDepartment);
      var courses = [...new Set(departmentData.map(item => item.course))];
      var option = document.createElement("option");
      option.text = "Course";
      courseSelect.appendChild(option);
      for (var i = 0; i < courses.length; i++) {
        var option = document.createElement("option");
        option.text = courses[i];
        option.value = courses[i];
        courseSelect.appendChild(option);
      }
    } else {
      var option = document.createElement("option");
      option.text = "Course";
      courseSelect.appendChild(option);
    }

    // After updating the course select, also update the semester select
    updateSemesterSelect();
  }

  function updateSemesterSelect() {
    var selectedDepartment = departmentSelect.value;
    var selectedCourse = courseSelect.value;

    semesterSelect.innerHTML = "";

    if (selectedDepartment && selectedCourse) {
      var departmentCourseData = data.filter(item => item.department === selectedDepartment && item.course === selectedCourse);
      var semesters = [...new Set(departmentCourseData.map(item => item.semester))];
      var option = document.createElement("option");
      option.text = "Semester";
      semesterSelect.appendChild(option);
      for (var i = 0; i < semesters.length; i++) {
        var option = document.createElement("option");
        option.text = semesters[i];
        option.value = semesters[i];
        semesterSelect.appendChild(option);
      }
    } else {
      var option = document.createElement("option");
      option.text = "Semester";
      semesterSelect.appendChild(option);
    }
  }

  // Call the update functions initially to load the selects dynamically
  updateDepartmentSelect();
  updateCourseSelect();
  $(document).ready(function() {
    // Attach an event handler to the select element
    $('#semesterSelect').change(function() {
      // Get the selected value
      var selectedValue = $(this).val();
      var dept = document.getElementById('departmentSelect').value;
      var course = document.getElementById('courseSelect').value;


      // Send the AJAX GET request
      $.ajax({
        type: 'GET',
        url: '/admin/deactivate/search',
        data: {
          dept: dept,
          course: course,
          sem: selectedValue // Pass the selected value to the server
        }, // Replace with your server endpoint URL
        success: function(response) {
            console.log(response.studentlist);
        //   // Handle the successful response from the server
          let domstring = '';
          let stud = response.studentlist
        //   console.log(stud);
          for(let i = 0; i<stud.length; i++){
            domstring = domstring + `<ul>
                                <li>${i+1}</li>
                                <li>${stud[i].username}</li>
                                <li>${stud[i].name}</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value="${stud[i].username}"
                                            ></li>
                            </ul>`
          }
          $('#stud_list').html(domstring)
        },
        error: function(xhr, status, error) {
          // Handle errors
          console.error('AJAX request failed.');
          console.log(error);
        }
      });
    });
  });
</script>
<script>
  function submitform() {
    document.getElementById("formid").submit();
  }
</script>
