<link rel="stylesheet" href="<%= assetPath('css/admin-deactivate.css') %>">

<div class="main-page">
    <div class="blur">
        <div class="main__content">
            <div class="page-heading">
                <a href="/admin/dashboard"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
                  /></svg
              ></a>
                <h1 class="heading">Deactivate Account</h1>
            </div>
            <div class="main-section" id="section2">
                <div class="section-header">
                    <div class="filters">
                        <select class="filter-select" name="" id="">
                            <option value="Department">Department</option>
                            <option value="IT">IT</option>
                            <option value="CSE">CSE</option>
                          </select>
                          <select class="filter-select" name="" id="">
                            <option value="Course">Course</option>
                            <option value="IT">IT</option>
                            <option value="CSE">CSE</option>
                          </select>
                          <select class="filter-select" name="" id="">
                            <option value="Section">Section</option>
                            <option value="IT">IT</option>
                            <option value="CSE">CSE</option>
                          </select>
                        
                    </div>
                    <button id="deact-btn" class="deact-btn btn btn-full"> Deactivate  </button>
                </div>

                <div class="description">
                    <div class="description__titles">
                        <ul>
                            <li>Sl.No</li>
                            <li>Registration No</li>
                            <li>Name</li>
                            <li>Email Id</li>
                            <li>Mobile No</li>
                            <li><input type="checkbox" name="" id="checkall" checked></li>
                        </ul>
                    </div>
                    <div class="description-scroll">
                        <div class="description__list">
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                            <ul>
                                <li>01</li>
                                <li>202100423</li>
                                <li>Srijan Dev</li>
                                <li>srijan_202100423@smit.smu.edu.in</li>
                                <li>8789334294</li>
                                <li><input type="checkbox" name="check" class="radios" id="" value=""
                                            checked></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup">
      </div>
          <div class="popup-item">
            <p class="popup-hed">Confirm Deactivation ?</p>
            <div class="action-btn">
                <span id="cross" class="cross act-btn"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="4vw" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm4.3 14.3c-.39.39-1.02.39-1.41 0L12 13.41 9.11 16.3c-.39.39-1.02.39-1.41 0-.39-.39-.39-1.02 0-1.41L10.59 12 7.7 9.11c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L12 10.59l2.89-2.89c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41L13.41 12l2.89 2.89c.38.38.38 1.02 0 1.41z"/></svg></span>
                <span id="check" class="check act-btn"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="4vw" fill="#9EFF00"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29 5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg></span>
            </div>
        </div>
</div>

<script>
    const deactkBtn = document.getElementById("deact-btn");
    const cross  = document.getElementById("cross");
    const popup = document.querySelector(".popup");
    const modal = document.querySelector(".popup-item");

    deactkBtn.addEventListener("click", function(){
        popup.style.display = "flex";
        modal.style.display = "flex";
    })
    cross.addEventListener("click", function(){
        popup.style.display = "none";
        modal.style.display = "none";
    
    })


    let checkAllRadios = document.getElementById("checkall");
let otherRadios = document.querySelectorAll(".radios");

checkAllRadios.addEventListener("change", function(){
	if(this.checked){
		otherRadios.forEach(function(radio){
			radio.checked = true;
		});

	}else{
		otherRadios.forEach(function(radio){
			radio.checked = false;
		});
	}
});



</script>