<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
        <link rel="stylesheet" href="../../assets/scss/tg_report.css">
</head>

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/contact.png" alt="" /></span>
                            <span class="tab-name">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="manager-logo-div">
                <img class="manager-logo" src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
            </div>
            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>


        <div class="main-page">

            <div>
                <img class="dash-manipal-vec" src="../../assets/images/manipal-vector.png" alt="" />
            </div>
            <div class="page-heading">
                <a href="/admin/dashboard"
                  ><img src="/assets/images/lefty_arrow.png" alt="" id="back_buttn"
                /></a>
                <h1 class="heading">TG Report</h1>
              </div>
              <div class="dropdown-button">
                <select class="options" id="op-one"> 
                    <option value="" disabled selected>Branch</option>
                    <option value="btech">B.tech</option> 
                    <option value="mtech">M.tech</option> 
                    <option value="phd">P.hd</option> 
                    <option value="BBA">BBA</option> 
                </select>
                <select class="options" > 
                    <option value="" disabled selected>Semester</option>
                    <option value="one">I</option> 
                    <option value="two">II</option> 
                    <option value="three">III</option> 
                    <option value="four">IV</option> 
                    <option value="five">V</option> 
                    <option value="six">VI</option> 
                    <option value="seven">VII</option> 
                    <option value="eight">VIII</option> 
                </select>
              </div>
              <div class="rest-part2">
                <ul>
                  <li> Sno </li>
                  <li> Name </li>
                  <li> Registration No </li>
                  <li> Email</li>
                  <li> Mobile no</li>
                </ul>
              </div>
              <div class="newpart">
                  <div class="notupdated2">
                    <ul>
                      <li>
                        1
                      </li>
                      <li>
                        Chewang Dukpa
                      </li>
                      <li>
                        202100188
                      </li>
                      <li>
                        chewang_202100188@smit.smu.edu.in 
                      </li>
                      <li>
                        <p class="p-tag">7908459551</p>
                        <button class="btn-save">Profile</button>
                        <button class="btn-save">Internals</button>
                        </button>
                      </li>
                    </ul>
                  </div> 
                  <div class="notupdated2">
                    <ul>
                      <li>
                        1
                      </li>
                      <li>
                        norsang Tshering Bhutia
                      </li>
                      <li>
                        202100188
                      </li>
                      <li>
                        chewang_202100188@smit.smu.edu.in 
                      </li>
                      <li>
                        <p class="p-tag">7908459551</p>
                        <button class="btn-save">Profile</button>
                        <button class="btn-save">Internals</button>
                        </button>
                      </li>
                    </ul>
                  </div>  

                  <div class="notupdated2">
                    <ul>
                      <li>
                        1
                      </li>
                      <li>
                        Chewang Dukpa
                      </li>
                      <li>
                        202100188
                      </li>
                      <li>
                        chewang_202100188@smit.smu.edu.in 
                      </li>
                      <li>
                        <p class="p-tag">7908459551</p>
                        <button class="btn-save">Profile</button>
                        <button class="btn-save">Internals</button>
                        </button>
                      </li>
                    </ul>
                  </div>  
                </div>
                  <div class="last-part">
                    <span>Click here to send all mails to the respective Parents <button class="btn-save">mail</button></span>
                </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>