

    <link rel="stylesheet" href="<%= assetPath('css/login.css') %>" />
    <link rel="stylesheet" href="<%= assetPath('css/error.css') %>" />

  </head>
  <body>
    <section class="error-msg">
      <img src="<%= assetPath('images/ecmanager.png') %>" alt="" />
      <div class="center-container">
        <h1>404</h1>
        <p><span>Ooops!</span> Page Not Found</p>
        <a href="/">HOMEPAGE</a>
      </div>
    </section>
  </body>
</html>
