
<link rel="stylesheet" href="<%= assetPath('css/login.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/error.css') %>" />

  </head>
  <body>
    <section class="error-msg">
      <a href="/"><img src="/images/MANAGER LOGO 3 white 3.png" alt="" /></a>
      <div class="center-container">
        <h1>404</h1>
        <p><span>Ooops!</span> You exceeded the login limit</p>
        <a class="homepage" href="/">HOMEPAGE</a>
      </div>
    </section>
  </body>
</html>
