<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/scss/navbar.css" />
    <link rel="stylesheet" href="../assets/scss/adminhome.css" />
    <link rel="stylesheet" href="../assets/scss/dashboard-calendar.css" />
    <link rel="stylesheet" href="../assets/scss/card.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main-container">
      <div class="navbar">
        <div class="nav-smit-logo">
          <img src="../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
        </div>
        <div class="tabs">
          <ul>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/dashboard.png" alt=""
                /></span>
                <span class="tab-name">Dashboard</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/PROFILE ICON.png" alt=""
                /></span>
                <span class="tab-name">Profile</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/Edit-ID.png" alt=""
                /></span>
                <span class="tab-name">Edit ID</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/Allot-subject.png" alt=""
                /></span>
                <span class="tab-name">Allot Subject</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/timetable.png" alt=""
                /></span>
                <span class="tab-name">Timetable</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/Change-semester.png" alt=""
                /></span>
                <span class="tab-name">Semester</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/Feedback.png" alt=""
                /></span>
                <span class="tab-name">Feedback</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/Report.png" alt=""
                /></span>
                <span class="tab-name">Report</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/setting.png" alt=""
                /></span>
                <span class="tab-name">Settings</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../assets/images/signout.png" alt=""
                /></span>
                <span class="tab-name" id="1">Sign Out</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="nav-manipal-vector">
          <img src="../assets/images/manipal-vector.png" alt="" />
        </div>
      </div>

      <div class="main-background">
        <div>
          <img
            class="main-background-manipal-vector"
            src="../assets/images/manipal-vector.png"
            alt=""
          />
        </div>

        <!--Home Page ADMIN-->

        <div class="heading">
          <div>
            <h1 class="head">Administrator Dashboard</h1>
            <h4 class="welcome-msg">
              Welcome back, <span id="name">AmnUllh !</span>
            </h4>
          </div>

          <div class="admin-info">
            <div>
              <img class="img" src="../assets/images/AG.jpg" alt="" />
            </div>
            <div class="adm">
              <h1 class="adm-name">Md Amanullah</h1>
              <p class="adm-info">Professor and HOD <br />Department of CSE</p>
            </div>
          </div>
        </div>

        <div class="search-box">
          <div>
            <input type="text" class="search-input" placeholder="Search" />
          </div>
          <div class="add">
            <a class="add-button">
              Add Teacher
              <img src="../assets/images/add.png" alt="" />
            </a>
            <a class="add-button">
              Add Student
              <img src="../assets/images/add.png" alt="" />
            </a>
          </div>
        </div>

        <div class="teachers">
          <h1 class="hed">My Teachers</h1>
          <div class="main-carousel-container">
            <div class="controller left-control">
              <img
                class="control-img"
                src="../assets/images/left-arrow.png"
                alt=""
              />
            </div>
            <div class="carousel-container">
              <div class="carousel">
                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Srijan</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Rohan</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Amnullh</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Om Sinkar</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Arnab</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Chewang</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>

                <div class="slide sl">
                  <div>
                    <div class="teacher">
                      <img class="img" src="../assets/images/AG.jpg" alt="" />
                      <div>
                        <h1>Nitant</h1>
                        <p>Associate Professor<br />202100205</p>
                      </div>
                    </div>
                    <div class="slide-btn">
                      <button class="btn btn-profile">View Profile</button>
                      <button class="btn btn-msg">Message</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controller right-control">
              <img src="../assets/images/right-arrow.png" alt="" />
            </div>
          </div>
        </div>

        <div class="footer">
          <div class="pichart"></div>

          <div class="card card5 adm-calendar">
            <!-- <div class="card-hed">
                  <p>Calender</p>
                </div> -->
            <div class="wrapper">
              <header>
                <div class="icons calendar-hed">
                  <!-- <span id="prev" class="material-symbols-rounded">chevron_left</span> -->
                  <!-- <img src="../assets/images/back.png" id="prev" class="icon-fp" alt="" srcset=""> -->
                  <div>
                    <span id="prev" class="icon-fp"
                      ><ion-icon name="chevron-back-outline"></ion-icon
                    ></span>
                  </div>
                  <div class="current-DATE">
                    <p class="current-date"></p>
                    <p class="current-year"></p>
                  </div>
                  <div>
                    <span id="next" class="icon-fp"
                      ><ion-icon name="chevron-forward-outline"></ion-icon
                    ></span>
                  </div>
                  <!-- <span id="next" class="material-symbols-rounded">chevron_right</span> -->
                  <!-- <img src="../assets/images/forward.png" id="next" class="icon-fp" alt="" srcset=""> -->
                </div>
              </header>
              <div class="calendar">
                <ul class="weeks">
                  <li>Sun</li>
                  <li>Mon</li>
                  <li>Tue</li>
                  <li>Wed</li>
                  <li>Thu</li>
                  <li>Fri</li>
                  <li>Sat</li>
                </ul>
                <ul class="days"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../assets/js/dashboard-calendar.js"></script>
  </body>
</html>
