<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <%- style %>
</head>
<body>
    <% if(!title == "Login") {%>
     <!-- TODO later after sigin is working -->
    <%}%>

        <%- body %>

        
</body>
</html>