<link rel="stylesheet" href="/css/login.css" />
<title>
  <%= title%>
</title>
<!-- Srijan change this to import -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
  rel="stylesheet" />
<div class="logo-title">
  <img src="/images/smit-logo.png" alt="SMIT Logo" />
</div>
<section class="container-main">
  <div class="container-left">
    <img class="logo-smit" src="/images/manipal-vector.png" alt="" />
  </div>
  <div class="container-right">
    <form class="login-form" method="POST" action="/users/create-session">
      <div class="ecampus-logo">
        <img src="/images/ecmanager.png" alt="Ecampus Manager Logo SMIT" />
      </div>
      <div class="form-content">
        <input name="username" class="form-input" id="form-input-user" type="text" placeholder="Username" pattern="\d{4}|\d{9}"
          title="Please Enter a valid username" required />
      </div>
      <div class="form-content">
        <input class="form-input" name="password" id="form-input-password" type="password" placeholder="Password" required />
      </div>
      <div class="form-button">
        <span class="btn-rememberme">
          <input type="checkbox" name="Remember" id="btnRememberMe" />
          <label for="btnRememberMe">Remember me</label>
        </span>
        <span class="btn-forgotpass desktop-view">
          <a href="#" id="btnForgotPass" type="button">
            Forgot Password ?
          </a>
        </span>
      </div>
      <div class="form-signin">
        <span class="btn-signin">
          <button id="btnSignIn" type="submit">Sign In</button>
        </span>
        <span class="btn-outlook">
          <button id="btnOutlook" type="button">
            <span class="mobile-view">Continue with </span>
            <img src="/images/outlook.png" alt="Outlook Login" />
          </button>
        </span>
      </div>
      <div class="mobile-view">
        <div class="form-button">
          <span class="btn-forgotpass">
            <a id="btnForgotPass" type="button"> Forgot Password ? </a>
          </span>
        </div>
      </div>
      <div class="form-info">
        <p>
          Note: For student, use registration number as Username and 123 as
          password if it is not change!
        </p>
      </div>
    </form>
  </div>
</section>
<script type="text/javascript" src="/js/login.js"></script>