<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/css/studenthome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="border">
        <div class="nav">
            <div class="Logo">
                <img src="../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="">
            </div>
            <div class="options">
              <ul>
                  <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/dashboard.png" alt=""></span>
                            <span class="title">Dashboard</span>
                        </a>    
                  </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/attendance.png" alt=""></span>
                            <span class="title">Attendance</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/internals.png" alt=""></span>
                            <span class="title">Internals</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/notes.png" alt=""></span>
                            <span class="title">Notes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/assignmeny.png" alt=""></span>
                            <span class="title">Assignments</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/Feedback.png" alt=""></span>
                            <span class="title">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/PROFILE ICON.png" alt=""></span>
                            <span class="title">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span  class="icon"><img src="../assets/images/contact.png" alt=""></span>
                            <span class="title">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                                <span  class="icon"><img src="../assets/images/signout.png" alt=""></span>
                                <span class="title" id="1">Sign Out</span>
                        </a>
                        
                    </li>
                    
                </ul>
            </div>
            <div class="logomanipal"></div>
        </div>

        <div class="main-page">
            <div class="heading">
                <div class="dash-heading">
                        <h1 class="head1">Dashboard</h1>
                        <h4 class="head2">Welcome back,<span id="name"> Chong!</span></h4>

                </div>
                    <div class="ecampus">
                        <img src="../assets/images/MANAGER LOGO 3 white 3.png" alt="">
                    </div>
                </div>
            </div>    
    </div>
</body>
</html>