<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css">
    <link rel="stylesheet" href="../../assets/scss/allotstudent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/contact.png" alt="" /></span>
                            <span class="tab-name">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="manager-logo-div">
                <img class="manager-logo" src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
            </div>
            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>


        <div class="main-page">

            <div>
                <img class="dash-manipal-vec" src="../../assets/images/manipal-vector.png" alt="" />
            </div>
           <div class="allot-student">
                <div class="sub-heading">
                        <div id="plus-button">
                                <a href="#"><img src="../../assets/images/allotarrow.png"></a>
                        </div>
                        <div id="allot-head">
                            <h3>Allot subjects to Students</h3>
                        </div>
                </div>
                <div class="main-content">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="anchor-content">
                                    <div class="row1">
                                        <span class="sub-code">IT-1409 &nbsp;</span>
                                        <span class="sub-name">Computer Architecture and organisation </span> 
                                    </div>
                                    <div class="row2">
                                        <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
                                        <span class="department">department : <span class="bold-part">CSE &nbsp;</span></span>
                                        <span class="section">section : <span class="bold-part">B &nbsp;</span></span>
                                    </div>
                                </div>
                                <button>
                                    <img src="../../assets/images/plusallot.png">
                                    <span>
                                        Add Students
                                    </span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>