<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css" />
    <link rel="stylesheet" href="../../assets/scss/attendance-view.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="main-container">
      <div class="navbar">
        <div class="nav-smit-logo">
          <img src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
        </div>
        <div class="tabs">
          <ul>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/dashboard.png" alt=""
                /></span>
                <span class="tab-name">Dashboard</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/PROFILE ICON.png" alt=""
                /></span>
                <span class="tab-name">Profile</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/Allot-subject.png" alt=""
                /></span>
                <span class="tab-name">Allot Subject</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/contact.png" alt=""
                /></span>
                <span class="tab-name">Contact</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/setting.png" alt=""
                /></span>
                <span class="tab-name">Settings</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/signout.png" alt=""
                /></span>
                <span class="tab-name" id="1">Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="nav-manipal-vector">
          <img src="../../assets/images/manipal-vector.png" alt="" />
        </div>
      </div>

      <div class="main-page">
        <!-- <div>
                <img class="dash-manipal-vec" src="../../assets/images/manipal-vector.png" alt="" />
            </div>
             -->

        <div id="title">
          <img
            src="../../assets/images/left-arrow.png"
            alt=""
            id="back_arrow"
          />
          <h1 class="subject" id="sub_code">IT-1403</h1>
          <h1 class="subject" id="sub_title">
            Computer Organization and Architechture
          </h1>
        </div>

        <section class="att-navbar">
          <div class="container">
            <div id="tab-1" class="tab-item tab-border">
              <p class="hed-day">Attendance</p>
            </div>
            <div id="tab-2" class="tab-item">
              <p class="hed-day">Internal Marks</p>
            </div>
            <div id="tab-3" class="tab-item">
              <p class="hed-day">Notes</p>
            </div>
          </div>
        </section>
        <section class="tab-content">
          <div class="container">
            <!-- Tab Content 1 -->
            <div id="tab-1-content" class="tab-content-item show">
              <div class="tab-header">
                <select
                  id="att-choose"
                  class="att-chose minimal"
                  name="att-chose"
                >
                  <option value="view">View</option>
                  <option value="Attendance">Attendance</option>
                </select>
                <div class="search-input">
                  <input type="text" placeholder="Search" />
                  <div class="search-btn">
                    <a href="#">Search</a>
                  </div>
                </div>
                <div class="export-btn">
                  <a href="#">Export to excel</a>
                </div>
              </div>
              <section class="student-info">
                <div class="profile-info">
                  <div class="image">
                    <img
                      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
                      alt=""
                    />
                  </div>
                  <div class="student__details">
                    <h3 class="name">Srijan Dev</h3>
                    <p class="registration">202100423</p>
                  </div>
                </div>
                <div class="attendance-info">
                  <p>Attendance Percentage: <span>76%</span></p>
                  <div>
                    <p>Present:<span>23</span></p>
                    <p>Absent:<span>5</span></p>
                  </div>
                </div>
              </section>
              <section class="attendance-list">
                <main class="main-row">
                <div class="col1">
                 
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
                <div class="col1">
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
          
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
                <div class="col1">
                
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
                <div class="col1">
                
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
                <div class="col1">
                
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
                <div class="col1">
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
               
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                  <div class="att-date">
                    <p>26/04/23</p>
                    <input type="checkbox" checked>
                  </div>
                </div>
              </main>
              </section>
            </div>

            <!-- Tab Content 2 -->
            <div id="tab-2-content" class="tab-content-item">
              <h1>internal marks</h1>
            </div>

            <!-- Tab Content 3 -->
            <div id="tab-3-content" class="tab-content-item">
              <h1>notes</h1>
            </div>
          </div>
        </section>
      </div>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../../assets/js/attendance.js"></script>
  </body>
</html>
