<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Feedback</title>
    <link rel="stylesheet" href="../../assets/css/navbar.css">
    <link rel="stylesheet" href="../../assets/scss/assignment.css">
    <link rel="stylesheet" href="../../assets/scss/create-feedback.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Edit-ID.png" alt="" /></span>
                            <span class="tab-name">Edit ID</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/timetable.png" alt="" /></span>
                            <span class="tab-name">Timetable</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Change-semester.png" alt="" /></span>
                            <span class="tab-name">Semester</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Feedback.png" alt="" /></span>
                            <span class="tab-name">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Report.png" alt="" /></span>
                            <span class="tab-name">Report</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>

        <div class="main-page">
            <div class="blur">
                <!-- - - - - - - - - - - -->
                <!-- Write you code here -->
                <!-- - - - - - - - - - - -->
                <div class="title-header">
                    <div class="title">
                        <img src="../../assets/images/lefty_arrow.png " alt=""><span>Create Feedback
                    </div></span>

                </div>
                <div class="containers">
                    <div class="options ">
                        <select name="Depart" id="dept-box">
                            <option value="" id="">Dept</option>
                        </select>
                        <select name="course" id="dept-box">
                            <option value="" id="">Course</option>
                        </select>
                        <select name="sem" id="dept-box">
                            <option value="" id="">Semester</option>
                        </select>
                        <div class="deadline-container">
                            <label for="" id="deadline">Set deadline :</label>
                            <select name="deadline" id="deadline-date">
                                <option value="" id="">12/32/23</option>
                            </select>
                        </div>
                    </div>
                    <button class="creat-feed">
                        Create Feedback <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M450-450H230q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T230-510h220v-220q0-12.75 8.675-21.375 8.676-8.625 21.5-8.625 12.825 0 21.325 8.625T510-730v220h220q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T730-450H510v220q0 12.75-8.675 21.375-8.676 8.625-21.5 8.625-12.825 0-21.325-8.625T450-230v-220Z"/></svg>
                    </button>
                </div>
                <div class="main-table">
                    <div class="description">
                        <div class="description__titles">
                            <ul>
                                <li>S.No</li>
                                <li>Department</li>
                                <li>Course</li>
                                <li>Semester</li>
                                <li>Deadline</li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="description-scroll">
                            <div class="description__list">
                                <ul>
                                    <li>1</li>
                                    <li>IT</li>
                                    <li>B.Tech</li>
                                    <li>5th</li>
                                    <li>12-34-2003</li>
                                    <li><button class="btn btn-outline view-doc">View</button></li>
                                </ul>

                                <ul>
                                    <li>1</li>
                                    <li>IT</li>
                                    <li>B.Tech</li>
                                    <li>5th</li>
                                    <li>12-34-2003</li>
                                    <li><button class="btn btn-outline view-doc">View</button></li>
                                </ul>

                                <ul>
                                    <li>1</li>
                                    <li>IT</li>
                                    <li>B.Tech</li>
                                    <li>5th</li>
                                    <li>12-34-2003</li>
                                    <li><button class="btn btn-outline view-doc">View</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../assets/js/assignment.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>