
    <link rel="stylesheet" href="/css/internalmarkspopup2.css">
    



            <div class="popup2" id="reset-all">
                <div class="flex-container2">
                        <div class="confirm-text">
                            <p>Confirm Reset?</p>
                        </div>
                        <div class="buttons">
                            <button id="cross" onclick="closeresetmodal()"><img src="/images/cross.png"></button>
                            <button type="reset"id="tick" onclick="closeresetmodal()"><img src="/images/tick.png"></button>
                        </div>
                    </div>
                </div>
            </div>
