<link rel="stylesheet" href="/css/internalmarkspopup1.css">

<div class="popup" id="reset-max">
    <div class="flex-container">
        <div class="test-type">
            <p>QUIZ 1</p>
        </div>
        <div class="popup-content">
            <div id="maximum-marks">
                <p>Enter maximum marks</p>
            </div>
            <div id="input-part">
                <input type="text" id="marks-input">
                <button onclick="closemodal()">Save</button>
            </div>
            <div id="text-part">
                <p id="NB-part">N.B. Enter the maximum marks of the quiz test you <br> have conducted </p>
            </div>
        </div>
    </div>
</div>