<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet" />
</head>

<body>




            <div class="main__content">
                <div class="mode__and__button">
                    <div class="left">
                        <div class="selection__mode" id="selection__mode">
                            Select Mode
                            <div class="items">
                                <span>QUIZ I</span>
                                <span>QUIZ II</span>
                                <span>SESS I</span>
                                <span>SESS II</span>
                            </div>
                        </div>

                        <button class="reset" onclick="addsub()">Reset Max Marks</button>

                    </div>

                    <div class="right">
                        <button class="reset" onclick="resetmodel()">Reset</button>
                        <button class="save">Save</button>
                    </div>
                </div>
                
                <div class="list__main">
                    <div class="list__main__title">
                        <ul>
                            <li>S.No</li>
                            <li>Name</li>
                            <li>Registration No.</li>
                            <li>Marks (10)</li>
                            <li>Marks(5)</li>
                        </ul>
                    </div>

                    <div class="list__items">
                        <ul>
                            <li>01</li>
                            <li>Srijan Dev</li>
                            <li>202100423</li>
                            <li>
                                <input class="input-tag" type="text" name="" id="marks">
                            </li>
                            <li>5</li>
                        </ul>
                    </div>

                    <div class="list__items">
                        <ul>
                            <li>01</li>
                            <li>Srijan Dev</li>
                            <li>202100423</li>
                            <li>
                                <input class="input-tag" type="text" name="" id="marks">
                            </li>
                            <li>5</li>
                        </ul>
                    </div>
                    <div class="list__items">
                        <ul>
                            <li>01</li>
                            <li>Srijan Dev</li>
                            <li>202100423</li>
                            <li>
                                <input class="input-tag" type="text" name="" id="marks">
                            </li>
                            <li>5</li>
                        </ul>
                    </div>
                    <div class="list__items">
                        <ul>
                            <li>01</li>
                            <li>Srijan Dev</li>
                            <li>202100423</li>
                            <li>
                                <input class="input-tag" type="text" name="" id="marks">
                            </li>
                            <li>5</li>
                        </ul>
                    </div>
                    
                </div>
            </div>


    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>