<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/scss/attendance_internalmarks_reports.css">
    <title>Document</title>
</head>
<body>
    <div class="report_main">
        <div class="report_header">
            <div>SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY</div>
            <div>INTERNAL MARKS REPORT</div>
        </div>
        <div class="report_sbj">
            <div><span>IT 1505 </span>Design & Analysis of Algorithm</div>
            <div><span>Department: </span>IT</div>
            <div><span>Semester: </span>5</div>
            <div><span>Section: </span>A</div>
            <div>Mr Vikas Singh</div>
        </div>
        <div class="report">
            <table>
                <tr>
                    <th>Sl.No.</th>
                    <th>Name</th>
                    <th>Reg. No.</th>
                    <th>Quiz I</th>
                    <th>SESS I</th>
                    <th>QUIZ II</th>
                    <th>SESS II</th>
                    <th>ASSIGN</th>
                    <th>ATTDN</th>
                    <th>TOTAL</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>123456</td>
                    <td>4</td>
                    <td>14.5</td>
                    <td>4.5</td>
                    <td>13</td>
                    <td>0</td>
                    <td>5</td>
                    <td>45</td>
                </tr>
            </table>
            <span class="page-number">Page </span>
        </div>
    </div>
</body>
</html>