<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css">
    <link rel="stylesheet" href="../../assets/scss/notes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/contact.png" alt="" /></span>
                            <span class="tab-name">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="manager-logo-div">
                <img class="manager-logo" src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
            </div>
            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>


        <div class="main-page">
            <div id="title">
                <img src="../../assets/images/left-arrow.png" alt="" id="left-arrow">
                <h1 id="sub-code">IT-1403</h1>
                <h1 id="sub-title">Computer Organization Architecture</h1>
            </div>

            <div id="details">
                <h2><span class="detail-desciption">Year: </span><span class="detail-value">2nd</span></h2>
                <h2><span class="detail-desciption">Semester: </span><span class="detail-value">4th</span></h2>
                <h2><span class="detail-desciption">Section: </span><span class="detail-value">IT</span></h2>
            </div>

            <div id="filters-and-options">
                <div id="filters">
                    <div class="filter">All</div>
                    <div class="filter">Notes</div>
                    <div class="filter">PVQs</div>
                    <div class="filter">Sample Papers</div>
                    <div class="filter">Videos</div>
                </div>
                <div id="upload">
                    <h1 id="upload-title">Upload</h1>
                    <img src="../../assets/images/solar_upload-bold.png" alt="" id="upload-icon">
                </div>
            </div>

            <div id="notes-view">
                <table id="notes-list">
                    <tr id="header">
                        <th class="header-data">S.No</th>
                        <th class="header-data">File Name</th>
                        <th class="header-data">Date Uploaded</th>
                        <th class="header-data">File Size</th>
                        <th class="header-data">Chapters</th>
                        <th class="header-data"></th>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                    <tr class="note">
                        <td class="note-metadata">01</td>
                        <td class="note-data"><img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">Note1.pdf</td>
                        <td class="note-metadata">29-Feb-2023</td>
                        <td class="note-metadata">209kb</td>
                        <td class="note-metadata">1</td>
                        <td class="images"><img src="../../assets/images/ic_round-download.png" alt="" class="note-options"><img src="../../assets/images/fluent_delete-32-regular.png" alt="" class="note-options"></td>
                    </tr>
                </table>
            </div>

            <div>
                <img class="dash-manipal-vec" src="../../assets/images/manipal-vector.png" alt="" />
            </div>
            
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>