<link rel="stylesheet" href="<%= assetPath('css/settings.css') %>" />
<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/teacher/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          />
        </svg>
      </a>
      <h1 class="heading">Setting</h1>
    </div>
    <div class="main-content">
      <div class="ch-passwd-head">
        <span>Change Password :</span>
      </div>
      <form action="/teacher/changepassword" method="post" id="pass-form">
        <div class="pass-sec">
          <input
            type="password"
            name="oldpassword"
            placeholder="Old Password"
            required
          />
          <input
            type="password"
            name="newpassword"
            placeholder="New Password"
            required
          />
          <input
            type="password"
            name="new1password"
            placeholder="Confirm Password"
            required
          />
          <button id="save" type="submit">Save</button>
        </div>
      </form>
      <form action="/teacher/setting/update" id="toggleform" method="post">
        <div class="toggle-div">
          <div class="toggle-set">
            <div class="toggle-text">Hide Phone No:</div>
            <label class="toggle-switch">
              <input type="checkbox" id="toggle" name="hidephoneno" <%if(teacherdata.hidephoneno == 'on'){%> checked <%}%> />
              <span class="slider"></span>
            </label>
          </div>
          <div class="toggle-set">
            <div class="toggle-text">Hide Whatsapp No:</div>
            <label class="toggle-switch">
              <input type="checkbox" id="toggle1" name="hidewhatsappno" <%if(teacherdata.hidewhatsappno == 'on'){%> checked <%}%>/>
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  let updateform = function () {
    const newattform = $("#toggleform");
    $.ajax({
      type: "post",
      url: "/teacher/setting/update",
      data: newattform.serialize(),
    });
  };
  let toggleSwitch = document.getElementById("toggle");
  let toggleSwitch1 = document.getElementById("toggle1");

  toggleSwitch.addEventListener("change", function () {
    if (this.checked) {
        console.log("Switch is ON", this.checked, this.value);
      updateform();
    } else {
        console.log("Switch is OFF", this.checked);
      updateform();
    }
  });
  toggleSwitch1.addEventListener("change", function () {
    if (this.checked) {
      console.log("Switch is ON", this.checked);
      updateform();
    } else {
      console.log("Switch is OFF", this.checked);
      updateform();
    }
  });
</script>
