<link
  rel="stylesheet"
  href="<%= assetPath('css/teach-allot-student-2.css') %>"
/>
<div class="main-page">
  <div class="blur">
    <div class="allot-student">
      <div class="page-heading">
        <a href="/teacher/dashboard"
          ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
            <path
              d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
            /></svg
        ></a>
        <h1 class="heading">Allot subjects to Students</h1>
      </div>
    </div>
    <div class="main-content">
      <ul>
        <li class="inside-main">
          <div class="anchor-content">
            <div class="row1">
              <span class="sub-code" name="subjectcode" value="hi">
                CS1841 &nbsp;
              </span>
              <span class="bold-part"> SIGNALS AND NETWORKS </span>
            </div>
            <div class="row2">
              <span>Year : <span class="bold-part">2021 &nbsp;</span></span>
              <span class="department"
                >Department : <span class="bold-part"> CSE &nbsp; </span></span
              >
              <span class="section"
                >Section : <span class="bold-part"> B &nbsp; </span></span
              >
            </div>
          </div>
          <div class="btn-div">
            <a href="#">
              <button class="btn btn-full btn-large">Save</button>
            </a>
          </div>
        </li>
      </ul>
      <div class="second-part">
        <div class="rest-part2">
          <ul>
            <li>Sno</li>
            <li>Name</li>
            <li>Registration No</li>
            <li><p class="dot"></p></li>
          </ul>
        </div>
        <div class="notupdated2">
          <ul>
            <li>1</li>
            <li>Norsang dhendup Bhutia</li>
            <li>202100188</li>
            <li>
              <input type="checkbox" class="butt" id="" />
            </li>
          </ul>
        </div>
        <div class="notupdated2">
          <ul>
            <li>1</li>
            <li>kavin wangdu dhendup bhutia</li>
            <li>202100188</li>
            <li>
              <input type="checkbox" class="butt" id="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
