<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/scss/tg_wards_attendance.css">
    <title>TG WARD'S ATTENDANCE REPORT</title>
</head>
<body>
    <div class="report_main">
        <div class="report_header">
            <div>SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY</div>
            <div>TG WARD'S ATTENDANCE REPORT</div>
        </div>
        <div>
        <div class="report_sbj">
            <div><span>TG Name: </span>Ashish Pradhan(3434)</div>
            <div><span>Attendance Percentage: </span>Below 75%</div>
        </div>
        <div class="report">
            <table>
                <tr>
                    <th colspan="2">Ward Name</th>
                    <th colspan="4">Subject Details</th>
                </tr>
                <tr class="table_head">
                    <td>Name</td>
                    <td>Reg. No.</td>
                    <td>Subject Name</td>
                    <td>CLC</td>
                    <td>CLA</td>
                    <td>PER</td>
                </tr>
                <tr>
                    <td>Amanullah</td>
                    <td>202100205</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1407 Operating System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td>Srijan Dev</td>
                    <td>202100423</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td>Om Sinkar</td>
                    <td>202100205</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1407 Operating System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1408 Software Enginerring</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td>Chewang</td>
                    <td>202100205</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
        <div class="report_sbj">
            <div><span>TG Name: </span>Ashish Pradhan(3434)</div>
            <div><span>Attendance Percentage: </span>Below 75%</div>
        </div>
        <div class="report">
            <table>
                <tr>
                    <th colspan="2">Ward Name</th>
                    <th colspan="4">Subject Details</th>
                </tr>
                <tr class="table_head">
                    <td>Name</td>
                    <td>Reg. No.</td>
                    <td>Subject Name</td>
                    <td>CLC</td>
                    <td>CLA</td>
                    <td>PER</td>
                </tr>
                <tr>
                    <td>Amanullah</td>
                    <td>202100205</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1407 Operating System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td>Srijan Dev</td>
                    <td>202100423</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
                <tr>
                    <td>Om Sinkar</td>
                    <td>202100205</td>
                    <td>CSE-1405 Enginerring Mathematics</td>
                    <td>23</td>
                    <td>12</td>
                    <td>65%</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>CSE-1406 Database Managmnet System</td>
                    <td>23</td>
                    <td>14</td>
                    <td>72%</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="report_sbj">
                <div><span>TG Name: </span>Ashish Pradhan(3434)</div>
                <div><span>Attendance Percentage: </span>Below 75%</div>
            </div>
            <div class="report">
                <table>
                    <tr>
                        <th colspan="2">Ward Name</th>
                        <th colspan="4">Subject Details</th>
                    </tr>
                    <tr class="table_head">
                        <td>Name</td>
                        <td>Reg. No.</td>
                        <td>Subject Name</td>
                        <td>CLC</td>
                        <td>CLA</td>
                        <td>PER</td>
                    </tr>
                    <tr>
                        <td>Amanullah</td>
                        <td>202100205</td>
                        <td>CSE-1405 Enginerring Mathematics</td>
                        <td>23</td>
                        <td>12</td>
                        <td>65%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>CSE-1406 Database Managmnet System</td>
                        <td>23</td>
                        <td>14</td>
                        <td>72%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>CSE-1407 Operating System</td>
                        <td>23</td>
                        <td>14</td>
                        <td>72%</td>
                    </tr>
                    <tr>
                        <td>Srijan Dev</td>
                        <td>202100423</td>
                        <td>CSE-1405 Enginerring Mathematics</td>
                        <td>23</td>
                        <td>12</td>
                        <td>65%</td>
                    </tr>
                </table>
            </div>
            </div>
        <span class="page-number">Page </span>
    </div>
</body>
</html>