<link rel="stylesheet" href="<%= assetPath('css/tgreport.css') %>" />

<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/teacher/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          />
        </svg>
      </a>
      <h1 class="heading">TG Report</h1>
    </div>

    <div class="main-cont">
      <div class="filter-section">
        <div class="dropdown-button">
          <select
            id="departmentSelect"
            class="filter-select"
            onchange="updateCourseSelect()"
          >
            <option value="">Department</option>
          </select>

          <select
            id="courseSelect"
            class="filter-select"
            onchange="updateSemesterSelect()"
          >
            <option value="">Select a course</option>
          </select>

          <select id="semesterSelect" class="filter-select">
            <option value="">Select a semester</option>
          </select>
        </div>
        <div class="transfer">
          <a href="/teacher/tg/parentresponse" class="btn btn-outline">Parents Response</a>
          <a href="/teacher/tg/transferward" class="btn btn-full transfer-btn">
            Transfer Wards
            <svg
              xmlns="http://www.w3.org/2000/svg"
              enable-background="new 0 0 24 24"
              viewBox="0 0 24 24"
              width="1.5vw"
              fill="#FFFFFF"
            >
              <rect fill="none" height="24" width="24" />
              <path
                d="M12,2C6.48,2,2,6.48,2,12c0,5.52,4.48,10,10,10s10-4.48,10-10C22,6.48,17.52,2,12,2z M12.91,18.15 c-0.31,0.31-0.85,0.09-0.85-0.35v-0.8c-0.02,0-0.04,0-0.06,0c-1.28,0-2.56-0.49-3.54-1.46c-1.43-1.43-1.81-3.52-1.14-5.3 c0.19-0.51,0.86-0.64,1.24-0.25l0,0c0.22,0.22,0.27,0.54,0.17,0.82c-0.46,1.24-0.2,2.68,0.8,3.68c0.7,0.7,1.62,1.03,2.54,1.01v-0.94 c0-0.45,0.54-0.67,0.85-0.35l1.62,1.62c0.2,0.2,0.2,0.51,0,0.71L12.91,18.15z M15.44,14.02L15.44,14.02 c-0.22-0.22-0.27-0.54-0.17-0.82c0.46-1.24,0.2-2.68-0.8-3.68c-0.7-0.7-1.62-1.04-2.53-1.02c0,0,0,0,0,0v0.94 c0,0.45-0.54,0.67-0.85,0.35L9.46,8.18c-0.2-0.2-0.2-0.51,0-0.71l1.62-1.62c0.31-0.31,0.85-0.09,0.85,0.35v0.81 c1.3-0.02,2.61,0.45,3.6,1.45c1.43,1.43,1.81,3.52,1.14,5.3C16.48,14.28,15.82,14.41,15.44,14.02z"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="description">
        <div class="description__titles">
          <ul>
            <li>Sl.No</li>
            <li>Name</li>
            <li>Registration No</li>
            <li></li>
          </ul>
        </div>
        <div class="description-scroll">
          <div class="description__list" id="stud_list">
            <ul>
              <li>01</li>
              <li>Srijan Dev</li>
              <li>202100413</li>
              <li>
                <div class="infor-check">
                  <div class="select-menu">
                    <div class="select-btn task-items">
                        <span class="sBtn-text">Profile/Internals</span>
                    </div>
                    <ul class="options" id="att-choose">
                        <a href="#">
                            <li class="option" value="view">
                                <span class="option-text">Profile</span>
                            </li>
                        </a>
                        <a href="#">
                            <li class="option" value="view">
                                <span class="option-text">Internals</span>
                            </li>
                        </a>
                    </ul>
                </div>
                </div>
             
              <a href="/teacher/tg/tgsendmail" class="btn btn-full">Send Mail</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="last-part">
        Click here to send all mails to the respective Parents
        <button class="btn btn-full btn-sm">Mail</button>
      </div>
    </div>
  </div>
</div>

<script>
  var departmentSelect = document.getElementById("departmentSelect");
  var courseSelect = document.getElementById("courseSelect");
  var semesterSelect = document.getElementById("semesterSelect");

  departmentSelect.addEventListener("change", updateCourseSelect);
  courseSelect.addEventListener("change", updateSemesterSelect);
  let u = <%- JSON.stringify(locals.deptSem) %>;
  let data = u;
  function updateDepartmentSelect() {

    var departments = [...new Set(data.map(item => item.department))];

    for (var i = 0; i < departments.length; i++) {
      var option = document.createElement("option");
      option.text = departments[i];
      option.value = departments[i];
      departmentSelect.appendChild(option);
    }
  }

  function updateCourseSelect() {
    var selectedDepartment = departmentSelect.value;

    courseSelect.innerHTML = "";
    semesterSelect.innerHTML = "";

    if (selectedDepartment) {
      var departmentData = data.filter(item => item.department === selectedDepartment);
      var courses = [...new Set(departmentData.map(item => item.course))];
      var option = document.createElement("option");
      option.text = "Course";
      courseSelect.appendChild(option);
      for (var i = 0; i < courses.length; i++) {
        var option = document.createElement("option");
        option.text = courses[i];
        option.value = courses[i];
        courseSelect.appendChild(option);
      }
    } else {
      var option = document.createElement("option");
      option.text = "Course";
      courseSelect.appendChild(option);
    }

    // After updating the course select, also update the semester select
    updateSemesterSelect();
  }

  function updateSemesterSelect() {
    var selectedDepartment = departmentSelect.value;
    var selectedCourse = courseSelect.value;

    semesterSelect.innerHTML = "";

    if (selectedDepartment && selectedCourse) {
      var departmentCourseData = data.filter(item => item.department === selectedDepartment && item.course === selectedCourse);
      var semesters = [...new Set(departmentCourseData.map(item => item.semester))];
      var option = document.createElement("option");
      option.text = "Semester";
      semesterSelect.appendChild(option);
      for (var i = 0; i < semesters.length; i++) {
        var option = document.createElement("option");
        option.text = semesters[i];
        option.value = semesters[i];
        semesterSelect.appendChild(option);
      }
    } else {
      var option = document.createElement("option");
      option.text = "Semester";
      semesterSelect.appendChild(option);
    }
  }

  // Call the update functions initially to load the selects dynamically
  updateDepartmentSelect();
  updateCourseSelect();
  // $(document).ready(function () {
  //   // Attach an event handler to the select element
  //   $('#semesterSelect').change(function () {
  //     // Get the selected value
  //     var selectedValue = $(this).val();
  //     var dept = document.getElementById('departmentSelect').value;
  //     var course = document.getElementById('courseSelect').value;


      // Send the AJAX GET request
    //   $.ajax({
    //     type: 'GET',
    //     url: '/feecell/dashboard/search',
    //     data: {
    //       dept: dept,
    //       course: course,
    //       sem: selectedValue // Pass the selected value to the server
    //     }, // Replace with your server endpoint URL
    //     success: function (response) {
    //       // Handle the successful response from the server
    //       let domstring = '';
    //       let stud = response.studdata
    //       console.log(stud);
    //       for (let i = 0; i < stud.length; i++) {
    //         domstring = domstring + `<ul>
    //                             <li>01</li>
    //                             <li>Srijan Dev</li>
    //                             <li>202100423</li>
    //                             <li>IT</li>
    //                             <li>B.Tech</li>
    //                             <li>5th</li>
    //                             <li>7.8</li>
    //                             <li>0</li>
    //                         </ul>`
    //       }
    //       $('#stud_list').html(domstring)
    //     },
    //     error: function (xhr, status, error) {
    //       // Handle errors
    //       console.error('AJAX request failed.');
    //       console.log(error);
    //     }
    //   });
    // });
  // });
</script>

<script>
  let checkAllRadios = document.getElementById("checkall");
  let otherRadios = document.querySelectorAll(".radios");

  checkAllRadios.addEventListener("change", function () {
    if (this.checked) {
      otherRadios.forEach(function (radio) {
        radio.checked = true;
      });
    } else {
      otherRadios.forEach(function (radio) {
        radio.checked = false;
      });
    }
  });
</script>


<script>
    const optionMenu = document.querySelector(".select-menu"),
    selectBtn = optionMenu.querySelector(".select-btn"),
    options = optionMenu.querySelectorAll(".option"),
    sBtn_text = optionMenu.querySelector(".sBtn-text");
  selectBtn.addEventListener("click", () =>
    optionMenu.classList.toggle("active")
  );

  options.forEach((option) => {
    option.addEventListener("click", () => {
      let selectedOption = option.querySelector(".option-text").innerText;
      // sBtn_text.innerText = selectedOption;
      optionMenu.classList.remove("active");
    });
  });
  document.addEventListener("click", (event) => {
    if (!optionMenu.contains(event.target)) {
      optionMenu.classList.remove("active");
    }
  });
</script>