<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/scss/tg_semester_report.css">
    <title>TEACHER GUARDIAN REPORT</title>
</head>
<body>
    <div class="report_main">
        <div class="report_header">
            <div>SIKKIM MANIPAL INSTITUTE OF TECHNOLOGY</div>
            <div>TEACHER GUARDIAN REPORT FOR B.TECH (CSE)(4/B)-IV SEMESTER STUDENTS</div>
            <div>(FOR SECOND SESSIONAL AND SECOND QUIZ EXAMINATION 2023)</div>
        </div>

        <div class="report_desc">
            <div>To: <span>XYZBVGFHJVH</span></div>
            <div>G/O: <span>Srijan Dev</span></div>
            <div>Email: <span>abc@gmail.com</span>  Report also mailed on: <span>1234567890</span></div>
            <div><span>Respected Shri/Smt G/O</span></div>
            <div>1. This is regarding the performance report of your ward <span>Srijan Dev</span> bearing Adm. No/ Reg.No. <span>202100423</span> of <span>CSE</span> Deaprtment in <span>5</span> Semester, 2023.</div>
            <div>2. The details of Second Sessional Marks obatined out of 50, Second Quiz Marks obtained out of 5 and the corresponding attendance in percentage, calculated against hte total number of classesd attended, is sgown below:-</div>
        </div>
      
        <div class="report">
            <table>
                <tr>
                    <th rowspan="2">Sl No</th>
                    <th rowspan="2">Subject Name</th>
                    <th rowspan="2">Final Attendance (%)</th>
                    <th rowspan="2">Maximum Marks in the Section (Out of 50)</th>
                    <th colspan="2">Sessional II</th>
                    <th colspan="2">Quiz II</th>
                </tr>
                <tr>
                    <td class="th_head">Marks Obtained (Out of 50)</td>
                    <td class="th_head">Marks Obtained (Out of 15)</td>
                    <td class="th_head">Marks Obtained (Out of 10)</td>
                    <td class="th_head">Marks Obtained (Out of 5)</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>CS1403:DATABASE MANAGEMENT SYSTEMS(T)(Faculty Name: Tawal Kumar Koirala Contact Number : 9932389790)</td>
                    <td>86</td>
                    <td>48</td>
                    <td>50</td>
                    <td>15</td>
                    <td>8</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
        <div class="report_desc">
            3. The included marks break up is given below:-
         </div>
         <div class="report">
            <table class="marks_break">
                <tr>
                    <th>First sessional</th>
                    <th>First Quiz</th>
                    <th>Second Sessional</th>
                    <th>Second Quiz</th>
                    <th>Assignments/Tutorials</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>15</td>
                    <td>5</td>
                    <td>15</td>
                    <td>5</td>
                    <td>5</td>
                    <td>50</td>
                </tr>
            </table>
         </div>
         <div class="report_desc">
            <div>
               4. If a student has less than 75% attendance, he/she will be not allowed to appear in the end semsester examination. Your ward is aware of these regulations.
             </div>
             <div>
                5. Academics Performance: <span>Very Good/Good/ Satisfactory/ Unsatisfactory.</span><br>
                Advice of Tg: <span>Poor marks in some Subject</span>
             </div>
             <div>
                6. Discipilinary action: <span>Not Involved</span> <br>
                Advice of TG: <span></span> 
             </div>
             <div>
                7. Till date, your ward has a CGPA of <span>9.99</span> and <span>0</span> backpapers of previous semester(s). Further details are available at <span>https://smitresults.epizy.com</span>
             </div>
         </div>
         <div class="report_end">
            <div>
                Place: <b>SMIT, Majitar</b><br>
                Date: <b>10.08.2023</b>
            </div>
            <div>
                <b>Ashish Pradhan</b><br>
                Department of CSE<br>
                Mobile: 1234567890
            </div>
         </div>
         <!-- <span class="page-number">Page </span> -->
    </div>
</body>
</html>