<link rel="stylesheet" href="<%= assetPath('css/std-int.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-tg-sendmail.css') %>">
<div class="main-page">
    <div class="blur">
        <div class="page-heading">
            <!-- <a href="/student/dashboard"><img src="/images/allotarrow.png" alt="" id="back_buttn"></a> -->
            <a href="/teacher/tg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path
                        d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
                </svg></a>
            <h1 class="heading">Send Mail</h1>
        </div>
        <div class="main-section">
       
        <div class="main-table">
            <div>
                <div id="marks-display">
                    <table id="marks">
                        <tr id="markers">
                            <td></td>
                            <td class="mark-td mark-att" colspan="3">
                                <div>Attendance</div>
                            </td>
                            <td class="mark-td mark-int" colspan="6">
                                <div>Internal Marks</div>
                            </td>
                        </tr>
                        <tr id="tb-header">
                            <th>Subject Name</th>
                            <th>CLC</th>
                            <th>CLA</th>
                            <th>PER</th>
                            <th>QUIZ 1 <div class="max-marks">5</div>
                            </th>
                            <th>SESS 1 <div class="max-marks">15</div>
                            </th>
                            <th>QUIZ 2 <div class="max-marks">5</div>
                            </th>
                            <th>SESS 2 <div class="max-marks">15</div>
                            </th>
                            <th>ASSIGN <div class="max-marks">5</div>
                            </th>
                            <th>ATTND <div class="max-marks">5</div>
                            </th>
                            <th>TOTAL <div class="max-marks">50</div>
                            </th>
                        </tr>
                        <div class="table-scroll">
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                    <tr id="sub-row">
                                        <td class="subject">
                                            <div class="sub-inf">
                                                <div class="sub-code">
                                                    IT-3434
                                                </div>
                                                <div class="sub-title">
                                                   Engenieerign Mathematics (T)
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                           23
                                        </td>
                                        <td>
                                            23
                                        </td>
                                        <td>
                                            100%
                                        </td>
                                        
                                        <td>
                                            4.0
                                        </td>
                                        <td>
                                            12.0
                                        </td>
                                        <td>
                                            3.4
                                        </td>
                                        <td>
                                            13
                                        </td>
                                        <td>
                                           4
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            24
                                        </td>
                                    </tr>
                                
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div id="footnote">
            <div>
                <div class="note"><span class="note-tit">CLA :</span><span class="note-data">&nbsp;Classes
                        Conducted</span>
                </div>
                <div class="note"><span class="note-tit">CLC :</span><span class="note-data">&nbsp;Classes
                        Attended</span>
                </div>
                <div class="note"><span class="note-tit">PER :</span><span class="note-data">&nbsp;Percentage</span>
                </div>
                <div class="note"><span class="note-tit">ASSIGN :</span><span class="note-data">&nbsp;Assignment
                        Marks</span>
                </div>
                <div class="note"><span class="note-tit">ATTND :</span><span class="note-data">&nbsp;Attendance
                        Marks</span>
                </div>
            </div>
        </div> -->

            <section class="questions">
                <div>Academics Performance: <select class="filter-select" name="" id="">
                    <option value="Select">Select</option>
                    <option value="Very Good">Very Good</option>
                    <option value="Good">Good</option>
                    <option value="Satisfactory">Satisfactory</option>
                    <option value="Unsatisfactory">Unsatisfactory</option>
                </select></div>
                <div>Discipilinary Action: <select class="filter-select" name="" id="">
                    <option value="Select">Select</option>
                    <option value="Involved">Involved</option>
                    <option value="Not Involved">Not Involved</option>
                </select></div>
                <div class="remarks-div">Remarks: <textarea class="remarks-textarea"></textarea></div>
            </section>
            <div class="footer-btns">
                <button class="btn btn-full">Send Mail</button>
            </div>
                 
        </div>
    </div>
</div>