<link rel="stylesheet" href="<%= assetPath('css/result-analysis.css') %>">
<style>

</style>
<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a href="/teacher/result-analytics"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z" />
        </svg></a>
      <h1 class="heading">View Result Analysis</h1>
    </div>
    <main class="view-analysis-main">
      <ul class="analysis-list">
        <li id="camp">CAM_Projection</li>
        <li id="q1">Quiz 1</li>
        <li id="s1">Sess 1</li>
        <li id="q2">Quiz 2</li>
        <li id="s2">Sess 2</li>
        <li id="int">Internal</li>
        <li id="ext">External_new</li>
        <li id="fcoa">Final_CO_Attainment</li>
        <li id="poa">PO-Attainment</li>
        <li id="rcoa">Rubrics_CO_Attainment</li>
      </ul>
      <section class="analysis-table" id="table1">1</section>
      <section class="analysis-table" id="table2">2</section>
      <section class="analysis-table" id="table3">3</section>
      <section class="analysis-table" id="table4">4</section>
      <section class="analysis-table" id="table5">5</section>
      <section class="analysis-table" id="table6">6</section>
      <section class="analysis-table" id="table7">7</section>
      <section class="analysis-table" id="table8">8</section>
      <section class="analysis-table" id="table9">9</section>
      <section class="analysis-table" id="table10">10</section>
    </main>
  </div>
</div>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script type="text/javascript">
  (async () => {
    /* fetch and parse workbook -- see the fetch example for details */
    const workbook = XLSX.read(await (await fetch("..\\data\\template_result_analysis.xlsx")).arrayBuffer());

    let output = [];
    let worksheet = workbook.Sheets["CAM_Projection"];
    let html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table1.innerHTML = output.join("\n");
    
    output = [];
    worksheet = workbook.Sheets["Quiz 1"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table2.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Sess 1"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table3.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Quiz 2"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table4.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Sess 2"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table5.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Internal"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table6.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["External_new"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table7.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Final_CO_Attainment"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table8.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["PO_Attainment"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table9.innerHTML = output.join("\n");

    output = [];
    worksheet = workbook.Sheets["Rubrics_CO_Attainment"];
    html = XLSX.utils.sheet_to_html(worksheet);
    output.push(`<H3>${name}</H3>${html}`);
    table10.innerHTML = output.join("\n");
  })();
</script>

<script src="<%= assetPath('js/result-analysis.js') %>"></script>