$white-color : #fff;
$black-color : #000; 
$icon-bgcolor : #ffffff2e;
$icon-hover-color : #0000002e;

$btn-color: #fd6d08;
$btn-color-hover: #dc5c00;


$aliceblue : aliceblue;
$allot-sub-bgcolor :#F8D57B26;


$card-background-color: #f8d57b1e;
$card-border : #ffffff9a;
$card-head :#f8d0b4;
$profile-border : #fea769ac;
$circle-progress-color :#877b6f;
$pdf-color : #8a8787;
$Noti-old-color : #ffffff74;
$Noti-time-color : #ffffff63;

$select-btn-color:#00000024 ;
$white-color : #fff;
$options-bgcolor : #0000004b;
$options-hover-color: #282727;
$att-bgcolor : #f8d57b30;
$orange-color : #fd6d08;
