body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-page {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  //   margin: auto;
  //   vertical-align: middle;
  //    text-align: center;
  //    margin: auto;
  //    vertical-align: middle;
  // position: absolute;
  // z-index: 2;
}

.input-heading-1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

// .input-heading-2 {
//   font-size: 2.5rem;
//   margin: 2rem 0rem;
//   text-align: center;
// }
.input-heading-3 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.input-heading-4 {
  font-size: 1rem;
  display: none;
  /* margin: 2rem 0rem; */
  /* font-weight: 600; */
  /* text-align: center; */
}
.input-div {
  display: flex;
}
.form-set {
  margin: 0 1rem;
  margin-bottom: 0.8rem;
}

.form-text {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
}
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-submit {
  border-radius: 20px;
  border: none;
  background-color: #fd6d08;
  padding: 0.7rem 3rem;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 2rem 0;
  cursor: pointer;
  // margin-left: 33rem;
}
.input-submit:hover {
  background: #e66910;
}

.input-name {
  width: 260px;
  // height: 50px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: #f8d57b30;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 18px;
  font-weight: 500;
  // vertical-align: middle;
}

.input-name:focus {
  outline: none;
  border: 1px solid #fadb0e;
}

.input-name::placeholder {
  color: rgba(255, 255, 255, 0.315);
  font-size: 18px;
  font-weight: 500;
}

.input-page2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  vertical-align: middle;
  // visibility: hidden;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin-top: 0.75rem;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #fd6d08;
}

#form-list {
  height: 63vh;
  overflow-y: scroll;
}
#form-list::-webkit-scrollbar {
  display: none;
}

.btn-div {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.input-button {
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 3rem;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.bt-right {
  background-color: #fd6d08;
}
.bt-right:hover {
  background: #e66910;
}
.bt-left {
  border: 1.5px solid #e66910;
  background-color: #fd6e0844;
}

.bt-left:hover {
  background: #fd6e085f;
}
