body {
    font-family: "Montserrat", sans-serif;
    // background-color: #390300;
    color: white;
}

.input-page{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
//    text-align: center;
//    margin: auto;
//    vertical-align: middle;
    // position: absolute;
    // z-index: 2;
}

.input-heading-1{
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.input-heading-2{
    font-size: 2.5rem;
    margin: 2rem 0rem;
    /* font-weight: 600; */
    text-align: center;
}
.input-heading-3{
    font-size: 3.5rem;
    font-weight: 600;
}
.input-heading-4{
    font-size: 2.5rem;
    /* margin: 2rem 0rem; */
    /* font-weight: 600; */
    /* text-align: center; */
}
.input-div{
    display: flex;
    margin: 0 21rem;
    
}
.form-set{
    margin: 0 1rem;
}
.input-submit{
    // text-align: center;
    margin: auto;
    width: 10rem;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #FD6D08;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    // vertical-align: middle;
    margin: 2rem 0;
    // margin-left: 33rem;
}
.input-button{
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #FD6D08;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.input-name {
    width: 260px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #f8d57b30;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    // vertical-align: middle;
}

.input-name:focus {
    outline: none;
    border: 1px solid #fadb0e;
}

.input-name::placeholder {
    color: rgba(255, 255, 255, 0.315);
    font-size: 18px;
    font-weight: 500;
}

.input-page2{
    padding: 1rem;
    position: absolute;
    visibility: hidden;
}

.form-row{
    display: flex;
    margin-left: 2rem;
}
.form-text{
    margin: 1rem 0;
}
// #form-list{
//     position: absolute; 
//     height: 65vh;
//     overflow-y: scroll;
// }
// #form-list::-webkit-scrollbar {
//     display: none; 
// }






