.add-program-1 {
  display: flex;
  padding-left: 5rem;
  align-self: center;
  margin-top: 30px;
}

.prog-inp {
  width: 27vw;
  height: 7vh;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  padding-left: 1vw;
  font-size: 20px;
  color: white;
}
.prog-inp::placeholder {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.add-btn {
  width: 115px;
  height: 48px;
}
.add-program-1:nth-child(1) {
  margin-right: 3rem;
}
.options::selection {
  border: 1px solid orange;
}
input[type="text"]:focus {
  outline: 1px solid orange; /* oranges! yey */
  border: none;
}
input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.prog-div {
  width: auto;
  height: 50px;
  border-radius: 10px;
  background: rgba(248, 213, 123, 0.15);
  display: flex;
  align-items: center;
  gap: 1.5vw;
  padding: 0 1vw;
}
.prog-div p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.trash svg {
  fill: white;
  width: 2vw;
  transition: all 0.3s;
}
.trash svg:hover {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.387);
}
.prog-grid {
  padding: 6vh 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.add-dept {
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
#adddept {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}
.select-menu .select-btn {
  display: flex;
  justify-content: space-between;
  width: 12vw;
  padding: 1.1vh 1vw;
  align-items: center;
  background: #0000004d;
  border: 0.5px solid #fff;
  font-size: 2vh;
  font-weight: 400;
  border-radius: 1vw;
  cursor: pointer;
}

.select-btn i {
  font-size: 2vh;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}

.select-menu .options {
  position: absolute;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  background: #0000006c;
  backdrop-filter: blur(41);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
  margin: 0 0.5vw;
}

.select-menu.active .options {
  display: block;
}

.options .option {
  cursor: pointer;
  padding: 1vh 0;
  align-items: center;
  padding-left: 1vw;
  width: 11vw;
}

.options .option:hover {
  background: #282727;
}

.option .option-text {
  font-size: 2vh;
  color: #fff;
}

.searchdiv{
  display: flex;
  gap: 1vw;
}