@import './variables.scss';

.main-page{
  .blur{
      .allot-student{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .main-content{
          align-self: center;
          height: 79vh;
          overflow: auto;

          ul{

            li{
              border: 1px solid $white-color;
              padding: 1rem 1rem;
              margin-bottom: 1rem;
              border-radius: 15px;
              background-color: $allot-sub-bgcolor;
              width: 65vw;
              display: flex;
              justify-content: space-between;
              align-items: center;

              
               
               

                .anchor-content{
                  width: 560px;

                  .row1{
                    margin-bottom: 0.3rem;

                    .sub-code{
                      font-weight: 200;
                      font-size: 1.2rem;
                      color: $white-color;
                    }

                    .sub-name{
                      font-weight: 500;
                      font-size: 1.3rem;
                      color: $white-color;
                    }
                  }

                  .row2{
                    display: flex;
                    gap: 0.75vw;
                    font-weight: 300;
                    font-size: 17px;

                    .bold-part{
                      font-style: normal;
                      font-weight: 700;
                      font-size: 15px;
                    }
                  }
                }
                .btn-div{
                  display: flex;
                  gap: 0.75rem;
                }
              

            }
          }

        }
        .main-content::-webkit-scrollbar{
          display: none;
      }
      }
  }
}
