

body {
    color: #fff;
  }
  .att-navbar {
    border-right: none;
    margin: 0 auto;
  }
  
  .att-navbar .container {
    border-bottom: 1px solid #ffffff81;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 50rem;
  }
  
  .att-navbar .container > div {
    padding: 0.3rem 0;
  }
  
  .att-navbar .container > div:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .tab-border {
    background-color: #39030050;
    border-radius: 30px 30px 0px 0px;
  }
  
  /* Hide initial content */
  #tab-1-content,
  #tab-2-content,
  #tab-3-content {
    display: none;
    opacity: 0;
  }
  
  .show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
  }
  .att-chose {
    appearance: none;
    border: none;
    padding: 0.3rem 1rem;
    backdrop-filter: blur(12px);
    background: #00000014;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
  }
  .att-chose:focus {
    border: 1px solid #fada0e8f;
  }
  
  #sub_code {
    font-weight: lighter;
    margin: 0 1.5rem;
  }
  
  #back_arrow {
    width: 2rem;
  }
  
  #title {
    margin: 2rem 1rem;
    display: flex;
  }
  select {
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  select.minimal:focus {
    outline: 0;
  }
  
  .search-input {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    font-size: 1rem;
    color: #ffffff;
    backdrop-filter: blur(12px);
  }
  .search-btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fd6d08;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  .search-input input {
    border-radius: 20px;
    background: transparent;
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    width: 25rem;
  }
  
  .search-input input:focus {
    outline: none;
  }
  
  .search-input::placeholder {
    color: #ffffff7c;
  }
  
  .export-btn a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fd6d08;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
  }

  .tab-header {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }


  /* - - - - - - - - - - - - - - - -  */
  /*  student's attendance profile */
  /* - - - - - - - - - - - - - - - -  */
.student-profile{
    overflow-y: auto;
    max-height: 65vh;
}


.Alphabet{
    float: left;
    padding-top: 1rem;
}

.serial_naming{
    display:flex
}

.stu_list{
    float: left;
    padding-left: 3rem;
}

.postcard{
    background-color: rgba(255, 255, 255, 0.1);
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    text-align: center;
    margin : 0 1.5rem 1.5rem 0;
    overflow: auto;
}

.order{
    font-size: 2rem;
    font-weight: lighter;
    display: inline-block;
}

.stu_name_cards{
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;
}
.stu_name{
    font-weight: 500;
}
.stu_reg_no{
    font-weight: 100;
}
.mark{
    padding: 0;
    margin-left: 8.5rem;
    margin-top: 0.6rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}

.present{
    background-color: #24FF00;
}

.absent{
    background-color: #FF0000;
}

#list{
    padding-left: 1.2rem;
}
