.wrapper {
  position: absolute;
  border-radius: 10%;
  padding-top: 1.75vh;
}
.calendar-hed {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5vw;
}
header .icons span {
  height: 2.2vw;
  width: 2.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 2.5vh;
  user-select: none;
  border-radius: 50%;
  background-color: #ffffff2e;
}
header .icons span:hover {
  background-color: #0000002e;
}
header .current-DATE {
  font-size: 2.45vh;
  font-weight: 500;
  margin: auto;
  color: #fff;
}
.current-year {
  text-align: center;
  font-weight: 300;
}
.current-date {
  text-align: center;
}
.calendar{
  padding: 0 0.75vw;
}
.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  color: white;
  // width:  -webkit-calc(100% / 7);
  width:  14.28%;
  // width: calc(100vh / 7);
  font-size: 1.9vh;
}
.calendar .weeks {
  padding-top: 2.4vh;
  padding-bottom: 1.5vh;
}
.calendar .weeks li {
  font-weight: 400;
  color: #f5c8a78e;
  font-size: 1.9vh;
  cursor: default;
  text-align: center;
}
.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding: 1.3vh;
}
.days li.inactive {
  color: #aaa;
}
.days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 2.5vw;
  width: 2.5vw;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.days li.active::before {
  background: #00000043;
}