@import './variables.scss';

.cards {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 1vh 3vw;
 

  .card-col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
    .card {
      background-color: $card-background-color;
      border: 1px solid $card-border;
      border-radius: 20px;
      // backdrop-filter: blur(7px);
    }

    .card1 {
      height: 12vh;
      width: 53vw;
      padding: 0 1vw;
      color: $white-color;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .b1 {
        display: flex;

        .img {
          width: 4.5vw;
          height: 4.5vw;
          border-radius: 50%;
          border: 2px solid $profile-border;
          margin-right: 0.8vw;
        }
        .img:hover{
          opacity: 0.9;
        }

        div {
          .std-name {
            font-size: 2.5vh;
            font-weight: 600;
            line-height: 1.5;
          }

          .reg {
            font-weight: 100;
            font-size: 2.2vh;
          }
        }
      }

      .b2 {
        div {
          h1 {
            font-size: 1.9vh;
            font-weight: 500;
            line-height: 1.5;
          }

          h1 span {
            font-weight: 100;
          }
        }
      }

      .b3 {
        width: 14vw;

        h1 {
          font-size: 1.9vh;
          font-weight: 500;
          line-height: 1.5;
        }

        h1 span {
          font-weight: 100;
        }
      }

    }
    .card2 {
      height: 25vh;
      padding: 0 1vw;
      width: 53vw;
  
      .card-hed {
        p {
          padding-top: 1vh;
          font-size: 2.65vh;
          color: $card-head;
        }
       
  

      }
      .attendence-container {
        width: 50.75vw;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none;

        .attendence-percent {
          display: flex;
          gap: 3vw;
          padding-top: 2vh;
          padding-bottom: 3vh;

          .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .circle-progress {
              position: relative;
              width: 5vw;
              height: 5vw;
              border-radius: 50%;
              background: conic-gradient(#ffbd01 0deg, #00000068 0deg);
              display: flex;
              align-items: center;
              justify-content: center;

              .progress-val {
                position: relative;
                font-size: 2.3vh;
                font-weight: 600;
                color: $white-color;
              }
            }

            .circle-progress::before {
              content: "";
              position: absolute;
              width: 4.5vw;
              height: 4.5vw;
              background-color: $circle-progress-color;
              border-radius: 50%;
            }


            .sub-info {
              text-align: center;
              font-weight: 500;
              color: $white-color;
              margin-top: 1.5vh;

              .sub-code {
                font-size: 1.7vh;
                font-weight: 100;
              }

              .sub-name {
                font-size: 2.3vh;
              }
            }
          }
        }
      }
      .attendence-container::-webkit-scrollbar {
        display: none;
      }
    }
    .card3 {
      height: 37vh;
      width: 53vw;
      padding: 0 1vw;
  
      .card-hed {
        p {
          padding-top: 1vh;
          font-size: 2.65vh;
          color: $card-head;
        }
      }
    }
    .card4 {
      height: 34vh;
      width: 24vw;
      padding: 0 1vw;
  
      .card-hed {
        p {
          padding-top: 1vh;
          font-size: 2.65vh;
          color: $card-head;
          padding-bottom: 1.5vh;
        }
      }
  
      .content {
        height: 26vh;
        overflow-x: auto;
        overflow-y: auto;
        -ms-overflow-style: none;
  
        .notification {
          padding-bottom: 2vh;
          display: flex;
          gap: 0.5vw;
          justify-content: space-between;
  
          .text {
            font-size: 2vh;
  
            .old {
              color: $Noti-old-color;
            }
  
            .new {
              color: $white-color;
              font-weight: 400;
            }
  
            .time {
              color: $Noti-time-color;
              padding-top: 0.5vh;
              font-weight: 400;
              font-size: 1.5vh;
            }
          }
  
          .pdf {
            a {
              color: $white-color;
  
              .download-outline:hover,
              .pin-outline:hover {
                cursor: pointer;
                color: $pdf-color;
              }
            }
          }
        }
      }
      .content::-webkit-scrollbar {
        display: none;
      }
    }
    .card5 {
      width: 24vw;
      height: 42vh;
    }
  

    .saved, .noted svg{
      width: 1.5vw;
      fill: #fff;
      cursor: pointer;
    }

    .saved svg:hover,  .noted svg:hover{
      fill: #ffffff8a;
    }

    .announcements{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .saved-noty{
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .noty2{
      display: none;
    }

    .pdf a svg{
      width: 1.5vw;
      fill: #fff;
    }


    .card-internal, .mobile-header, .sidebar1 {
      display: none;
    }