.sub-sj {
  width: 20vw;
}

.xlsx_svg {
  width: 1.5vw;
  fill: white;
}

#marks {
  width: 78vw !important;
}

td:nth-child(3) {
  padding-left: 1vw;
  text-align: left;
}

#tb-header {
  th:nth-child(3) {
    width: 12vw !important;
  }
}

td {
  height: 4.5vh;
}

#marks-display::-webkit-scrollbar {
  display: none;
}

