/************************************************************************************************/
/*****************************************Student Feedback CSS***********************************/
/************************************************************************************************/

body {
    color: #fff;
}

/************************* Title Section ***************************/

#title {
    margin: 3rem 2rem;
    display: flex;
}

#back_arrow {
    width: 2rem;
}

#sub_title {
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

/*********************** Teacher's Feedback ***************************/

.feedback {
    display: grid;
}

.feed {
    padding: 0.8rem 5rem;
    display: flex;
    gap: 2rem;
}

.feed-card {
    display: flex;
    background-color: #f8d57b1e;
    border: 1px solid #ffffff9a;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    width: 50%;
    gap: 0.5rem;
}

.tch-pic img {
    width: 4.5rem;
    border-radius: 100%;
    border: 3px solid #fd6d08;
    margin-right: 1rem;
}

.tch-name {
    font-size: 1.5rem;
    font-weight: 500;
}

.tch-dtl {
    font-size: 0.9rem;
    font-weight: 100;
}

.feed-btn {
    margin-left: 8rem;
}

.feed-btn button {
    padding: 0.7rem 2rem;
    background: #e66203;
    border: 1px solid #fd6d08;
    backdrop-filter: blur(12px);
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.feed-btn button:hover {
    background: rgba(253, 109, 8, 0.3);
    border: 1px solid #fd6d08;
}