/************************************************************************************************/
/*****************************************Student Feedback CSS***********************************/
/************************************************************************************************/

$btn-color: #FD6D08;
$btn-color-hover: #ea6404;
body {
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}

/************************* Title Section ***************************/

#title {
    margin: 6vh 2vw;
    margin-bottom: 2.5vh;
    display: flex;
}

#back_arrow {
    width: 2vw;
}

#sub_title {
    font-size: 2.8vh;
    padding-left: 1.5vw;
}

/*********************** Teacher's Feedback ***************************/

.feedback {
    height: 75vh;
    overflow-y: auto;
}
.feedback::-webkit-scrollbar{
    display: none;
}

.feed {
    padding: 1.8vh 5vw;
    display: flex;
    justify-content: space-between;
}

.feed-card {
    display: flex;
    background-color: #f8d57b1e;
    border: 1px solid #ffffff9a;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vw;
    width: 35vw;
    gap: 0.5vw;
    height: 12.5vh;
}

.tch-pic img {
    width: 4.5vw;
    border-radius: 100%;
    border: 3px solid #fd6d08;
}

.tch-name {
    font-size: 2.2vh;
    font-weight: 500;
}

.tch-dtl {
    font-size: 1.9vh;
    font-weight: 100;
}

.feed-btn {
    margin: auto;
    margin-right: 0.1vw;

}
