@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap");

$btn-color: #fd6d08;
$btn-color-hover: #ea6404;

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Montserrat", sans-serif !important;
  text-decoration: none;
  color: #fff;
}

button,
input,
select {
  font-family: "Montserrat", sans-serif !important;
  color: #ffffff;
}

.btn {
  padding: 1vh 1.5vw;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 2vh;
  font-weight: 400;
  transition: all 0.3s;
}

.btn-full {
  background-color: $btn-color;
}

.btn-full:hover {
  background: $btn-color-hover;

}

.btn-outline {
  background: none;
  border: 1.5px solid $btn-color;
}

.btn-outline:hover {
  background: $btn-color;
  
}

.btn-sm{
  padding: 1.1vh 0;
    width: 6vw;

}

.btn-large{
    width: 13vw;
    height: 5.75vh;
}

.btn-medium{
    width: 8.6vw;
}


// Page Heading

.page-heading{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 3vh 0;
  margin-left: 5vh;
}

#back_buttn{
  width: 2.5vw;
}