.main-page{
    color: white;
}

.page-heading{
    display: flex;
    margin: 2.5vh 0 0 2.5vh;
}

.heading{
    display: inline-block;
    font-size: xx-large;
}

.subject{
    text-align: left;
    height: 8vh;
    background-color: #F8D57B1A;
    width: 30vw;
    padding-left: 10px;
}

.sub-code{
    font-weight: lighter;
}

.total-marks{
    background-color: #B78F301A;
}

#footnote{
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.note{
    display: inline;
}

.note-tit{
    font-weight: bold;

}

#marks-display{
    margin-left: 1vw;
    overflow: auto;
    height: 76vh;
}
#marks-display::-webkit-scrollbar{
    display: none;
}

#back_buttn{
    margin-right: 3.5vh;
    height: 5vh;
    width: 5vh;
}

#marks{
    width: 82vw;
    text-align: center;
    font-size: larger;
    border-collapse: collapse;
    color: white;
}
#marks th{
    border: 0.01px solid rgba(255, 255, 255, 0.2);
}
#marks td{
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    margin: 0;
    
}

#tb-header{
    background-color: #390300;
    opacity: 50%;
    height: 10vh;
}

#markers{
    display: flex;
    margin-left: 32vw;
    text-align: center;
}

#atten-marker{
    display: inline;
    background-color:#FFFFFF1A;
    width: 9vw;
    height: 3vh;
    text-align: center;
    margin-right: 2vw;
}

#inter-marker{
    display: inline;
    background-color:#FFFFFF1A;
    width: 38vw;
}