.main-page {
  color: white;
}

.page-heading {
  display: flex;
  align-items: center;
  margin: 2.5vh 0 0 2.5vh;
}

.heading {
  display: inline-block;
  font-size: 4vh;
}

.subject {
  text-align: left;
  height: 5vh;
  padding: 5px 0;
  background-color: #f8d57b1a;
  width: 17vw;
  padding-left: 1vw;
}

.sub-code {
  font-weight: 100;
  padding-right: 1vw;
  width: 6vw;
  font-size: 2vh;
}
.sub-title {
  text-align: left;
  font-size: 2vh;
}

.sub-inf {
  display: flex;
  align-items: center;
}
.total-marks {
  background-color: #b78f301a;
}

#footnote {
  display: flex;
  justify-content: center;
}
#footnote > div {
  margin-top: 2.5vh;
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

.note {
  display: inline;
  font-size: 1.75vh;
}

.note-tit {
  font-weight: 500;
}
.note-data {
  font-weight: 100;
}

#marks-display {
  overflow: auto;
  height: 73vh;
}
#marks-display::-webkit-scrollbar {
  display: none;
}

#back_buttn {
  margin-right: 3.5vh;
  height: 5vh;
  width: 5vh;
}

#marks {
  width: 75vw;
  text-align: center;
  font-size: larger;
  border-collapse: collapse;
  color: white;
}

#marks th {
  font-size: 1.75vh;
  font-weight: 300;
  border-right: 0.01px solid rgba(255, 255, 255, 0.2);
}
#marks th:last-child {
  border: none;
}
#marks th:first-child {
  border-top-left-radius: 10px;
}
#marks th:last-child {
  border-top-right-radius: 10px;
}

#marks td {
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  font-size: 2vh;
}

#tb-header {
  background-color: #390300d6;
  opacity: 50%;
  height: 6vh;
}

#tb-header th {
  width: 3vw;
}

// #markers {
//   display: flex;
//   margin-left: 27vw;
//   text-align: center;
//   margin-bottom: 0;
// }

// #atten-marker {
//   font-size: 2vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #ffffff1a;
//   width: 13vw;
//   height: 4vh;
//   text-align: center;
//   margin-right: 1.5vw;
//   border-top-left-radius: 7px;
//   border-top-right-radius: 7px;
// }

// #inter-marker {
//   font-size: 2vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #ffffff1a;
//   width: 28vw;
//   border-top-left-radius: 7px;
//   border-top-right-radius: 7px;
//   height: 4vh;
// }

.main-table {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark-td {
  border: none !important;
  // background-color: #ffffff1a;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.mark-td div{
  background-color: #ffffff1a;
  padding: 0.75vh 0;
  margin: auto;
}

.mark-att div{
  border-right: 0.5px solid #ffffff38 !important;
  border-top-left-radius: 10px;
  
}
.mark-int div{
  border-top-right-radius: 10px;
  
}

#markers > td{
  border: none !important;
}

