$white-color: #fff;

.main-page {
  .blur {
    .main-table {
      margin-top: 3vh;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        #marks-display {
          overflow: auto;
          height: 73vh;

          #marks-display::-webkit-scrollbar {
            display: none;
          }

          #marks {
            width: 75vw;
            text-align: center;
            font-size: larger;
            border-collapse: collapse;
            color: white;

            th {
              font-size: 1.75vh;
              font-weight: 300;
              border-right: 0.01px solid rgba(255, 255, 255, 0.2);
            }

            th:first-child {
              border-top-left-radius: 10px;
            }

            th:last-child {
              border-top-right-radius: 10px;
            }

            td {
              border: 0.5px solid rgba(255, 255, 255, 0.4);
              font-size: 2vh;
            }

            #markers {
              td {
                border: none !important;
              }
              .mark-td {
                border: none !important;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;

                div {
                  background-color: #ffffff1a;
                  padding: 0.75vh 0;
                  margin: auto;
                }
              }
              .mark-att {
                div {
                  border-top-left-radius: 10px;
                  border-right: 0.5px solid #ffffff38 !important;
                }
              }

              .mark-int {
                div {
                  border-top-right-radius: 10px;
                }
              }
            }
            #tb-header {
              background-color: #390300d6;
              opacity: 50%;
              height: 6vh;

              th {
                width: 3vw;
              }
            }
            #sub-row {
              .subject {
                text-align: left;
                height: 5vh;
                padding: 5px 0;
                background-color: #f8d57b1a;
                width: 17vw;
                padding-left: 1vw;

                .sub-inf {
                  display: flex;
                  align-items: center;

                  .sub-code {
                    font-weight: 100;
                    padding-right: 1vw;
                    width: 6vw;
                    font-size: 2vh;
                  }
                  .sub-title {
                    text-align: left;
                    font-size: 2vh;
                  }
                }
              }
              .total-marks {
                background-color: #b78f301a;
              }
            }
          }
        }
      }
    }
    #footnote {
      display: flex;
      justify-content: center;

      div {
        margin-top: 2.5vh;
        width: 75vw;
        display: flex;
        justify-content: space-between;

        .note {
          display: inline;
          font-size: 1.75vh;

          .note-tit {
            font-weight: 500;
          }

          .note-data {
            font-weight: 100;
          }
        }
      }
    }
  }
}