/* overridng */
.navbar {
    width: 16%;
    display: flex;
    flex-direction: column;
}
.nav-manipal-vector img {
    position: absolute;
    width: 16rem;
    height: 16rem;
    left: -6px;
    top: 450px;
    opacity: 0.07;
    z-index: -1;
}

.main-background{
    width: 84%;
    background: linear-gradient(112.35deg, rgba(255, 255, 255, 0.4) 1.41%, rgba(255, 255, 255, 0) 99.01%);
    backdrop-filter: blur(22px);
    border-radius: 55px;
    margin: 1rem;
}

.main-container{
    display: flex;
    width: 100%;
}

/* Main content */
.main__content{
    padding: 2rem 4rem;
}
.main__title{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.main__title button{
    background: none;
    border: none;
}
.main__title__name{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
}
.main__title__name span{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
}

/* year-sem-sec */
.year__sem__sec{
    padding: 0.8rem 4.5rem;
    color: #fff;
    display: flex;
    gap: 1.5rem;
}

/* attendence-marks-notes */
.attendence__marks__notes{
    border-bottom: 1px solid rgb(237, 237, 237);
    display: grid;
    margin: 2rem 8rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.attendence__marks__notes button{
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}
.attendence__marks__notes button h4{
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 0.5rem 2.5rem;
}
/* add this class by js to change the select */
.attendence__marks__notes .select{
    background: rgba(57, 3, 0, 0.6);
    border-radius: 20px 20px 0px 0px;
}

/* mode-and-button */
.mode__and__button{
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
}
.left,
.right{
    display: flex;
    gap: 1.5rem;
}
.selection__mode{
    position: relative;
    width: 166px;
    color: #fff;
    background: rgba(253, 109, 8, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.selection__mode::after{
    content: '\25BC';
    position: absolute;
    top: 8px;
    right: 0;
    color: #ffffff;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    font-size: 14px;
    margin: 0 1rem;
}
.left button{
    padding: 0 1.5rem;
    color: #fff;
    background: rgba(253, 109, 8, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
/* Handle with js to open and closed the dropdown menu */
.items {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 0 1rem;
    background: rgb(93 57 55);
    width: 100%;
    top: 37px;
    left: 0;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
/* Adding the active class */
.selection__mode.active .items{
    display: flex;
}
.selection__mode.active::after{
    content: '\25BC';
    transform: rotate(180deg);
}
.items span {
    padding: 0.3rem 0;
    border-bottom: 1px solid #ffffff76;
}
.items span:hover {
    color: #FD6D08;
}

.items span:last-child{
    border: none;
}

.right button{
    background: none;
    border: 3px solid #FD6D08;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 1.5rem;
    color: #fff;
}
.right .save{
    background: #FD6D08;
}

/* List */
.list__main{
    padding: 1rem 8rem;
}
.list__main__title ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    padding: 0.8rem 1rem;
    color: #fff;
    margin-bottom: 1rem;
}
.list__main__title ul li{
    font-size: 0.9rem;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.list__main__title ul li:nth-child(1),
.list__main__title ul li:nth-child(4){
    flex:1;
}
.list__main__title ul li:nth-child(2){
    flex:4;
}
.list__main__title ul li:nth-child(3){
    flex:3;
}

.list__main__title ul li:nth-child(5){
    flex: 1;
    border: none;
    display: flex;
    justify-content: center;
}

/* list-items */
.list__items{
    padding-bottom: 0.5rem;
}
.list__items ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgba(248, 213, 123, 0.15);    
    border-radius: 10px;
    padding: 0.4rem 1rem;
    color: #fff;
}
.list__items ul li input{
    background: rgba(0, 0, 0, 0.09);        
    border-radius: 5px;
    padding: 0.6rem 0.8rem;
    border: none;
    outline: none;
    width: 40px;
    color: #fff;
}
.list__items ul li:nth-child(1){
    flex:1;
}
.list__items ul li:nth-child(2){
    flex:4;
}
.list__items ul li:nth-child(3){
    flex:3;
}
.list__items ul li:nth-child(5),
.list__items ul li:nth-child(4){
    flex: 1;
    display: flex;
    justify-content: center;
}