:root {
  --scheme-color: #fd6d08;
  --invalid: red;
  --valid: hsl(130 52% 46%);
  --border-color: transparent;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden; /* for desktop  */
  overflow-y: hidden; /* for desktop  */
  font-family: "Montserrat", sans-serif;
}

.nexus img{
  width: 20rem;
  left: 50%;
  top: 1px;
  position: absolute;
}
.container-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*---------------------Left Section--------------------------------------*/

.container-left {
  width: 50vw;
  height: auto;
}

.logo-title {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.logo-title img {
  width: 16rem;
}
.logo-title .ecampus-ico {
  width: 13vw;
  height: 9%;
}

.logo-smit {
  width: 40rem;
  opacity: 0.15;
  display: block;
  margin: auto auto;
}

/*--------------------Right Section---------------------------------*/

.container-right {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 25rem;
  height: 30rem;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.196);
  background: linear-gradient(
    107.63deg,
    rgba(255, 255, 255, 0.304) -16.26%,
    rgba(255, 255, 255, 0) 100.97%
  );
  filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.18));
  backdrop-filter: blur(6.5px);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 3rem;
}
.login-form-pass {
  width: 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.196);
  background: linear-gradient(
    107.63deg,
    rgba(255, 255, 255, 0.304) -16.26%,
    rgba(255, 255, 255, 0) 100.97%
  );
  filter: drop-shadow(0px 4px 74px rgba(0, 0, 0, 0.18));
  backdrop-filter: blur(6.5px);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2.5rem 3rem 0 3rem;
}

.login-form .ecampus-logo img {
  width: 17rem;
}

.form-input-field{
display: flex;
flex-direction: column;
gap: 2.5rem;
}

.form-input-field >span {
  display: flex;
}

.login-form .form-input {
  width: 100%;
  height: 4rem;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  padding: 0.1rem 0.8rem;
  // margin: 0.75rem 0;
  color: #7b6e6e;
}

.login-form .form-content {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

#form-input-user {
  border: 2px solid var(--border-color);
}

#form-input-password {
  border: 2px solid transparent;
}

#form-input-user:invalid {
  --border-color: var(--invalid);
}
#form-input-user:placeholder-shown {
  --border-color: transform;
}
#form-input-user:valid {
  --border-color: var(--valid);
}

#form-input-user:invalid:not(:focus):not(:placeholder-shown) {
  animation: shake 0.2s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-2%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2%);
  }
}

.login-form .form-input::-webkit-inner-spin-button,
.login-form .form-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.login-form .form-button {
  display: flex;
  justify-content: flex-end;
}

// #btnRememberMe {
//   width: 1rem;
//   height: 1rem;
//   appearance: none;
//   -webkit-appearance: none;
//   vertical-align: middle;
//   background-color: transparent;
//   border: 1.5px solid #fff;
//   border-radius: 20px;
//   cursor: pointer;
// }

// #btnRememberMe:checked {
//   background-color: #fd6d08;
// }

// .login-form .btn-rememberme {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 0.9rem;
//   color: #ffffff;
// }

// .login-form .btn-rememberme label {
//   cursor: pointer;
// }

.login-form #btnForgotPass {
  border: none;
  //padding: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
  text-decoration: none;
  //padding: 0 105px;
  //width: 100vw;
  text-align: right;
  
}

#btnForgotPass:hover {
  color: #fd6d08;
}

.login-form .form-signin {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.login-form .btn-signin {
  width: 20rem;
}

.login-form #btnSignIn {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  background: #515151;
  border-radius: 1rem;

  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.4s;
}

#btnSignIn:hover {
  background-color: #fd6d08;
}



.login-form #btnOutlook {
  width: 4rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  padding: 0.5rem;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.login-form #btnOutlook img {
  width: 100%;
  height: auto;
}

.form-info {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}

/* Mobile View Items */
.mobile-view {
  display: none;
}

@media all and (max-width: 940px) {
  html{
    font-size: 35%;
  }
  .mobile-view {
    display: block;
  }

  body {
    width: 100svw;
    height: 100svh;
    background-image: url("../images/bg_phone.png");
  }

  .logo-title {
    display: flex;
    align-items: center;
    justify-content: center;

    left: 50%;
    right: 50%;
    top: 5rem;
  }

  .container-left {
    display: none;
  }

  .container-right {
    width: 100vw;
  }

  .login-form {
    width: 60rem;
    height: 75rem;
    justify-content: center;
    gap: 5rem;
    padding: 2.5rem 3rem 2.5rem 3rem;
    border-radius: 30px;
  }

  .logo-title img {
    margin: 3rem 0;
    width: 22rem;

  }

  .login-form .ecampus-logo img {
    width: 32rem;
  }
  .form-input-field {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

  .login-form .form-input {
    height: 8rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    padding: 2rem 2.5rem;
  }

  .login-form .mobile-view .form-button {
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
  }

  .login-form #btnForgotPass {
    font-size: 1.8rem;
    text-align:center;

  }
  .login-form .form-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .btn-signin,
  .btn-outlook {
    padding: 0;
    display: block;
    width: 100%;
  }


  .login-form #btnSignIn {
    height: 7rem;
    font-size: 2rem;
    border-radius: 1.5rem;
  }

  .btn-outlook span {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #ffffff;
    padding-right: 0.8rem;
  }
  .login-form .btn-signin {
    width: 100%;
  }

  .login-form #btnOutlook {
    margin-top: 1rem;
    width: 100%;
    padding: 0;
    border-radius: 1.5rem !important;
    height: 7rem;
  }
  .login-form #btnOutlook img {
    width: 3.5rem;
  }
  .desktop-view {
    display: none !important;
  }
}

// @media screen and (max-width: 376px) {

//   .login-form {
//     height: 80vh;
//   }
// }


/*--------------------------Passwowrd 1-------------------------*/

.login-form-pass .email-contents {
  //border: 1px solid black;
  padding: 2vh 0;
  height: 25vh;
  
  align-content: center;
}
.login-form-pass .title-head {
  font-size: 32px;
  font-weight: 600;
  height: 5vh;
}
.login-form-pass .title-line {
  //border: 1px solid #000;
  font-size: 14px;
  font-weight: 250;
  //width: ;
  //width: 800vw;
  //border: 1px solid black;
  margin-top: 7px;
}
.login-form-pass .email-area .email-head {
  font-size: 15px;
  margin-bottom: 1.6vh;
  font-weight: 400;
}
.login-form-pass .email-area .input-mail {
  width: 100%;
  height: 3rem;
  border-radius: 20px;
  text-align: left;
  padding-left: 2vw;
  font-weight: 500;
  border-style: none;
  margin-top: 1vh;
  color: #000;
}
.login-form-pass .email-area .input-mai:active {
  border-style: none;
}
.login-form-pass .email-area .continue-btn {
  width: 100%;
  height: 2.9rem;
  margin: 4.5vh 0;
  margin-bottom: 5vh;
  color: #fff;
  background-color: #515151;
  border-radius: 20px;
  width: 23vw;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
}
.login-form-pass .email-area .continue-btn:hover {
  background-color: #fd6d08;
}
.login-form-pass .back-login {
  //border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-top: 6vh;
  margin-right:  2vw;
  //margin-right: 28px; // checking req
  cursor: pointer;
}
.login-form-pass .back-login .arrow-ico {
  fill: #fff;
}
.login-form-pass svg {
  height: 25px;
}
.login-form-pass .page-no {
  //border: 1px solid black;
  display: flex;
  justify-content: space-between;
  //justify-content: center;
  width: 8vw;
  //padding: 0 120px;
  margin-top: 8vh;
  margin-bottom: 5vh;
}
.login-form-pass .page-no .circle {
  border: 1px solid rgba(255, 255, 255, 0.40);
  color:  rgba(255, 255, 255, 0.40);
  //opacity: 40%;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
}
.login-form-pass .circle-select{
  border: 1px solid rgb(255, 255, 255) !important;
  color:  rgb(255, 255, 255) !important;
}
.login-form-pass .page-no .circle:hover {
  background-color: #fd6d08;
}

/*-----reset Password------*/
.login-form-pass .title-line {
  margin-bottom: 3vh;
}
.login-form-pass .otp-content{
  //border: 1px solid black;
  margin-bottom: 1vh;
}

.login-form-pass .form-content {
  //border  : 1px solid black ;
  margin-top: 2vh;
}

.login-form-pass .form-content .form-input {
  width: 23vw;
  height: 3rem;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: left;
  padding: 0.1rem 0.8rem;
  //margin: 0.75rem 0;
  color: #7b6e6e;
}
.login-form-pass .submit-pass {
  height: 3rem;
  margin-top: 4vh;
  color: #fff;
  background-color: #515151;
  border-radius: 20px;
  width: 23vw;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 6.6vh;
}
.login-form-pass .submit-pass:hover {
  background-color: #fd6d08;
}

/*-----Send OTP------*/
.login-form-pass .title-line {
  width: 22.5vw;
  font-size: 12.5px;
}
.login-form-pass .title-line span {
  //font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-top: 7px;
}
.login-form-pass .otp {
  display: flex;
  margin-top: 2vh;
}
.login-form-pass .otp-head {
  font-size: 13px;
  padding-left: 10px;
}
.login-form-pass .otp .code {
  width: 4vw;
  margin: 0 0.9vw;
  border-style: none;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  height: 7.5vh;
  border-radius: 10px;
}
.login-form-pass .otp input::-webkit-outer-spin-button,
.login-form-pass .otp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.login-form-pass .continue-btn {
  width: 100%;
  height: 2.9rem;
  margin-top: 3vh;
  color: #fff;
  background-color: #515151;
  border-radius: 20px;
  width: 23vw;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
}
.login-form-pass .continue-btn:hover {
  background-color: #fd6d08;
}
.login-form-pass .resend {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  margin-top: 5vh;
  //margin-bottom: 3vh;
}
.login-form-pass .resend span {
  font-weight: 500;
}