/* overridng */
.navbar {
    width: 16%;
    display: flex;
    flex-direction: column;
}
.nav-manipal-vector img {
    position: absolute;
    width: 16rem;
    height: 16rem;
    left: -6px;
    top: 450px;
    opacity: 0.07;
    z-index: -1;
}

.main-background{
    width: 84%;
    background: linear-gradient(112.35deg, rgba(255, 255, 255, 0.4) 1.41%, rgba(255, 255, 255, 0) 99.01%);
    backdrop-filter: blur(22px);
    border-radius: 55px;
    margin: 1rem;
    position: relative;
}

/* Main content */
.main-container{
    display: flex;
    width: 100%;
}


.main__content{
    padding: 2rem 4rem;

    /* Added new */
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


/* Overlay */
.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
    display: none;
}
/* Adding the show class */
.overlay.show{
    display: block;
}
/* Modal */
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
    width: 475px;
    border: 1px solid #ffffff7a;
    border-radius: 15px;
    overflow: hidden;
    z-index: 2;
    background: #baa9a9e3;
    padding: 1rem;
}
/* adding the show class */
.modal.show{
    display: block;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #baa9a9e3;
}
.top h3{
    font-weight: 600;
}
.close{
    background: none;
    cursor: pointer;
    border: none;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
    padding-bottom: 1rem;
}
.dropdown__section{
    padding: 0.5rem;
}
.subject__title{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 0.5rem;
}
.subject__title input{
    border: none;
    background: none;
    outline: none;
    caret-color: #fff;
    padding: 0.5rem;
    color: #fff;
}
.mail__content{
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    outline: none;
    resize: vertical;
    caret-color: #fff;
}
.row2{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.row2 .btn {
    background: #00000071;
    border: none;
    color: #fff;
    padding: 0.2rem 1rem;
    display: flex;
    border-radius: 15px;
    align-items: center;
    gap: 0.5rem;
}
.row2 input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 142px;
    height: 33px;
    cursor: pointer;
}
.send__btn{
    background: #FD6D08;
    border: none;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: normal;
    cursor: pointer;
    padding: 0.5rem 1.8rem;
    letter-spacing: 1px;
    color: #fff;
}

/* Mail section */
.header{
    display: flex;
    align-items: center;   
    gap: 1rem; 
}
.back__btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.title{
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
}
.sent__mails__button{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}
.sent__mails__button h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.compose__btn{
    background:#F66E0E;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;    
    gap: 0.7rem;
    padding: 0.5rem 1.4rem;
    border-radius: 10px;
}
.compose__btn span{
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}
.mail__list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1rem;
}
.mail{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: #ffffff47;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.mail__icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0000005d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail__description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffffb8;
}
.mail__title{
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}
.time{
    font-size: 0.7rem;
    letter-spacing: 1px;
}