*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #390300;
}
.main-container {
  width: 15vw;
  height: auto;
 
  // display: flex;
  // flex-direction: row;
}
.navbar {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
}
.nav-smit-logo img {
  width: 13.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
}
.manager-logo-div{
  margin: auto;
  vertical-align: bottom;
  margin-bottom: 1rem;
}
.manager-logo{
  width: 12.5rem;
  /* margin-bottom: 1rem; */
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-top: 2rem;
}
.tabs ul li {
  list-style: none;
}
.tabs li a {
  padding: 1rem 1.5rem 1rem 2.3rem;
  text-decoration: none;

}
.tab {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tab-name {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  /* width: 10rem; */
}


.tab-icon img {
  width: 1.2rem;
}

.tabs li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}


.nav-manipal-vector img {
  position: absolute;
  width: 20rem;
  height: 20rem;
  left: -100px;
  top: 450px;
  opacity: 0.03;
  z-index: -1;
}

.main-page {
  margin: auto 0;
  vertical-align: middle;
  margin-right: 1rem;
  width: 85vw;
  height: 96vh;
  background-image: url("../images/bg-blur.png");
  background-size: cover;
  background-position: center;
  border-radius: 2.5rem;
  padding-bottom: 1rem;
  // overflow: auto;
}

.dash-manipal-vec {
  position: absolute;
  opacity: 0.05;
  width: 25rem;
  height: 27rem;
  left: 801px;
  top: 0px;
}