.main-page {
  #main-title,.page-heading {
    #profile-photo {
      height: 8vh;
      width: 8vh;
      border: 3px solid #fd6d08;
      border-radius: 100%;
      margin-left: 1vw;
    }
    #teacher-details{
      font-size: 1.6vh;
      font-weight: lighter;

      #teacher-name{
        font-size: 3vh;
        font-weight: bolder;
      }
    }
  }
  #feedback-query-list{
    margin: 3vh 0 0 3vw;
    height: 70vh;
    overflow-y: auto;

    &::-webkit-scrollbar{
      display: none;
    }

    .queries{
      margin-top: 3vh;

      .question{
        font-size: 2.2vh;

        .question-number{
          margin-right: 2vw;
        }
      }
      .rating{
        display: flex;
        margin-left: 4vw;
        margin-top: 3vh;
        width: 30vw;
        justify-content: space-between;

        .rank{
          width: 4vw;
          height: 6vh;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-size: 2.5vh;
          background-color: rgba(255, 255, 255, 0.15);
          border: 1px solid #fff;
          border-radius: 15px;
          color: #fff;
          cursor: pointer;
          transition-duration: 0.3s;

          // &:hover{
          //   background-color: #fd6d08;
          // }
        }
      }
      .marker{
        display: flex;
        width: 30vw;
        justify-content: space-between;
        margin-left: 4vw;
        margin-top: 0.5vh;
        font-weight: 400;
        font-size: 1.5vh;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  #submit-bttn{
    margin-left: 70vw;
  }

}

/*---Media Query-----*/
@media screen and (min-width: 300px) and (max-width: 640px) {
  .page-heading {
    margin: 3vh 5vw !important;
    gap: 2vw !important;
  }

  .tab-icon,
  .page-heading svg {
    width: 8vw !important;
  }

  .main-page .blur .page-heading #profile-photo {
    height: 10vh;
    width: 10vh;
  }

  .main-page .blur .page-heading #teacher-details {
    font-size: 2vh;
    font-weight: 300;
  }

  .main-page .blur .page-heading #teacher-number {
    display: none;
  }

  .main-page .blur #feedback-query-list {
    height: 75vh;
    margin: 2vh 6vw;
  }

  .main-page .blur #feedback-query-list .queries:not(:first-child) {
    margin-top: 5vh;
  }

  .main-page .blur #feedback-query-list .queries .rating,
  .main-page .blur #feedback-query-list .queries .marker {
    margin-left: 0 !important;
    width: 100%;
  }

  .main-page .blur #feedback-query-list .queries .rating .rank {
    width: 16%;
  }

  .main-page .blur #submit-bttn {
    width: 30vw;
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.input-read{
  width: 40vw;
  font-size: 20px;
  padding:0.5rem;   
  height: 20vh;
  margin-top: 3vh;
  margin-left: 3vw;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
}
.input-read:focus {
  outline: none; 
}