/************************************************************************************************/
/*****************************************Student Feedback CSS***********************************/
/************************************************************************************************/
$white-color : #fff;
$orange-color: #FD6D08;
$btn-color-hover: #ea6404;
$feedback-bgcolor : #f8d57b1e;
$feedback-border-color : #ffffff9a ;

body {
    color: $white-color;
}
a{
    text-decoration: none;
    color: $white-color;
}



/*********************** Teacher's Feedback ***************************/

.feedback{
    height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 3vh;

    .feed{
        padding: 0 5vw;
        display: flex;
        justify-content: space-between;

        .feed-card {
            display: flex;
            background-color: $feedback-bgcolor;
            border: 1px solid $feedback-border-color;
            // backdrop-filter: blur(12px);
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            padding: 1.5vh 1vw;
            width: 35vw;
            gap: 0.5vw;
            height: 12.5vh;
    
            .tch-pic{
                img{
                    width: 4.5vw;
                    border-radius: 100%;
                    border: 3px solid $orange-color;
                }
            }
    
            div{
                .tch-name{
                    font-size: 2.2vh;
                    font-weight: 500;
                }
    
                .tch-dtl {
                    font-size: 1.9vh;
                    font-weight: 100;
                }
    
            }
    
            .feed-btn {
                margin: auto;
                margin-right: 0.1vw;
            
            }
        }
    }


}
.feedback::-webkit-scrollbar{
    display: none;
}


