/************************************************************************************************/
/*****************************************Student Attendance View CSS***********************************/
/************************************************************************************************/

body {
  // color: #fff;
}


/*********************************** Subjects's Attendance **********************************/

.sub-attendance {
  margin: 0rem 6vw 4vh;
}

.sel-subject {
  display: flex;
  align-items: center;
  padding-bottom: 4vh;
  justify-content: space-between;
}

/* - - - - - - - - - - - - - -  */
/* select option */
/* - - - - - - - - - - - - - -  */


.select-menu .select-btn {
  display: flex;
  justify-content: space-between;
  width: 34vw;
  padding: 1.5vh 1vw;
  align-items: center;
  background: #00000024;
  border: 0.5px solid #fff;
  font-size: 2vh;
  font-weight: 400;
  border-radius: 1vw;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
  font-size: 2vh;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}

.select-menu .options {
  position: absolute;
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;
  background: #0000004b;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none;
  margin: 0 0.5vw;
}

.select-menu.active .options {
  display: block;
}

.options .option {
  display: flex;
  cursor: pointer;
  padding: 1vh 0rem;
  align-items: center;
  padding-left: 1vw;
  width: 33vw;
}

.options .option:hover {
  background: #282727;
}



.option .option-text {
  font-size: 2vh;
  color: #fff;
}

.att-info {
  font-size: 2vh;
  display: flex;
  gap: 3vw;
}

.abb span {
  font-weight: 600;
}

.date-list {
  display: grid;
  gap: 1rem;
  overflow-y: auto;
  height: 60vh;
}

.date-list::-webkit-scrollbar {
  display: none;
}

.att-list {
  display: flex;
  gap: 3vw;
}

.att-day {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 1vh 0;
  align-items: center;
  background-color: #f8d57b30;
  backdrop-filter: blur(12px);
  border-radius: 0.75vw;
}

.att-no {
  font-weight: 200;
  font-size: 2vh;
}

.att-date {
  font-weight: 500;
  font-size: 2vh;
}

#clc {
  background: none;
  align-items: center;
  justify-content: center;
  width: 1.6vw;
  height: 1.6vw;
  border: 2px solid #fff;
  border-radius: 100%;
  display: flex;
}

#clp {
  background: #fd6d08;
  border: 2px solid #fd6d08;
  width: 1.4vw;
  height: 1.4vw;
  border-radius: 100%;
}

.foot {
  margin: auto 7vw;
  margin-bottom: 6vh;
}
