  $white : #ffffff;

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .main-page {
    .blur {
      .heading {
        display: flex;
        justify-content: space-between;

        .dash-heading {
          .head {
            padding-left: 3vw;
            color: $white;
          }

          .head1 {
            font-size: 3.5rem;
            font-weight: 700;
            color: $white;
          }

          .welcome-msg {
            font-size: 1.5rem;
            font-weight: 300;
          }

          .welcome-msg span {
            font-weight: 600;
          }
        }
      }
    }
  }