/************************************************************************************************/
/*****************************************Student Attendance View CSS***********************************/
/************************************************************************************************/

body {
    color: #fff;
}

/************************************* Title Section **************************************/
.main-page {
    display: flex;
    flex-direction: column;
}

#title {
    margin: 3rem 2rem;
    display: flex;
}

#back_arrow {
    width: 2rem;
}

#sub_title {
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

/*********************************** Subjects's Attendance **********************************/

.sub-attendance {
    display: grid;
    margin: 0rem 7rem 2rem;
    gap: 1rem;
}

.sel-subject {
    display: flex;
    padding-bottom: 2rem;
    /* gap: 4rem; */
}

.sel-subject div {
    width: 50%;
}


/* - - - - - - - - - - - - - -  */
/* select option */
/* - - - - - - - - - - - - - -  */


.select-menu {}

.select-menu .select-btn {
    display: flex;
    width: 32rem;
    height: 2.5rem;
    padding-left: 1rem;
    align-items: center;
    background: #00000024;
    border: 0.5px solid #fff;
    padding-right: rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: absolute;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    background: #000000;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;

}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    cursor: pointer;
    padding: 0.4rem 0rem;
    align-items: center;
    justify-content: center;
    width: 32rem;
    background: #ff6b01;
}

.options .option:hover {
    background: #282727;
}

.option i {
    font-size: 25px;
}

.option .option-text {
    font-size: 1rem;
    color: #fff;
}

.att-info {
    display: flex;
    gap: 3rem;
}

.abb span {
    font-weight: 600;
}

.date-list {
    display: grid;
    gap: 1rem;
    overflow-y: auto;
    height: 55vh;
}

.date-list::-webkit-scrollbar {
    display: none;
}

.att-list {
    display: flex;
    gap: 3rem;
}

.att-day {
    display: flex;
    width: 30%;
    padding: 0.5rem 0;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #f8d57b30;
    backdrop-filter: blur(12px);
    border-radius: 10px;
}

.att-no {
    font-weight: 200;
}

.att-date {
    font-weight: 500;
    padding-left: 1rem;
}

#clc {
    background: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 100%;
    display: flex;
}

#clp {
    background: #fd6d08;
    border: 2px solid #fd6d08;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
}

.foot {
    margin: auto 7rem;
    margin-bottom: 3rem;
}