/************************************************************************************************/
/*****************************************Student Attendance View CSS***********************************/
/************************************************************************************************/

body {
    color: #fff;
}

/************************************* Title Section **************************************/

#title {
    margin: 3rem 2rem;
    display: flex;
}

#back_arrow {
    width: 2rem;
}

#sub_title {
    font-size: 1.8rem;
    padding-left: 1.5rem;
}

/*********************************** Subjects's Attendance **********************************/

#sub-attendance {
    padding: 1rem 6rem;
    display: flex;
    gap: 5rem;
}

/*------------------- Subject Select Option ---------------------*/

.sub-choose {
    appearance: none;
    padding: 0.3rem 1rem;
    /* backdrop-filter: blur(12px); */
    background: #fd6e0837;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    width: 35rem;
    height: 2.5rem;
    font: inherit;
}

.sub-choose:focus {
    border: 1px solid #fada0e8f;
}

select.minimal:focus {
    outline: 0;
}

select option {
    background-color: #fd6e0873;
}

/*-------------------- Attendance Details ----------------------*/

#att-info {
    font-size: 0.7rem;
}

#att-info h2 {
    font-weight: 600;
}

#att-info h2 span {
    font-weight: 400;
}

#att-conduct {
    display: flex;
    gap: 3rem;
    padding-bottom: 0.3rem;
}

/*********************************** Attendance Lists *************************************/

.attendance-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.main-row {
    display: flex;
    gap: 1rem;
}

/*----------------- Attendance of a day ------------------*/

.col1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 15rem;
}

.att-date {
    border-radius: 5px;
    padding: 0.4rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: #f8d57b30;
    backdrop-filter: blur(12px);
    width: 15rem;
}

.att-date p {
    font-weight: 500;
}

#no-class {
    font-weight: 100 !important;
}

#clc {
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #fff;
    border-radius: 100%;
    display: flex;
}

#clp {
    background: #fd6d08;
    border: 2px solid #fd6d08;
    width: 1.4rem;
    height: 1.3rem;
    border-radius: 100%;
}

/******************************** Attendance Abbreviations **********************************/

#cl-info {
    font-size: 0.7rem;
    padding-left: 6rem;
    margin-top: 25rem;
}

#cl-info h2 {
    font-weight: 600;
}

#cl-info h2 span {
    font-weight: 400;
}

#cl-conduct {
    display: flex;
    gap: 3rem;
    /* padding-bottom: 0.3rem; */
}