// page heading - - - - - - - 
#title {
  margin: 1.5vh 0 2vw;
  margin-left: 5vh;
  margin-right: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sub_code {
  font-weight: 100;
  font-size: 3vh;
  margin: 0 1vw;
}

#sub_title {
  font-size: 3vh;
  font-weight: 600;
}
.sub-name {
  display: flex;
  align-items: center;
}

.sub-name a svg{
  width: 1.65vw;
  fill: #fff;
  transition: all 0.3s;
}
.sub-name a svg:hover{
  width: 1.75vw;
  fill: #ffffffc7;
}


.year__sem__sec {
  color: #fff;
  display: flex;
  gap: 1.5vw;
}

// inside nav bar - - - - - - - - - 

.att-navbar {
  border-right: none;
  margin: 0 auto;
  margin-bottom: 4vh;
}
.container {
  background-color: #ffffff2d;
  border-radius: 7px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 2vw;
  color: #fff;
  width: 70vw;
  height: 5vh;
  // padding: 0 2vw;
}

.tab-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(65vw/4);
  cursor: pointer;
  height: 5vh;
  font-size: 2vh;
  transition: all 0.3s;
}

.tab-item:hover{
  font-size: 2.05vh;
}

.tab-border {
  background-color: #0000008f;
  border-radius: 7px;
 
}
.tab-border:hover{
  font-size: 2vh;
}


/* Tab Content */

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}


/* - - - - - - - - - - - - - -  */
/* select option */
/* - - - - - - - - - - - - - -  */


.select-menu .select-btn {
    display: flex;
    justify-content: space-between;
    width: 8vw;
    padding: 1.1vh 1vw;
    align-items: center;
    background: #0000004d;
    border: 0.5px solid #ffffffc7;
    font-size: 2vh;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .select-btn i {
    font-size: 2vh;
    transition: 0.3s;
  }
  
  .select-menu.active .select-btn i {
    transform: rotate(-180deg);
  }
  
  .select-menu .options {
    position: absolute;
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    background: #3f3d3d;
    backdrop-filter: blur(41);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    margin: 0 0.5vw;
  }


  .select-menu.active .options {
    display: block;
  }
  
  .options .option {
    cursor: pointer;
    padding: 1vh 0;
    align-items: center;
    padding-left: 1vw;
    width: 7vw;
  }
  
  .options .option:hover {
    background: #282727;
  }
  
  
  
  .option .option-text {
    font-size: 2vh;
    color: #fff;
  }
  
  .att-info {
    font-size: 2vh;
    display: flex;
    gap: 3vw;
  }
  
  .sub-code{
    font-weight: 100;
  }



input[type="checkbox"] {
  width: 1.2vw;
  height: 1.2vw;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #fd6d08;
}