.main-table-container{
    padding: 0 5.5vw;
}
.description__titles ul li {
    flex: 2;
    color: #fff;
    font-weight: 200;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.description__titles ul li:nth-child(1),.description__list ul li:nth-child(1)  {
    flex: 1.5;
}

.description__titles ul li:nth-child(2), 
.description__list ul li:nth-child(2) {
    flex: 12;
}

.description__titles ul li:nth-child(3),
.description__list ul li:nth-child(3) {
    flex: 6;
}

.description__titles ul li:nth-child(4), 
.description__list ul li:nth-child(4) {
    flex: 4;
}

.description__titles ul li:nth-child(5), 
.description__list ul li:nth-child(5) {
    border: none;
    flex: 1;
}

.description__list ul li:nth-child(5) {
    display: flex;
    justify-content: end;
}


.view-btn{
    border: none;
    background: none;
}
.view-btn svg{
    cursor: pointer;
    transition: all 0.3s;

}
.view-btn svg:hover{
    fill: #ffffffc0;
}

.description__titles{
    position: relative;
}

.add-grant{
    position: absolute;
    top: 0;
    right: -3.5vw;
    background: #ffffff23;
    width: 2.75vw;
    height: 2.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.add-grant:hover{
    background: rgba(255, 255, 255, 0.273);
}

// popup
/* Modal */
.modal {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(248, 213, 123, 0.15);
    box-shadow: -10px 10px 94px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(34px);
    width: 40vw;
  }
 
 
  .top {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #ffffff47;
  }
  .top h3 {
    font-weight: normal;
  }
  .close {
    background: none;
    cursor: pointer;
    border: none;
  }
  .bottom {
    padding: 1rem 1rem;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4vh;
  }
 
  .subject__title {
    display: flex;
    gap: 1vh;
    flex-direction: column;
  }
  
  .subject__title input{
    border: none;
    outline: none;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100%;
    resize: vertical;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.1s;
  }
  .subject__title input{
      height: 5vh;
  }
 
  .subject__title input:focus{
    outline: 0.5px solid #fff;
    background: rgba(137, 137, 137, 0.049);
  }

  .row2 {
    display: flex;
    justify-content: space-between;
  }


#file-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-file-upload {
    width: 20vw;
    border-radius: 15px;
}
