#marks-display {
    overflow: auto;
    height: auto !important;
}

.questions{
    padding: 0 4.5vw;
    margin-top: 3vh;
}
.questions div{
    margin-top: 4vh;
}
.remarks-textarea{
    background-color: #ffffff3e;
    border-radius: 5px;
    width: 35vw;
    height: 15vh;
    resize: none;
    padding: 1vh 0.5vw;
    font-size: 2vh;
}
.remarks-textarea:focus{
    outline: 0.5px solid #fff;
    background-color: #ffffff17;
}
.remarks-div{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.main-section{
    overflow: auto;
    height: 80vh;
}

.footer-btns{
    margin: 5vh 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.filter-select{
    margin-left: 1vw;
}