.main-page .blur .allot-student .page-heading .main-content {
  align-self: center;
  height: 78vh;
  overflow: auto;
}
.main-page .blur .allot-student .page-heading .main-content::-webkit-scrollbar {
  display: none;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content .row1 .sub-code {
  font-style: normal;
  font-weight: 275;
  font-size: 20px;
  color: white;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content .row1 .sub-name {
  width: 450px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content .row2 {
  display: flex;
  flex-direction: row;
  color: aliceblue;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
}
.main-page .blur .allot-student .page-heading .main-content .anchor-content .row2 .bold-part {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

.allot-student {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-content > ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* height: 20px; */
  list-style: none;
}

.main-content > ul > li {
  border: solid;
  border-width: thin;
  border-color: aliceblue;
  padding: 5px 0 5px 12px;
  margin: 9px 0 9px 0;
  border-radius: 25px;
  background-color: rgba(248, 213, 123, 0.1490196078);
  /* height: 80px; */
}

.main-content > ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  /* margin-right: 50px; */
}

.btn-div {
  display: flex;
  gap: 0.75rem;
}