.cards .card-col1 .card5 .wrapper {
  border-radius: 10%;
  padding-top: 1.75vh;
}
.cards .card-col1 .card5 .wrapper header .calendar-hed {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5vw;
}
.cards .card-col1 .card5 .wrapper header .calendar-hed .current-DATE {
  font-size: 2.45vh;
  font-weight: 500;
  margin: auto;
  color: #fff;
}
.cards .card-col1 .card5 .wrapper header .calendar-hed .current-DATE .current-year {
  text-align: center;
  font-weight: 300;
}
.cards .card-col1 .card5 .wrapper header .calendar-hed .current-DATE .current-date {
  text-align: center;
}
.cards .card-col1 .card5 .wrapper header .icons span {
  height: 2.2vw;
  width: 2.2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 2.5vh;
  user-select: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1803921569);
}
.cards .card-col1 .card5 .wrapper header .icons span:hover {
  background-color: rgba(0, 0, 0, 0.1803921569);
}
.cards .card-col1 .card5 .wrapper .calendar {
  padding: 0 0.75vw;
}
.cards .card-col1 .card5 .wrapper .calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.cards .card-col1 .card5 .wrapper .calendar ul li {
  color: white;
  width: 14.28%;
  font-size: 1.9vh;
}
.cards .card-col1 .card5 .wrapper .calendar .weeks {
  padding-top: 2.4vh;
  padding-bottom: 1.5vh;
}
.cards .card-col1 .card5 .wrapper .calendar .weeks li {
  font-weight: 400;
  color: rgba(245, 200, 167, 0.5568627451);
  font-size: 1.9vh;
  cursor: default;
  text-align: center;
}
.cards .card-col1 .card5 .wrapper .calendar .days li {
  cursor: pointer;
  padding: 1.3vh;
}
.cards .card-col1 .card5 .wrapper .calendar .days li.inactive {
  color: #aaa;
}
.cards .card-col1 .card5 .wrapper .calendar .days li.active {
  color: #fff;
}
.cards .card-col1 .card5 .wrapper .calendar .days li.active::before {
  background: rgba(0, 0, 0, 0.262745098);
}
.cards .card-col1 .card5 .wrapper .calendar .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 2.5vw;
  width: 2.5vw;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.main-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.hidden-div {
  width: 150px;
  height: 50px;
  background-color: #000000;
  backdrop-filter: blur(62px);
  border-radius: 10px;
  color: #000;
  position: absolute;
  display: none;
  z-index: 1;
}