.report_main {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Montserrat", sans-serif; }

.report_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700; }

.report_sbj {
  display: flex;
  background-color: rgba(0, 0, 0, 0.051) !important;
  width: 70%;
  print-color-adjust: exact;
  border-radius: 5px;
  margin: 2.5rem auto 1rem;
  padding: 0.3rem 1rem;
  justify-content: space-between;
  font-weight: 600; }

.report_sbj span {
  font-weight: 500; }

.report {
  align-items: center;
  margin-top: 1rem; }
  .report .sbj_cod {
    font-weight: 500; }
  .report .sbj_nm {
    font-weight: 700; }

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
  margin-right: px; }

th,
td {
  border: 1px solid black;
  padding: 4px;
  text-align: center; }

th {
  background-color: #0000002e !important;
  print-color-adjust: exact;
  font-weight: 600; }

th:nth-child(1),
th:nth-child(2) {
  width: 9%; }

tr:nth-child(n + 3) td:nth-child(6n + 3) {
  background-color: #0000000d; }

tr:nth-child(n + 3) td:nth-child(6n + 4) {
  background-color: #0000000d; }

tr:nth-child(n + 3) td:nth-child(6n + 5) {
  background-color: #0000000d; }

tr:first-child td {
  background-color: #0000000d; }

td {
  font-weight: 600; }

th:nth-child(n + 3):nth-child(-n + 30) {
  width: auto; }

.page-number:after {
  counter-increment: pages;
  content: counter(page) " of " counter(pages); }

@media print {
  .report_main {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Montserrat", sans-serif; }
  .report_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700; }
  .report_sbj {
    display: flex;
    background-color: rgba(0, 0, 0, 0.051) !important;
    width: 70%;
    print-color-adjust: exact;
    border-radius: 5px;
    margin: 2.5rem auto 1rem;
    padding: 0.3rem 1rem;
    justify-content: space-between;
    font-weight: 600; }
  .report_sbj span {
    font-weight: 500; }
  .report {
    align-items: center;
    margin-top: 1rem; }
    .report .sbj_cod {
      font-weight: 500; }
    .report .sbj_nm {
      font-weight: 700; }
  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
    margin-right: px; }
  th,
  td {
    border: 1px solid black;
    padding: 4px;
    text-align: center; }
  th {
    background-color: #0000002e !important;
    print-color-adjust: exact;
    font-weight: 600; }
  th:nth-child(1),
  th:nth-child(2) {
    width: 9%; }
  tr:nth-child(n + 3) td:nth-child(6n + 3) {
    background-color: #0000000d; }
  tr:nth-child(n + 3) td:nth-child(6n + 4) {
    background-color: #0000000d; }
  tr:nth-child(n + 3) td:nth-child(6n + 5) {
    background-color: #0000000d; }
  tr:first-child td {
    background-color: #0000000d; }
  td {
    font-weight: 600; }
  th:nth-child(n + 3):nth-child(-n + 30) {
    width: auto; }
  .page-number:after {
    counter-increment: pages;
    content: counter(page) " of " counter(pages); } }
