.main-page #main-title #profile-photo, .main-page .page-heading #profile-photo {
  height: 8vh;
  width: 8vh;
  border: 3px solid #fd6d08;
  border-radius: 100%;
  margin-left: 1vw; }

.main-page #main-title #teacher-details, .main-page .page-heading #teacher-details {
  font-size: 1.6vh;
  font-weight: lighter; }
  .main-page #main-title #teacher-details #teacher-name, .main-page .page-heading #teacher-details #teacher-name {
    font-size: 3vh;
    font-weight: bolder; }

.main-page #feedback-query-list {
  margin: 3vh 0 0 3vw;
  height: 70vh;
  overflow-y: auto; }
  .main-page #feedback-query-list::-webkit-scrollbar {
    display: none; }
  .main-page #feedback-query-list .queries {
    margin-top: 3vh; }
    .main-page #feedback-query-list .queries .question {
      font-size: 2.2vh; }
      .main-page #feedback-query-list .queries .question .question-number {
        margin-right: 2vw; }
    .main-page #feedback-query-list .queries .rating {
      display: flex;
      margin-left: 4vw;
      margin-top: 3vh;
      width: 30vw;
      justify-content: space-between; }
      .main-page #feedback-query-list .queries .rating .rank {
        width: 4vw;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 2.5vh;
        background-color: rgba(255, 255, 255, 0.15);
        border: 1px solid #fff;
        border-radius: 15px;
        color: #fff;
        cursor: pointer;
        transition-duration: 0.3s; }
    .main-page #feedback-query-list .queries .marker {
      display: flex;
      width: 30vw;
      justify-content: space-between;
      margin-left: 4vw;
      margin-top: 0.5vh;
      font-weight: 400;
      font-size: 1.5vh;
      color: rgba(255, 255, 255, 0.5); }

.main-page #submit-bttn {
  margin-left: 70vw; }

.rating label {
  display: block;
  padding: 5px;
  position: relative; }

.rating label input {
  display: none; }

.rating label span {
  width: 4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s; }

input:checked + span {
  background-color: #fd6d08; }

.input-read {
  width: 40vw;
  font-size: 2.5vh;
  padding: 0.75rem;
  height: 20vh;
  margin-top: 3vh;
  margin-left: 3.7vw;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  resize: none; }

.input-read:focus {
  outline: 0.5px solid #fff;
  background: rgba(93, 91, 91, 0.108); }

/*---Media Query-----*/
@media screen and (min-width: 300px) and (max-width: 640px) {
  .page-heading {
    margin: 1vh 5vw !important;
    gap: 2vw !important; }
  .tab-icon,
  .page-heading svg {
    width: 8vw !important; }
  .main-page .blur .page-heading #profile-photo {
    height: 10vh;
    width: 10vh; }
  .main-page .blur .page-heading #teacher-details {
    font-size: 2vh;
    font-weight: 300; }
  .main-page .blur .page-heading #teacher-number {
    display: none; }
  .main-page .blur #feedback-query-list {
    height: 75vh;
    margin: 2vh 6vw; }
  .main-page .blur #feedback-query-list .queries:not(:first-child) {
    margin-top: 5vh; }
  .main-page .blur #feedback-query-list .queries .rating,
  .main-page .blur #feedback-query-list .queries .marker {
    margin-left: 0 !important;
    width: 100%; }
  .main-page .blur #feedback-query-list .queries .rating .rank {
    width: 16%; }
  .main-page .blur #submit-bttn {
    font-size: 2.5vh;
    height: 5vh;
    width: 40vw;
    margin-left: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 6vh; }
  .rating label span {
    width: 13vw; }
  .input-read {
    width: 100%;
    margin-left: 0vw; } }

.card-internal,
.mobile-header,
.sidebar1 {
  display: none; }
