/* overridng */
.navbar {
  width: 16%;
  display: flex;
  flex-direction: column; }

.nav-manipal-vector img {
  position: absolute;
  width: 16rem;
  height: 16rem;
  left: -6px;
  top: 450px;
  opacity: 0.07;
  z-index: -1; }

.main-background {
  width: 84%;
  background: linear-gradient(112.35deg, rgba(255, 255, 255, 0.4) 1.41%, rgba(255, 255, 255, 0) 99.01%);
  backdrop-filter: blur(22px);
  border-radius: 55px;
  margin: 1rem;
  position: relative; }

/* Main content */
.main-container {
  display: flex;
  width: 100%; }

.main__content {
  padding: 2rem 4rem;
  /* Added new */
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

/* Section Title */
/* Adjust the width accordingly */
.section__title {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.6rem;
  border-radius: 8px;
  color: #ffffffbd;
  background: #00000044; }

.section__title span {
  border-left: 1px solid #ffffff4d;
  padding-left: 1rem; }

.section__title span:first-child,
.list span:first-child {
  border: none;
  flex: 1; }

.section__title span:nth-child(2),
.list span:nth-child(2) {
  flex: 3; }

.section__title span:nth-child(3),
.list span:nth-child(3) {
  flex: 3; }

.section__title span:nth-child(4),
.list div:nth-child(4) {
  flex: 2; }

/* Student List */
/* Adjust the width accordingly */
.student__section__list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.6rem;
  margin: 0 auto;
  color: #fff;
  padding-top: 0.8rem; }

.list span,
.list div {
  padding-left: 1rem; }

.list {
  border-radius: 8px;
  background: #f8d57b29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem; }

.section {
  display: flex;
  align-items: center; }

.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff; }
