.main-section {
  padding: 0 3vw; }

.filters {
  display: flex;
  gap: 1vw; }

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0; }

.section-header button {
  display: flex;
  align-items: center;
  justify-content: center; }

.section-header button > .icon {
  font-size: 1.5rem;
  margin-right: 0.4rem; }

.description__titles ul li:nth-child(1), .description__list ul li:nth-child(1) {
  flex: 2; }

.description__titles ul li:nth-child(2), .description__list ul li:nth-child(2) {
  flex: 5; }

.description__titles ul li:nth-child(3), .description__list ul li:nth-child(3) {
  flex: 7; }

.description__titles ul li:nth-child(4), .description__list ul li:nth-child(6) {
  border: none;
  display: flex;
  justify-content: end;
  flex: 2; }

.popup {
  display: none;
  position: absolute;
  top: 0;
  z-index: 20;
  background: linear-gradient(136deg, rgba(6, 3, 3, 0.203) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(3px);
  margin-left: 0rem;
  width: 84vw;
  height: 96vh;
  border-radius: 2.75vw;
  align-items: center;
  justify-content: center; }

.popup-item {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  background: rgba(248, 213, 123, 0.15);
  backdrop-filter: blur(34px);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.204);
  border-radius: 10px;
  width: 27vw;
  height: 25vh;
  padding: 1.5vh 1.5vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5vh; }

.popup-hed {
  text-align: center;
  font-size: 2.75vh;
  font-weight: 500; }

.action-btn {
  display: flex;
  justify-content: center;
  gap: 2vw; }

.act-btn {
  cursor: pointer;
  transition: all 0.3s; }

.act-btn:hover {
  opacity: 0.75; }

input[type="checkbox"] {
  width: 1.5vw;
  height: 1.5vw;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer; }

input[type="checkbox"]:checked {
  background-color: #fd6d08; }
