/* Feedback header */
.feedback_header {
  width: 100%;
  padding: 2vh 5.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.feedback_header_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vh; }

.feedback_header_info .student_details {
  width: auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 1vh 1.5vw;
  font-size: 2vh;
  font-weight: 500;
  outline: none;
  border: none; }

.feedback_header_deadline {
  margin-left: 4vw; }

.feedback_header_date {
  height: 5vh;
  width: 10rem;
  border-radius: 10px;
  padding: 1vh 1.5vw;
  font-size: 2vh;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  margin-left: 1vh; }

.not-submitted {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  background-color: #00000011;
  border-radius: 7px;
  padding: 0.5vh 0.5vw;
  transition: all 0.3s; }

.not-submitted:hover {
  background-color: #00000024;
  cursor: pointer; }

/* Feedback List */
.list_feedback,
.list_remarks {
  width: 100%;
  padding: 1vh 5.5vw; }

.list_feedback .list_feedback_title ul,
.list_remarks .list_remarks_title ul {
  background: rgba(0, 0, 0, 0.12); }

.list_feedback .list_items ul,
.list_remarks ul {
  list-style-type: none;
  display: flex;
  gap: 1vw;
  border-radius: 10px;
  padding: 0.5vh 1vw;
  color: #fff;
  margin-bottom: 2.5vh; }

.list_feedback .list_items ul li,
.list_remarks ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 0.9rem; }

.list_feedback .list_items ul li:nth-child(1) {
  flex: .2; }

.list_feedback .list_items ul li:nth-child(2) {
  flex: 4;
  font-size: 0.8rem;
  font-weight: 400; }

.list_feedback .list_feedback_title ul li:nth-child(n+3) {
  height: 4vh;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15); }

.list_feedback .list_items ul li:nth-child(n+3) {
  flex: 0.2;
  justify-content: center; }

.list_feedback .list_items ul li:last-child {
  flex: 0.5;
  justify-content: center; }

.list_scroll {
  height: 25vh;
  overflow-y: auto; }

.list_scroll::-webkit-scrollbar {
  display: none; }

.list_feedback .list_scroll ul {
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(248, 213, 123, 0.15);
  margin-bottom: 1vh; }

.list_remarks .list_remarks_title {
  font-size: 0.9rem;
  margin-bottom: 2.5vh; }

.list_remarks .list_scroll {
  height: 30vh;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.15); }

.list_remarks .list_scroll ul {
  margin-bottom: 1vh; }

.list_remarks ul li:nth-child(1) {
  flex: .5;
  font-size: 1rem;
  align-items: flex-start; }

.list_remarks ul li:nth-child(2) {
  flex: 1; }

.list_remarks ul li:nth-child(3) {
  flex: 8; }

.list_remarks .list_scroll ul li:nth-child(3) {
  font-size: 0.8rem;
  font-weight: 400; }

.main-box {
  width: 350px;
  height: 550px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(248, 213, 123, 0.15);
  box-shadow: -10px 10px 94px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 2rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  color: white;
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0); }

ion-icon {
  font-size: 24px;
  transition: .5s; }

ion-icon:hover {
  cursor: pointer;
  color: #fd6d08; }

.table-item {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  padding-left: 30px;
  padding-right: 5rem;
  margin-top: 22px; }

.download-btn {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: #FD6D08;
  border: none;
  color: white;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 1px; }

.download-btn:hover {
  cursor: pointer; }
