.main-page {
  color: white; }

.filter {
  padding: 1vh 1vw;
  border: 1px solid #FD6D08;
  transition-duration: 0.3s; }

.assignment-card {
  margin: 2vh 0 0 6vw;
  width: 70vw; }

.card-header {
  background: #FFFFFF26;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1vh 1vw; }

.sub-code {
  font-weight: lighter; }

.sub-name {
  font-weight: normal;
  margin-left: 1vw;
  display: inline; }

.filter:hover {
  background-color: #FD6D08; }

.deadline-warning {
  margin-left: 17vw;
  margin-top: 0.5vh;
  color: #CBDA24; }

.warning-symbol {
  display: inline; }

.days-left {
  display: inline;
  font-weight: normal;
  font-size: medium; }

.card-body {
  background-color: #ffffff0d;
  padding: 1vh 1vw;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.assignment-details {
  /* display: inline; */
  display: flex;
  margin: 0; }

.assignment-options {
  display: inline; }

.assignment-details-pdf {
  display: inline-flex;
  justify-content: space-between;
  width: 12vw;
  padding: 1vh 1vw;
  border: 0.5px solid #FFFFFF80;
  border-radius: 15px;
  background-color: #00000026;
  margin-left: 1vw;
  font-size: smaller; }

.pdf-icon {
  width: 2vh;
  height: 2vh; }

.download-bttn {
  width: 2vh;
  height: 2vh; }

.assignment-desc {
  margin: 1vh 0 1vh 1vw;
  display: flex; }

.text-area {
  display: inline; }

.down-arr {
  display: inline; }

.card-body-deltail-right {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw; }

.pdf-upload {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1vh 1vw;
  border-radius: 15px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08); }

.cross {
  width: 2vh;
  height: 2vh;
  margin-left: 1vw; }

.due-date {
  margin: 1vh 0 1vh 1vw;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 1vh;
  width: 8vw;
  border-radius: 60px; }

.due-date-num {
  font-size: x-small; }

.turn-in {
  display: flex;
  background-color: #FD6D08;
  padding: 1vh 1vw;
  width: 10vw;
  border-radius: 15px;
  margin: 2vh 0 0 6vw; }

.send-icon {
  margin-left: 0.5vw; }

.pdf-upload-request {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1vh 1vw;
  border-radius: 15px;
  width: 17vw; }

.upload-icon {
  margin-left: 1vw; }

.submitted {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1vh 1vw;
  text-align: center;
  width: 10vw;
  border-radius: 15px;
  margin: 1vh 0 0 8vw; }

.marks-granted {
  display: flex;
  font-size: small;
  margin: 5vh 0 0 10vw; }

.marks-desc {
  margin-top: 0.7vh; }

.marks-value {
  padding: 0.7vh 0.7vw;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 1vw; }

#heading {
  margin: 5vh 0 0 2vw; }

#back-arrow {
  width: 3vh;
  height: 3vh; }

#title {
  display: inline;
  font-size: xx-large;
  margin-left: 2vw; }

#filter-list {
  display: flex;
  margin: 3vh 0 0 6vw;
  width: 24vw;
  justify-content: space-between; }
