.cards {
  display: flex;
  height: 80vh;
  justify-content: space-between;
  padding: 1vh 3vw; }
  .cards .card-col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .cards .card-col1 .card {
      background-color: #f8d57b1e;
      border: 1px solid #ffffff9a;
      border-radius: 20px; }
    .cards .card-col1 .card1 {
      height: 12vh;
      width: 53vw;
      padding: 0 1vw;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cards .card-col1 .card1 .b1 {
        display: flex; }
        .cards .card-col1 .card1 .b1 .img {
          width: 4.5vw;
          height: 4.5vw;
          border-radius: 50%;
          border: 3px solid #febb8c;
          margin-right: 0.8vw; }
        .cards .card-col1 .card1 .b1 div .std-name {
          font-size: 2.5vh;
          font-weight: 600;
          line-height: 1.5; }
        .cards .card-col1 .card1 .b1 div .reg {
          font-weight: 100;
          font-size: 2.2vh; }
      .cards .card-col1 .card1 .b2 div h1 {
        font-size: 1.9vh;
        font-weight: 500;
        line-height: 1.5; }
      .cards .card-col1 .card1 .b2 div h1 span {
        font-weight: 100; }
      .cards .card-col1 .card1 .b3 {
        width: 14vw; }
        .cards .card-col1 .card1 .b3 h1 {
          font-size: 1.9vh;
          font-weight: 500;
          line-height: 1.5; }
        .cards .card-col1 .card1 .b3 h1 span {
          font-weight: 100; }
    .cards .card-col1 .card2 {
      height: 25vh;
      padding: 0 1vw;
      width: 53vw; }
      .cards .card-col1 .card2 .card-hed p {
        padding-top: 1vh;
        font-size: 2.65vh;
        color: #f8d0b4; }
      .cards .card-col1 .card2 .attendence-container {
        width: 50.75vw;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none; }
        .cards .card-col1 .card2 .attendence-container .attendence-percent {
          display: flex;
          gap: 3vw;
          padding-top: 2vh;
          padding-bottom: 3vh; }
          .cards .card-col1 .card2 .attendence-container .attendence-percent .container {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .cards .card-col1 .card2 .attendence-container .attendence-percent .container .circle-progress {
              position: relative;
              width: 5vw;
              height: 5vw;
              border-radius: 50%;
              background: conic-gradient(#ffbd01 0deg, #00000068 0deg);
              display: flex;
              align-items: center;
              justify-content: center; }
              .cards .card-col1 .card2 .attendence-container .attendence-percent .container .circle-progress .progress-val {
                position: relative;
                font-size: 2.3vh;
                font-weight: 600;
                color: #ffffff; }
            .cards .card-col1 .card2 .attendence-container .attendence-percent .container .circle-progress::before {
              content: "";
              position: absolute;
              width: 4.5vw;
              height: 4.5vw;
              background-color: #877b6f;
              border-radius: 50%; }
            .cards .card-col1 .card2 .attendence-container .attendence-percent .container .sub-info {
              text-align: center;
              font-weight: 500;
              color: #ffffff;
              margin-top: 1.5vh; }
              .cards .card-col1 .card2 .attendence-container .attendence-percent .container .sub-info .sub-code {
                font-size: 1.7vh;
                font-weight: 100; }
              .cards .card-col1 .card2 .attendence-container .attendence-percent .container .sub-info .sub-name {
                font-size: 2.3vh; }
      .cards .card-col1 .card2 .attendence-container::-webkit-scrollbar {
        display: none; }
    .cards .card-col1 .card3 {
      height: 37vh;
      width: 53vw;
      padding: 0 1vw; }
      .cards .card-col1 .card3 .card-hed p {
        padding-top: 1vh;
        font-size: 2.65vh;
        color: #f8d0b4; }
    .cards .card-col1 .card4 {
      height: 34vh;
      width: 24vw;
      padding: 0 1vw; }
      .cards .card-col1 .card4 .card-hed p {
        padding-top: 1vh;
        font-size: 2.65vh;
        color: #f8d0b4;
        padding-bottom: 1.5vh; }
      .cards .card-col1 .card4 .content {
        height: 26vh;
        overflow-x: auto;
        overflow-y: auto;
        -ms-overflow-style: none; }
        .cards .card-col1 .card4 .content .notification {
          padding-bottom: 2vh;
          display: flex;
          gap: 0.5vw;
          justify-content: space-between; }
          .cards .card-col1 .card4 .content .notification .text {
            font-size: 2vh; }
            .cards .card-col1 .card4 .content .notification .text .old {
              color: #ffffff74; }
            .cards .card-col1 .card4 .content .notification .text .new {
              color: #ffffff;
              font-weight: 400; }
            .cards .card-col1 .card4 .content .notification .text .time {
              color: #ffffff63;
              padding-top: 0.5vh;
              font-weight: 400;
              font-size: 1.5vh; }
          .cards .card-col1 .card4 .content .notification .pdf a {
            color: #ffffff; }
            .cards .card-col1 .card4 .content .notification .pdf a .download-outline:hover,
            .cards .card-col1 .card4 .content .notification .pdf a .pin-outline:hover {
              cursor: pointer;
              color: #8a8787; }
      .cards .card-col1 .card4 .content::-webkit-scrollbar {
        display: none; }
    .cards .card-col1 .card5 {
      width: 24vw;
      height: 42vh; }
