.allot__2 {
  padding: 0 3vw; }

.filters {
  display: flex;
  gap: 1vw; }

.teacher__and__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0; }

/* Description */
.description {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 69vh; }

.description-scroll {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; }

.description-scroll::-webkit-scrollbar {
  display: none; }

.description__titles ul {
  background: rgba(0, 0, 0, 0.12);
  list-style-type: none;
  display: flex;
  padding: 0.6rem 0.65rem;
  gap: 1rem;
  border-radius: 10px; }

.description__titles ul li {
  color: #fff;
  font-weight: 200;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.description__list ul {
  background: rgba(248, 213, 123, 0.15);
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  height: 5vh;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 1vh; }

.description__titles ul li:nth-child(1), .description__list ul li:nth-child(1) {
  flex: 2; }

.description__titles ul li:nth-child(2), .description__list ul li:nth-child(2) {
  flex: 20; }

.description__titles ul li:nth-child(3), .description__list ul li:nth-child(3) {
  flex: 5; }

.description__titles ul li:nth-child(4), .description__list ul li:nth-child(4) {
  flex: 5; }

.description__titles ul li:nth-child(5), .description__list ul li:nth-child(5) {
  flex: 5; }

.description__titles ul li:nth-child(6) {
  border: none;
  flex: 2; }

.description__list ul li:nth-child(6) {
  display: flex;
  justify-content: end;
  flex: 2; }

.sub-code {
  margin-right: 1vw;
  font-weight: 200; }

.import-bnt {
  display: flex;
  gap: 1.5vw;
  align-items: center; }

.template-btn {
  font-size: 1.75vh !important;
  border-radius: 10px !important;
  display: flex;
  gap: 0.5vw; }

input[type="file"] {
  display: none; }

.custom-file-upload {
  border-radius: 20px 0rem 0rem 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  width: 20vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2vw;
  position: relative; }

.custom-file-upload svg {
  position: absolute;
  transform: translateY(-50%);
  right: 0.5vw;
  width: 2vw;
  fill: #fff;
  transition: transform 0.3s ease-in-out; }

#file-name {
  display: flex;
  align-items: center;
  width: 20vw;
  padding: 0 1.5vw;
  height: 6vh;
  overflow: auto; }

#submit-btn {
  opacity: 0.4;
  border-radius: 0rem 20px 20px 0rem; }

#select-file {
  width: 10vw; }

.submit-btn {
  height: 6vh; }

.input-file {
  display: flex;
  gap: 0.25vw;
  align-items: center;
  justify-content: center; }
