.main-page {
  color: white; }

.page-heading {
  display: flex;
  margin: 2.5vh 0 0 2.5vh; }

.heading {
  display: inline-block;
  font-size: xx-large; }

.subject {
  text-align: left;
  height: 5vh;
  padding: 5px 0;
  background-color: #f8d57b1a;
  width: 17vw;
  padding-left: 10px; }

.sub-code {
  font-weight: 100;
  padding-right: 1rem;
  width: 6vw;
  font-size: 1rem; }

.sub-title {
  text-align: left;
  font-size: 1rem; }

.sub-inf {
  display: flex;
  align-items: center; }

.total-marks {
  background-color: #b78f301a; }

#footnote {
  display: flex;
  justify-content: center; }

#footnote > div {
  margin-top: 2.5vh;
  width: 75vw;
  display: flex;
  justify-content: space-between; }

.note {
  display: inline;
  font-size: 0.85rem; }

.note-tit {
  font-weight: 500; }

.note-data {
  font-weight: 100; }

#marks-display {
  overflow: auto;
  height: 76vh; }

#marks-display::-webkit-scrollbar {
  display: none; }

#back_buttn {
  margin-right: 3.5vh;
  height: 5vh;
  width: 5vh; }

#marks {
  width: 75vw;
  text-align: center;
  font-size: larger;
  border-collapse: collapse;
  color: white; }

#marks th {
  font-size: 0.85rem;
  font-weight: 300;
  border-right: 0.01px solid rgba(255, 255, 255, 0.2); }

#marks th:last-child {
  border: none; }

#marks th:first-child {
  border-top-left-radius: 10px; }

#marks th:last-child {
  border-top-right-radius: 10px; }

#marks td {
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  font-size: 1rem; }

#tb-header {
  background-color: #390300d6;
  opacity: 50%;
  height: 6vh; }

#tb-header th {
  width: 3rem; }

#markers {
  display: flex;
  margin-left: 25.5vw;
  text-align: center;
  margin-bottom: 0; }

#atten-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff1a;
  width: 14vw;
  height: 4vh;
  text-align: center;
  margin-right: 1.55vw;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; }

#inter-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff1a;
  width: 28vw;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 4vh; }

.main-table {
  display: flex;
  align-items: center;
  justify-content: center; }
