/* Main content */
.main__content {
  padding: 0rem 5rem;
  /* Added new */
  display: flex;
  flex-direction: column;
  gap: 1.3rem; }

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0vw;
  z-index: 20;
  background: linear-gradient(136deg, rgba(6, 3, 3, 0.203) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(3px);
  margin-left: 0rem;
  width: 84vw;
  height: 96vh;
  border-radius: 2.75vw;
  align-items: center;
  justify-content: center; }

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 45vw;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  background: rgba(248, 213, 123, 0.15);
  backdrop-filter: blur(34px);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.204);
  border-radius: 10px; }

/* adding the show class */
.modal.show {
  display: block; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0rem 0rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.15); }

.top h3 {
  font-weight: 600; }

.close {
  background: none;
  cursor: pointer;
  border: none; }

.middle,
.bottom {
  padding: 0.5rem 1.5rem; }

.middle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
  padding-bottom: 1rem; }

.dropdown__section {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.subject__title {
  padding: 0.5rem 0;
  display: flex;
  gap: 1vw;
  align-items: center; }

.description-text {
  display: flex;
  gap: 1vh;
  flex-direction: column; }

.subject__title span {
  width: 6vw; }

.subject__title input,
.description-text textarea {
  border: none;
  outline: none;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
  resize: vertical;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.1s; }

.subject__title input:focus,
.description-text textarea:focus {
  outline: 0.5px solid #fff;
  background: rgba(137, 137, 137, 0.049); }

.row2 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between; }

.row2 .btna {
  background: #00000071;
  border: none;
  color: #fff;
  padding: 0.2rem 1rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
  gap: 0.5rem; }

.row2 input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 142px;
  height: 33px;
  cursor: pointer; }

.bottom {
  margin-bottom: 0.75rem; }

/* Mail section */
.header {
  display: flex;
  align-items: center;
  gap: 1rem; }

.sent__mails__button {
  display: flex;
  justify-content: space-between; }

.sent__mails__button h3 {
  font-size: 1.5rem;
  font-weight: 600; }

.compose__btn {
  gap: 0.7rem; }

.compose__btn span {
  font-size: 1rem; }

.mail__list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: auto;
  height: 72vh; }

.mail {
  max-width: 73vw;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: #ffffff2e;
  display: flex;
  align-items: center;
  gap: 1vw;
  color: #fff; }

.mail__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0000005d;
  display: flex;
  justify-content: center;
  align-items: center; }

.mail__description {
  display: flex;
  align-items: center;
  gap: 0.75rem; }

.mail__title {
  font-size: 0.9rem;
  font-weight: 600;
  width: 8vw;
  color: #fff;
  margin-left: 1vw; }

.time {
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 8vw;
  display: flex;
  justify-content: end;
  align-items: center; }

.dot-sep {
  display: block;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  background: #fff; }

.sub-glmp {
  width: auto;
  max-width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500; }

.desc-glmp {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff93; }

.mail > div {
  display: flex;
  align-items: center; }

.end-pt {
  display: flex;
  align-items: center;
  gap: 0.75vw;
  margin-left: auto; }

.reg-show {
  padding-left: 1vw;
  font-weight: 200; }

.name-show {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 8vw;
  font-weight: 500; }
