*, *::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #390300; }

.main-container {
  width: auto;
  height: 100vh; }

.navbar {
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-smit-logo img {
  width: 12vw;
  padding-bottom: 2.5vh;
  padding-top: 2.5vh;
  display: flex;
  margin: auto; }

.tabs ul {
  display: flex;
  flex-direction: column; }

.tabs ul li {
  list-style: none; }

.tabs li a {
  padding: 2.5vh 0vw 2.5vh 1.75vw;
  text-decoration: none;
  transition: all 0.3s; }

.tab {
  display: flex;
  align-items: center;
  gap: 1.25vw; }

.tab-name {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem; }

.tab-icon img {
  width: 1.2vw; }

.tab:hover {
  padding-left: 2.5vw; }

.dynamic-hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }

.nav-manipal-vector img {
  position: absolute;
  width: 24vw;
  height: 45vh;
  left: -8vw;
  top: 55vh;
  opacity: 0.03;
  z-index: -1; }

.main-page {
  margin: 2vh 1vw;
  margin-left: 0rem;
  width: 85vw;
  height: 96vh;
  background-image: url("../images/bgm.png");
  background-size: cover;
  background-position: center;
  border-radius: 2.75vw; }

.blur {
  background: linear-gradient(136deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  width: auto;
  height: 100%;
  padding: 2vh 0;
  border-radius: 2.75vw; }

.dash-manipal-vec {
  position: absolute;
  opacity: 0.05;
  max-width: 100%;
  height: auto;
  left: 801px;
  top: 0px; }

.noti-circle {
  width: 10px;
  height: 10px;
  background-color: #fd6d08;
  border-radius: 50%;
  display: none; }

.tab-set {
  display: flex;
  align-items: center;
  gap: 0.4rem; }

.nexus-logo {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5vh; }

.nexus-logo p {
  font-size: 1vw;
  font-weight: 100;
  margin: auto; }

.nexus-logo img {
  width: 10vw;
  margin: auto; }
