.main-page .title-header {
  display: flex;
  align-items: center;
  height: 8vh;
  margin-top: 2rem;
  width: 75rem; }

.main-page .title-header span {
  margin-left: 45px; }

.main-page .title-header .title {
  font-size: 45px;
  color: #fff;
  font-weight: 500;
  margin-left: 5rem; }

.main-page .blur .main-content {
  /* border: 1px solid black; */
  width: 75vw;
  height: 8vh;
  margin: 0 auto;
  margin-top: 6vh;
  align-items: center; }

.main-page .blur .main-content .ch-passwd-head {
  color: #fff;
  font-size: 25px;
  font-weight: 600; }

.main-page .blur .main-content .pass-sec {
  margin-top: 1rem;
  width: 75vw;
  height: 10vh;
  display: flex;
  gap: 2rem;
  align-items: center; }

.main-page .blur .main-content .pass-sec input {
  border-radius: 15px;
  background-color: #fff;
  width: 20vw;
  height: 4rem;
  letter-spacing: 0.05em;
  border-style: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  padding: 0.1rem 0.8rem;
  color: #7b6e6e; }

.main-page .blur .main-content .pass-sec input::placeholder {
  color: #7b6e6e; }

.main-page .blur .main-content .pass-sec #save {
  border-radius: 15px;
  background: #515151;
  color: #fff;
  font-size: 1.1rem;
  border-style: none;
  width: 10vw;
  cursor: pointer;
  height: 4rem; }

.main-page .blur .main-content .contact span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  padding-right: 20px;
  align-items: center;
  margin: auto auto; }

.main-page .blur .main-content .contact {
  display: flex;
  align-items: center;
  align-items: center;
  width: 50rem;
  height: 5rem;
  margin-top: 2rem;
  justify-content: space-between;
  /* height: auto; */ }

.main-page .blur .main-content .contact .hide-wap {
  display: flex; }

.main-page .blur .main-content .contact .hide-mobile-no {
  display: flex; }

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.toggle-switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  border-radius: 34px; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.4s;
  border-radius: 50%; }

input:checked + .slider::before {
  background-color: #fd6d08; }

input:checked + .slider:before {
  transform: translateX(26px); }

.toggle-div {
  margin-top: 4vh;
  display: flex;
  align-items: center;
  gap: 6vw; }

.toggle-set {
  display: flex;
  align-items: center;
  gap: 1vw; }
