h1 {
  text-align: center; }

input, select {
  outline: none;
  background: #cafffb32;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 400 !important;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
  border: 0.5px solid #ffffff70;
  padding: 1rem; }

input::placeholder {
  color: #ffffff82 !important; }

select {
  cursor: pointer; }

input[type="Submit"] {
  background: #fd6d08;
  margin-top: 1rem;
  border: none;
  transition: all 0.3s;
  color: #ffffff !important;
  font-weight: 500 !important;
  cursor: pointer; }

input[type="Submit"]:hover {
  background: #e56306; }

div {
  display: flex;
  justify-content: space-between; }

div input {
  width: 11.2rem; }
