/************************************************************************************************/
/*****************************************Student Feedback CSS***********************************/
/************************************************************************************************/
body {
  color: #fff; }

a {
  text-decoration: none;
  color: #fff; }

/*********************** Teacher's Feedback ***************************/
.feedback {
  height: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3vh; }
  .feedback .feed {
    padding: 0 5vw;
    display: flex;
    justify-content: space-between; }
    .feedback .feed .feed-card {
      display: flex;
      background-color: #f8d57b1e;
      border: 1px solid #ffffff9a;
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      padding: 1.5vh 1vw;
      width: 35vw;
      gap: 0.5vw;
      height: 12.5vh; }
      .feedback .feed .feed-card .tch-pic img {
        width: 4.5vw;
        border-radius: 100%;
        border: 3px solid #FD6D08; }
      .feedback .feed .feed-card div .tch-name {
        font-size: 2.2vh;
        font-weight: 500; }
      .feedback .feed .feed-card div .tch-dtl {
        font-size: 1.9vh;
        font-weight: 100; }
      .feedback .feed .feed-card .feed-btn {
        margin: auto;
        margin-right: 0.1vw; }

.feedback::-webkit-scrollbar {
  display: none; }

.feedback-icon {
  display: none; }

@media screen and (min-width: 300px) and (max-width: 640px) {
  .nav-mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 0 5vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.05); }
  .blur {
    overflow-y: hidden !important; }
  .back-icon {
    display: none !important; }
  .page-heading {
    margin-left: 0 !important;
    align-items: center;
    justify-content: center;
    gap: 2vw !important; }
  .feedback-icon {
    display: block;
    width: 6vw !important;
    fill: white; }
  .feedback {
    height: 89vh; }
  .feedback .feed {
    flex-direction: column;
    gap: 3vh;
    align-items: center; }
  .feedback .feed .feed-card {
    width: 100%;
    gap: 2vw;
    padding: 1.5vh 2vw; }
  .tch-dtl:last-child {
    display: none; }
  .feedback .feed .feed-card .tch-pic img {
    width: 4.5rem; }
  .feedback .feed .feed-card div .tch-name {
    font-size: 2vh; }
  .feedback .feed .feed-card div .tch-dtl {
    font-size: 1.8vh; }
  .feedback .feed .feed-card .feed-btn .btn {
    width: 38vw;
    font-size: 1.8vh;
    border-radius: 15px; } }

.card-internal,
.mobile-header,
.sidebar1 {
  display: none; }
