*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.heading {
  display: flex;
  justify-content: space-between; }

.ecampus img {
  margin-top: 1.5rem;
  width: 10rem;
  margin-right: 3rem; }

.dash-heading {
  padding-top: 1rem; }

.head {
  padding-left: 3rem;
  color: #ffffff; }

.head1 {
  font-size: 7vh;
  font-weight: 700;
  color: #ffffff; }

.welcome-msg {
  font-size: 3vh;
  font-weight: 300; }

.welcome-msg span {
  font-weight: 600; }
