.main-page .title-header {
  display: flex;
  align-items: center;
  height: 8vh;
  margin-top: 2rem;
  /* border: 1px solid #000; */
  width: 75rem;
  justify-content: space-between; }

.main-page .title-header span {
  margin-left: 45px; }

.main-page .title-header .title {
  font-size: 45px;
  color: #fff;
  margin-left: 5rem; }

.main-page .title-header .buttons {
  display: flex; }

.main-page .title-header .buttons .add-doc {
  background-color: #f8d57b1e;
  border: 1px solid #ffffff9a;
  border-radius: 20px;
  color: #fff;
  width: 13vw;
  height: 5.8vh;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  cursor: pointer; }

.main-page .title-header .buttons .submit {
  background-color: #fd6d08;
  width: 8vw;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  border: none;
  height: 6vh;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 2vw; }

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 63vh;
  padding: 2rem 2rem; }

.description-scroll {
  height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; }

.description__titles ul {
  background: rgba(0, 0, 0, 0.12);
  list-style-type: none;
  display: flex;
  padding: 0.6rem 0.65rem;
  gap: 1rem;
  border-radius: 10px; }

.description__titles ul li {
  flex: 2;
  color: #fff;
  font-weight: 200;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.description__titles ul li:nth-child(1) {
  flex: 1; }

.description__titles ul li:nth-child(2) {
  flex: 4; }

.description__titles ul li:nth-child(3) {
  flex: 10; }

.description__titles ul li:nth-child(4) {
  flex: 4; }

.description__titles ul li:nth-child(5) {
  flex: 3; }

.description__titles ul li:nth-child(6) {
  border: none;
  flex: 3; }

.description__list ul {
  background: rgba(248, 213, 123, 0.15);
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 1.3vh 1vw;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 1vh; }

.description__list ul li {
  flex: 2;
  color: #fff; }

.description__list ul li:nth-child(2) {
  flex: 4; }

.description__list ul li:nth-child(3) {
  flex: 10; }

.description__list ul li:nth-child(4) {
  flex: 4; }

.description__list ul li:nth-child(1) {
  color: #ffffffa7;
  flex: 1; }

.description__list ul li:nth-child(5) {
  flex: 3; }

.description__list ul li:nth-child(6) {
  flex: 3;
  display: flex;
  justify-content: end; }

.description__list .view-doc {
  width: 8rem;
  height: 3rem; }
