.main-result {
  padding: 0 5.4vw; }

.select-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh; }

.select-sm {
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(253, 109, 8, 0.2);
  width: 13vw;
  height: 6vh;
  padding: 0 0.75vw;
  cursor: pointer;
  font-size: 1vw; }

.select-sm option {
  background-color: #FD6D08; }

.select-large {
  width: 30vw; }

.drop-down-arrow {
  width: 2vw;
  fill: #fff; }

input[type="file"] {
  display: none; }

.custom-file-upload {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 1.3vw;
  width: 25vw;
  cursor: pointer;
  overflow: auto;
  font-size: 1.2vw; }

.submit-btn {
  height: 7vh; }

.input-file {
  display: flex;
  gap: 1.75vw;
  align-items: center;
  margin-top: 7vh;
  margin-bottom: 12vh;
  justify-content: center; }

.calulate-file {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
  font-size: 1.2vw; }

input::placeholder {
  color: #fff; }

.view-analysis-main > div {
  display: flex;
  justify-content: space-between; }

.export-btn {
  display: flex;
  align-items: center;
  gap: 1vw; }

.export-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  height: 6vh; }

.export-svg {
  width: 1vw; }

.view-analysis-main div ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 55vw;
  gap: 1vw; }

.analysis-list li {
  border-radius: 5px;
  border: 1.5px solid #FD6D08;
  padding: 1vh;
  cursor: pointer;
  transition: all 0.3s; }

.analysis-list li:hover {
  background-color: #FD6D08; }

.view-analysis-main {
  padding: 0 5.4vw; }

.analysis-table {
  display: none; }

.table-wrapper {
  overflow-x: auto;
  max-width: 100%; }

table {
  border-collapse: collapse;
  width: 100%; }

th,
td {
  border: 1px solid #ffffff5c;
  padding: 8px;
  text-align: left;
  width: 100px; }

th {
  background-color: #f2f2f2; }

.analysis-table {
  margin: 2vh 0;
  height: 66vh;
  overflow: auto; }
