.main_content {
  padding: 2vh 7.5vw; }
  .main_content .assignment_card {
    border: none;
    background: #ffffff32;
    border-radius: 20px;
    display: flex;
    padding: 2vh 2vw;
    gap: 2vw;
    align-items: center; }
    .main_content .assignment_card .subject_back img {
      width: 1vw; }
    .main_content .assignment_card .subject_assignment {
      display: flex;
      flex-direction: column;
      gap: 1.4vh; }
      .main_content .assignment_card .subject_assignment .assignment_title {
        display: flex;
        gap: 2vw; }
        .main_content .assignment_card .subject_assignment .assignment_title .subject_title {
          color: #fff;
          font-weight: 500;
          font-size: 2vh; }
        .main_content .assignment_card .subject_assignment .assignment_title .due_date {
          display: flex;
          gap: 0.2vw;
          align-items: center;
          color: #ffffff9b;
          font-size: 1.7vh; }
          .main_content .assignment_card .subject_assignment .assignment_title .due_date img {
            width: 0.8vw; }
      .main_content .assignment_card .subject_assignment .assignment_desc {
        color: #ffffff9b;
        font-size: 1.7vh; }
    .main_content .assignment_card .assignment_file .download_btn {
      background: #fd6d08;
      border: none;
      padding: 1.5vh 1vw;
      border-radius: 20px; }
      .main_content .assignment_card .assignment_file .download_btn a {
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 0.3vw; }
        .main_content .assignment_card .assignment_file .download_btn a img {
          width: 0.9vw; }
  .main_content .filters_save {
    margin: 2vh 0;
    display: flex; }
    .main_content .filters_save .left_side_button .btn_1 {
      border: 1px solid #fd6d08;
      background: #fd6d08;
      color: #fff;
      padding: 1.5vh 1.5vw;
      border-radius: 5px;
      cursor: pointer; }
    .main_content .filters_save .left_side_button .btn_2 {
      border: 1px solid #fd6d08;
      background: transparent;
      color: #fff;
      padding: 1.5vh 1.5vw;
      border-radius: 5px;
      margin-left: 0.5vw;
      cursor: pointer; }
    .main_content .filters_save .right_side_button {
      margin-left: auto; }
      .main_content .filters_save .right_side_button .btn_3 {
        border: 1px solid #fd6d08;
        background: transparent;
        color: #fff;
        padding: 1.5vh 1.5vw;
        border-radius: 20px;
        cursor: pointer; }
      .main_content .filters_save .right_side_button .btn_4 {
        border: 1px solid #fd6d08;
        background: #fd6d08;
        color: #fff;
        padding: 1.5vh 1.5vw;
        border-radius: 20px;
        margin-left: 0.5vw;
        cursor: pointer; }
  .main_content .description {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 63vh; }
    .main_content .description .description__titles ul {
      background: rgba(0, 0, 0, 0.12);
      list-style-type: none;
      display: flex;
      padding: 1.6vh 0.65vw;
      gap: 1vw;
      border-radius: 10px; }
      .main_content .description .description__titles ul li {
        flex: 2;
        color: #fff;
        font-weight: 200;
        border-right: 1px solid rgba(255, 255, 255, 0.2); }
        .main_content .description .description__titles ul li:nth-child(1) {
          flex: 1; }
        .main_content .description .description__titles ul li:nth-child(2) {
          flex: 4; }
        .main_content .description .description__titles ul li:nth-child(3) {
          flex: 3; }
        .main_content .description .description__titles ul li:nth-child(4) {
          flex: 4; }
        .main_content .description .description__titles ul li:nth-child(5) {
          flex: 5; }
        .main_content .description .description__titles ul li:nth-child(6) {
          border: none;
          flex: 1; }
    .main_content .description .description-scroll {
      height: 70vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 1.75vh; }
      .main_content .description .description-scroll .description__list ul {
        background: rgba(248, 213, 123, 0.15);
        list-style-type: none;
        display: flex;
        align-items: center;
        padding: 1.3vh 1vw;
        gap: 1vw;
        border-radius: 10px;
        margin-top: 1vh; }
        .main_content .description .description-scroll .description__list ul li {
          flex: 2;
          color: #fff; }
          .main_content .description .description-scroll .description__list ul li:nth-child(1) {
            color: #ffffffa7;
            flex: 1; }
          .main_content .description .description-scroll .description__list ul li:nth-child(2) {
            flex: 4; }
          .main_content .description .description-scroll .description__list ul li:nth-child(3) {
            flex: 3; }
          .main_content .description .description-scroll .description__list ul li:nth-child(4) {
            flex: 4; }
          .main_content .description .description-scroll .description__list ul li:nth-child(5) {
            flex: 5; }
          .main_content .description .description-scroll .description__list ul li:nth-child(6) {
            flex: 1; }
        .main_content .description .description-scroll .description__list ul .marks_box {
          width: 5vw;
          padding: 0.4vh 1vw;
          border-radius: 5px;
          background-color: #00000017; }
