.main-page .blur .allot-student {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .main-page .blur .allot-student .main-content {
    align-self: center;
    height: 79vh;
    overflow: auto; }
    .main-page .blur .allot-student .main-content ul li {
      border: 1px solid #fff;
      padding: 1rem 1rem;
      margin-bottom: 1rem;
      border-radius: 15px;
      background-color: #F8D57B26;
      width: 65vw;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .main-page .blur .allot-student .main-content ul li .anchor-content {
        width: 560px; }
        .main-page .blur .allot-student .main-content ul li .anchor-content .row1 {
          margin-bottom: 0.3rem; }
          .main-page .blur .allot-student .main-content ul li .anchor-content .row1 .sub-code {
            font-weight: 200;
            font-size: 1.2rem;
            color: #fff; }
          .main-page .blur .allot-student .main-content ul li .anchor-content .row1 .sub-name {
            font-weight: 500;
            font-size: 1.3rem;
            color: #fff; }
        .main-page .blur .allot-student .main-content ul li .anchor-content .row2 {
          display: flex;
          gap: 0.75vw;
          font-weight: 300;
          font-size: 17px; }
          .main-page .blur .allot-student .main-content ul li .anchor-content .row2 .bold-part {
            font-style: normal;
            font-weight: 700;
            font-size: 15px; }
      .main-page .blur .allot-student .main-content ul li .btn-div {
        display: flex;
        gap: 0.75rem; }
  .main-page .blur .allot-student .main-content::-webkit-scrollbar {
    display: none; }
