.tabs-bar {
  background-color: #ffffff2d;
  border-radius: 7px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 55vw;
  height: 5vh; }

.tb {
  width: calc(55vw / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 5vh;
  font-size: 2vh;
  transition: all 0.3s; }

.tb:hover {
  font-size: 2.05vh; }

.tab-border {
  background-color: #0000008f;
  border-radius: 7px; }

.tab-border:hover {
  font-size: 2vh; }

#tab-1-content,
#tab-2-content {
  display: none;
  opacity: 0; }

.tab1-cont {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 80vh;
  overflow: auto; }

.tab1-cont::-webkit-scrollbar {
  display: none; }

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in; }

.info-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.tab-content {
  width: 55vw;
  height: 83vh;
  border-radius: 10px;
  background: rgba(248, 213, 123, 0.15);
  padding: 1.75vh 1vw; }

.slide {
  background-color: #f8d57b1e;
  border: 1px solid #ffffff61;
  border-radius: 10px;
  padding: 1vw;
  cursor: pointer; }

.sl {
  width: 53vw;
  color: #ffffff; }

.sbj-cd-name {
  display: flex;
  align-items: center;
  gap: 1vw; }

.sbj-cd-name h2 {
  font-size: 2.4vh;
  font-weight: 100; }

.sbj-cd-name p {
  font-size: 2.4vh;
  font-weight: 500; }

.slide:hover {
  background-color: #ffffff21; }

.sl h1 {
  font-size: 2.6vh;
  font-weight: 600; }

.sbj-info {
  display: flex;
  gap: 1vw; }

.sl .sbj-info h1 {
  font-size: 1.8vh;
  font-weight: 500; }

.sl .sbj-info h1 span {
  font-weight: 250; }

#sp {
  padding-right: 1vw; }

.dt {
  display: grid;
  text-align: center;
  justify-content: center;
  padding-top: 2vh; }

.sl .dt h1 {
  font-size: 2.2vh;
  font-weight: 600;
  color: #febb8c; }

.sl .dt h1 span {
  color: #ffffff; }

.filter-wards {
  margin-bottom: 2.5vh; }

#filter-select {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: auto;
  padding: 1vh 1vw;
  font-size: 1.75vh; }

/* Description */
.description {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 72vh; }

.description-scroll {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1.75vh; }

.description-scroll::-webkit-scrollbar {
  display: none; }

.description__titles ul {
  background: rgba(0, 0, 0, 0.12);
  list-style-type: none;
  display: flex;
  padding: 1vh 0.65vw;
  gap: 1vw;
  border-radius: 10px; }

.description__titles ul li {
  flex: 2;
  color: #fff;
  font-size: 1.75vh;
  font-weight: 300;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.description__titles ul li:nth-child(1) {
  flex: 1.5; }

.description__titles ul li:nth-child(2) {
  flex: 7; }

.description__titles ul li:nth-child(3) {
  flex: 4; }

.description__titles ul li:nth-child(4) {
  flex: 10; }

.description__titles ul li:nth-child(5) {
  border: none;
  flex: 2; }

.description__list ul {
  background: rgba(248, 213, 123, 0.15);
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  height: 4.5vh;
  gap: 1vw;
  border-radius: 7px;
  margin-bottom: 1vh; }

.description__list ul li {
  flex: 1.5;
  color: #fff; }

.description__list ul li:nth-child(2) {
  flex: 7; }

.description__list ul li:nth-child(3) {
  flex: 4; }

.description__list ul li:nth-child(4) {
  flex: 10; }

.description__list ul li:nth-child(5) {
  display: flex;
  justify-content: end;
  flex: 2; }

.view-pro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3vh;
  width: 4vw;
  font-size: 1.75vh;
  border-radius: 10px; }
