/******************************************************************************************************************/
/****************************************************Admin Dashboard CSS*******************************************/
/******************************************************************************************************************/
/*---------------------------------Admin Header CSS-----------------------------------*/
body {
  font-family: "Montserrat", sans-serif !important; }

.heading {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between; }

.head {
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem; }

.welcome-msg {
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem; }

.welcome-msg span {
  font-weight: 600; }

/*------------------------Teacher Personal Info CSS----------------------*/
.teacher-info {
  display: flex;
  color: #ffffff;
  align-items: center; }

.tch-img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 3px solid #fd6d08;
  margin-right: 0.5rem; }

.tch-name {
  font-weight: 400;
  font-size: 1.6rem; }

.tch-info {
  font-weight: 200;
  font-size: 1rem; }

/*--------------------------Search Box CSS-------------------------*/
.search-box {
  padding: 0.8rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.search-input {
  width: 35rem;
  height: 3rem;
  padding: 10px 30px 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  font-size: 1.3rem;
  color: #ffffff;
  backdrop-filter: blur(12px); }

.search-input:focus {
  outline: none;
  border: 1px solid #fadb0e; }

.search-input::placeholder {
  color: #ffffff7c;
  font-family: "Montserrat", sans-serif !important; }

/*------------------------Teacher Subjects CSS------------------------*/
.subjects {
  padding: 1rem 1rem 0 1rem;
  font-weight: 300;
  font-size: 0.7rem;
  color: #ffffff; }

.hed {
  padding-left: 1.5rem;
  font-weight: 400; }

/*---------------Carousel Slider CSS----------------*/
.main-carousel-container {
  display: flex; }

.carousel-container {
  width: 75vw;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  mask-image: linear-gradient(transparent, black 5%, black 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent 100%); }

.carousel-container::-webkit-scrollbar {
  display: none; }

.carousel {
  display: flex;
  gap: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.carousel-container .noinformationtext {
  height: 10rem;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3rem;
  color: #ffffff56; }

.carousel:first-of-type {
  margin-left: 2rem; }

.controller {
  vertical-align: middle;
  cursor: pointer;
  margin: auto; }

.right-control {
  right: 0rem; }

/*--------------Subject CSS---------------*/
.slide {
  height: 10rem;
  background-color: #f8d57b1e;
  border: 1px solid #ffffff9a;
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 1rem; }

.sl {
  width: 18rem;
  color: #ffffff; }

.sl h2 {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: left !important; }

.sbj-nm {
  padding-top: 0.3rem;
  text-align: left !important; }

.sl h1 {
  font-size: 1.5rem;
  font-weight: 600; }

.sbj-info {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between; }

.sl .sbj-info h1 {
  font-size: 0.9rem;
  font-weight: 500; }

.sl .sbj-info h1 span {
  font-weight: 250; }

#sp {
  padding-right: 1rem; }

.dt {
  display: grid;
  text-align: center;
  justify-content: center;
  padding-top: 1rem; }

.sl .dt h1 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #febb8c; }

.sl .dt h1 span {
  color: #ffffff; }

.sbj-ctr {
  text-align: right; }

.sbj-ctr img {
  height: 1.3rem;
  opacity: 0.6;
  padding-top: 0.1rem; }

.cont-hover {
  display: none; }

.sl:hover .cont-def {
  display: none; }

.sl:hover .cont-hover {
  display: block; }

/*-----------------------------------Teacher Interaction CSS------------------------------*/
.footer {
  display: grid;
  padding: 0 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem; }

.tch-container {
  height: 21rem !important;
  background-color: #f8d57b1e;
  border: 1px solid #ffffff9a;
  backdrop-filter: blur(12px);
  border-radius: 20px; }

.tch-content {
  height: 17.5rem !important; }

.carousel-container button {
  background-color: rgba(255, 255, 255, 0);
  border: 0px; }
