.student-info {
  width: 65vw;
  margin: auto;
  padding-bottom: 2rem; }

.std-info {
  background-color: #00000025;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px; }

.back-btn a svg:hover {
  fill: #ffffff76; }

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.75rem; }

.student__details .name {
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem; }

.student__details .registration {
  color: #fff;
  font-size: 1rem;
  padding: 0.3rem 0;
  font-weight: 100;
  /* font-size: 1rem; */ }

.image {
  width: 3.5rem;
  height: 3.5rem; }

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #fd6d08;
  /* margin-right: 0.5rem; */ }

.attendance-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.attendance-info div {
  display: flex;
  gap: 1rem; }

.std-btn {
  display: flex;
  gap: 1rem; }

.export {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.75rem !important;
  width: 7rem !important; }

.export img {
  width: 17px;
  height: 17px; }

.attendance-info span {
  padding-left: 0.5rem;
  font-weight: 600; }

.date-list {
  display: flex;
  gap: 4vw;
  height: 55vh;
  overflow-x: auto;
  width: 65vw;
  margin: auto; }
  .date-list .att-list {
    display: flex;
    flex-direction: column;
    gap: 1vw; }
    .date-list .att-list .att-day {
      display: flex;
      justify-content: space-around;
      width: 15vw;
      padding: 1vh 0;
      align-items: center;
      background-color: #f8d57b30;
      border-radius: 0.75vw; }
      .date-list .att-list .att-day .att-no {
        font-weight: 200;
        font-size: 2vh; }
      .date-list .att-list .att-day .att-date {
        font-weight: 500;
        font-size: 2vh; }
      .date-list .att-list .att-day #clc {
        background: none;
        align-items: center;
        justify-content: center;
        width: 1.6vw;
        height: 1.6vw;
        border: 2px solid #fff;
        border-radius: 100%;
        display: flex; }
        .date-list .att-list .att-day #clc #clp {
          background: #fd6d08;
          width: 1.4vw;
          height: 1.4vw;
          border-radius: 100%; }

.att-cont {
  height: 60vh; }

.search-input {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  font-size: 1rem;
  color: #ffffff; }

.search-btn {
  padding: 0.75rem 1rem;
  background: #00000037;
  color: #fff;
  border-radius: 19px;
  cursor: pointer;
  margin: auto;
  transition: all 0.3s; }

.search-btn:hover {
  background: #0000006a; }

.search-input input {
  border-radius: 20px;
  background: transparent;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  width: 25rem; }

.search-input input:focus {
  outline: none; }

.search-input::placeholder {
  color: #ffffff7c; }

.export-btn {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.export-btn img {
  width: 18px;
  height: 18px; }

.export-btn {
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  background: #fd6d08;
  width: 8.5vw;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s; }

.export-btn:hover {
  background: #ea6404; }

.tab-header {
  height: 6vh;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* - - - - - - - - - - - - - - - -  */
/*  student's attendance profile */
/* - - - - - - - - - - - - - - - -  */
.student-profile {
  overflow-y: auto;
  max-height: 65vh;
  margin-top: 1.5rem; }

.student-profile::-webkit-scrollbar {
  display: none; }

.Alphabet {
  float: left;
  padding-top: 1rem; }

.serial_naming {
  display: flex; }

.stu_list {
  padding: 0 8rem; }

.postcard {
  background-color: rgba(255, 255, 255, 0.1);
  width: 10rem;
  height: 9rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  position: relative;
  transition: all 0.1s; }

.postcard:hover {
  background-color: rgba(255, 255, 255, 0.169); }

.order {
  font-size: 2rem;
  font-weight: lighter;
  display: inline-block; }

.stu_name_cards {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.stu_name {
  font-weight: 500;
  padding-top: 0.3rem; }

.stu_reg_no {
  font-weight: 100; }

.mark {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%; }

.present {
  background-color: #24ff00; }

.absent {
  background-color: #ff0000; }
