/* mode-and-button */
.mode__and__button {
  padding: 0 7.5vw;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: space-between; }

.left,
.right {
  display: flex;
  gap: 1.5vw; }

.date input {
  width: 166px;
  color: #fff;
  background: #fd6e082d;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 1vw;
  padding: 1.1vh 1vw;
  cursor: pointer;
  outline: none;
  color-scheme: #fff; }

.date input::-webkit-calendar-picker-indicator {
  filter: invert(100%); }

/* List */
.list__main {
  padding: 2vh 7.5vw; }

.list__main__title ul {
  list-style-type: none;
  display: flex;
  gap: 1vw;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 1.3vh 1vw;
  color: #fff;
  margin-bottom: 2.5vh; }

.list__main__title ul li {
  font-size: 0.9rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }

.list__main__title ul li:nth-child(1),
.list__main__title ul li:nth-child(4),
.list__main__title ul li:nth-child(5),
.list__main__title ul li:nth-child(6) {
  flex: 1; }

.list__main__title ul li:nth-child(2) {
  flex: 4; }

.list__main__title ul li:nth-child(3) {
  flex: 3; }

.list__main__title ul li:nth-child(7) {
  flex: 1;
  border: none;
  display: flex;
  justify-content: center; }

input[type="checkbox"] {
  position: relative;
  appearance: none;
  border: 1px solid white;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  color: #FD6D08;
  cursor: pointer; }

input[type="checkbox"]::before {
  content: "\25CF";
  border-radius: 50%;
  position: absolute;
  font-size: 2.9vh;
  right: 0px;
  top: -10px;
  color: #FD6D08;
  visibility: hidden; }

input[type="checkbox"]:checked::before {
  visibility: visible; }

/* list-items */
.list__items {
  padding-bottom: 1.4vh; }

.list__items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1vw;
  background: rgba(248, 213, 123, 0.15);
  border-radius: 7px;
  padding: 1.3vh 1vw;
  color: #fff; }

.list__items ul li {
  font-size: 1rem; }

.list__items ul li:nth-child(1),
.list__items ul li:nth-child(4),
.list__items ul li:nth-child(5),
.list__items ul li:nth-child(6) {
  flex: 1; }

.list__items ul li:nth-child(2) {
  flex: 4; }

.list__items ul li:nth-child(3) {
  flex: 3; }

.list__items ul li:nth-child(7) {
  flex: 1;
  display: flex;
  justify-content: center; }

#view-tab {
  display: none; }

.stu_name_cards button {
  background-color: #ffffff00;
  border: 0px; }

#update-tab {
  display: none; }

select option {
  background-color: #fd6e084c; }

.student-list-scroll {
  height: 57vh;
  overflow-y: auto; }

.student-list-scroll::-webkit-scrollbar {
  display: none; }

.select-menu1 {
  width: 140px; }

.select-menu1 .select-btn1 {
  display: flex;
  justify-content: space-between;
  background: #fd6e082d;
  border: 0.5px solid #fff;
  padding: 1.1vh 1vw;
  font-size: 2vh;
  font-weight: 400;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.select-btn1 i {
  font-size: 25px;
  transition: 0.3s; }

.select-menu1.active .select-btn1 i {
  transform: rotate(-180deg); }

.select-menu1 .options {
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto;
  height: auto;
  max-height: 30vh;
  background: #0000004b;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: none; }

.select-menu1.active .options {
  display: block; }

.options .option1 {
  display: flex;
  cursor: pointer;
  padding: 1.5vh 0;
  align-items: center;
  justify-content: center;
  width: 140px; }

.options .option1:hover {
  background: #282727; }

.option1 i {
  font-size: 25px; }

.option1 .option-text {
  font-size: 2vh;
  color: #fff; }
