/* mode-and-button */
.mode__and__button {
  padding: 0 7.5vw;
  display: flex;
  justify-content: space-between; }

.left,
.right {
  display: flex;
  gap: 1.5vw; }

.left button {
  width: 12vw; }

/* List */
.list__main {
  padding: 2vh 7.5vw; }

.list-sroll {
  height: 57vh;
  overflow-y: auto; }

.list-sroll::-webkit-scrollbar {
  display: none; }

.list__main__title ul {
  list-style-type: none;
  display: flex;
  gap: 1vw;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 1vh 1vw;
  color: #fff;
  margin-bottom: 2vh; }

.list__main__title ul li {
  font-size: 0.9rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.3vh 0; }

.list__main__title ul li:nth-child(1),
.list__main__title ul li:nth-child(4) {
  flex: 1; }

.list__main__title ul li:nth-child(2) {
  flex: 4; }

.list__main__title ul li:nth-child(3) {
  flex: 3; }

.list__main__title ul li:nth-child(5) {
  flex: 1;
  border: none;
  display: flex;
  justify-content: center; }

/* list-items */
.list__items {
  padding-bottom: 1vh; }

.list__items ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1vw;
  background: rgba(248, 213, 123, 0.15);
  border-radius: 7px;
  padding: 0.75vh 1vw;
  color: #fff; }

.list__items ul li {
  font-size: 1rem; }

.list__items ul li .input-tag {
  background: rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  text-align: center;
  font-size: 2.2vh;
  border: none;
  outline: none;
  width: 3.5vw;
  height: 4.5vh;
  color: #fff; }

.list__items ul li .input-tag-2 {
  background: none;
  border-radius: 5px;
  text-align: center;
  font-size: 2.2vh;
  border: none;
  outline: none;
  width: 3.5vw;
  height: 4.5vh;
  color: #fff; }

.list__items ul li:nth-child(1) {
  flex: 1; }

.list__items ul li:nth-child(2) {
  flex: 4; }

.list__items ul li:nth-child(3) {
  flex: 3; }

.list__items ul li:nth-child(5),
.list__items ul li:nth-child(4) {
  flex: 1;
  display: flex;
  justify-content: center; }

.popup {
  display: none;
  margin-top: 200px;
  position: absolute;
  top: 0;
  left: 20%; }

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 213, 123, 0.15);
  height: 250px;
  width: 430px;
  border-radius: 20px 20px 20px 20px;
  justify-content: center; }

.test-type {
  width: auto;
  height: 80px;
  border-radius: 20px 20px 0px 0px;
  background-color: black;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  text-align: center; }

.test-type p {
  font-style: normal;
  font-weight: 400px;
  font-size: 60px;
  line-height: 135.5%;
  color: white; }

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: 170px;
  border-radius: 0px 0px 20px 20px;
  align-items: center; }

#maximum-marks {
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  color: white; }

.popup-content input {
  width: 320px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 44px;
  position: relative; }

.popup-content button {
  padding: 10px;
  height: 40px;
  width: 100px;
  background: rgba(255, 112, 12, 0.8);
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-left: -100px;
  position: absolute; }

#NB-part {
  font-style: normal;
  font-weight: 200;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF; }

.popup-input {
  color: black;
  padding: 0 2vw; }

.confirm-text {
  width: 450px;
  height: 86px;
  left: 814px;
  top: 459px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 135.5%;
  text-align: center;
  color: #FFFFFF; }

.buttons {
  display: flex;
  /* flex-direction: row;
    justify-content: space-evenly; */ }

#tick {
  height: 53px;
  width: 53px;
  border-radius: 50px;
  background-color: rgba(248, 213, 123, 0.15);
  border: none;
  margin-left: 40px;
  margin-right: auto; }

#tick img {
  width: 53px;
  height: 53px;
  margin-right: 10px;
  border-width: 0; }

#cross {
  height: 53px;
  width: 53px;
  margin-left: auto;
  margin-right: 40px;
  border-radius: 50px;
  background-color: rgba(248, 213, 123, 0.15);
  border-width: 0; }

#cross img {
  width: 53px;
  height: 53px;
  margin-right: 10px; }
