<link rel="stylesheet" href="<%= assetPath('css/teach-general-att.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/teach-assign-check.css') %>">


      <div class="main-page">
        <div class="blur">
          <!-- - - - - - - - - - - -->
          <!-- Write you code here -->
          <!-- - - - - - - - - - - -->

          <div class="main_content">
            <div class="assignment_card">
              <div class="subject_back">
                <a href="">
                  <img src="../../assets/images/lefty_arrow.png" alt="" />
                </a>
              </div>
              <div class="subject_assignment">
                <div class="assignment_title">
                  <div class="subject_title">Data Structure Assignment I</div>
                  <div class="due_date">
                    <img src="../../assets/images/clock.png" alt="" />
                    Due July 2, 2023
                  </div>
                </div>
                <div class="assignment_desc">
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters
                </div>
              </div>
              <div class="assignment_file">
                <button class="download_btn">
                  <a href="">
                    <img
                      src="../../assets/images/teenyicons_pdf-solid.png"
                      alt=""
                    />
                    16/07/2023.pdf
                  </a>
                </button>
              </div>
            </div>

            <div class="filters_save">
              <div class="left_side_button">
                <button class="btn_1">All</button>
                <button class="btn_2">Submitted</button>
                <button class="btn_2">Not Submitted</button>
              </div>
              <div class="right_side_button">
                <button class="btn_3">Reset</button>
                <button class="btn_4">Save</button>
              </div>
            </div>

            <div class="description">
              <div class="description__titles">
                <ul>
                  <li>S.No</li>
                  <li>Name</li>
                  <li>Mobile No</li>
                  <li>Uploaded File</li>
                  <li>Date & Time Uploaded</li>
                  <li>Marks(5)</li>
                </ul>
              </div>
              <div class="description-scroll">
                <div class="description__list">
                  <ul>
                    <li>01</li>
                    <li>Srijan Dev</li>
                    <li>8789334294</li>
                    <li></li>
                    <li>29-Feb-2023; 08:00 PM</li>
                    <li><span class="marks_box">5</span></li>
                  </ul>

                  <ul>
                    <li>01</li>
                    <li>Srijan Dev</li>
                    <li>8789334294</li>
                    <li></li>
                    <li>29-Feb-2023; 08:00 PM</li>
                    <li><span class="marks_box">5</span></li>
                  </ul>

                  <ul>
                    <li>01</li>
                    <li>Srijan Dev</li>
                    <li>8789334294</li>
                    <li></li>
                    <li>29-Feb-2023; 08:00 PM</li>
                    <li><span class="marks_box">5</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>