.main-page{
    color: white;
    height: 100vh;
    overflow: hidden;
}

.filter{
    border: 1px solid #FD6D08;
    /* height: 4vh; */
    text-align: center;
    padding: 1vh 1vw;
    transition-duration: 0.3s;
}

.filter:hover{
    background-color: #FD6D08;
}

.detail-desciption{
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

.detail-value{
    margin-right: 4vw;
}

.note{
    background: linear-gradient(0deg, rgba(248, 213, 123, 0.15), rgba(248, 213, 123, 0.15)),
linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

}

.header-data{
    font-weight: lighter;
    padding: 0 3vw;
}

.note-metadata{
    font-weight: lighter;
}

.note-data{
    font-weight: light;
}

.pdf-icon{
    margin-right: 1vw;
}

.note-options{
    height: 3.5vh;
    width: 2vw;
    margin-right: 1vw;
}

#title{
    display: flex;
    width: 60vw;
    margin: 3vh 0 0 2vw;
    justify-content: space-between;
    font-size: x-large;
}

#sub-code{
    font-weight: lighter;
}

#sub-title{
    font-weight: normal;
}

#left-arrow{
    width: 3vw;
    height: 5vh;
}

#details{
    display: flex;
    margin: 3vh 0 0 6.5vw;
    font-size: medium;
}

#notes-list{
    border-collapse: separate;
    border-spacing: 0 1vh;
}

#notes-view{
    margin: 1vh 0 0 10vw;
    width: 80vw;
    height: 67vh;
    text-align: center;
    font-size: larger;
    overflow: auto;
}

#notes-view::-webkit-scrollbar{
    display: none;
}

#header{
    background: #0000001F;
    height: 5vh;
}

#filters-and-options{
    display: flex;
    margin: 10vh 0 0 10vw;
    width: 65vw;
    justify-content: space-between;
}

#filters{
    display: flex;
    width: 32vw;
    justify-content: space-between;
}

#upload{
    display: flex;
    background-color: #FD6D08;
    padding: 1vh 1vw;
    border-radius: 50px;
}

#upload:active{
    transform: translateY(2px);
}

#upload-title{
    font-size: large;
    font-weight: normal;
}

#upload-icon{
    height: 3vh;
    width: 2vw;
    margin-left: 1.5vw;
}





