.main-page{
    color: white;
}

.filter{
    border: 1px solid #FD6D08;
    height: 3vh;
    padding: 0.2vh 0.5vw;
    text-align: center;
    transition-duration: 0.3s;
    margin-right: 0.5vw;
    font-size: small;
}

.filter:hover{
    background-color: #FD6D08;
}


#upload-notes{
    margin: 20vh 24vw;
    height: 60vh;
    width: 40vw;
    background: linear-gradient(0deg, rgba(248, 213, 123, 0.15), rgba(248, 213, 123, 0.15)),
linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-radius: 20px;
}

#title{
    background: #FFFFFF33;
    display: flex;
    justify-content: space-between;
    height: 7.5vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#title-heading{
    margin: 1.5vh 1vw;
    font-weight: normal;
}

#cross{
    height: 4vh;
    width: 4vh;
    margin: 1.5vh 1vw;
}

#main-section{
    text-align: center;
}

#main-heading{
    font-weight: normal;
    margin-top: 3vh;
}

#upload-files{
    text-align: center;
    border: 3px dashed #FD6D08;
    width: 50vh;
    margin: 5vh auto;
}

#footnote{
    font-weight: normal;
    font-size: medium;
    color: #FFFFFFB2;
    margin: 2vh 0 0 0;
}

#else{
    font-weight: lighter;
    font-size: small;
    color: #FFFFFFB2;
    margin: 1vh 0 0 0;
}

#select{
    height: 5vh;
    width: 10vw;
    border: 1px solid #FD6D08;
    margin: 1vh auto 2vh;
    padding: 1vh 0;
    border-radius: 50px;
}

#select:hover{
    background-color: #FD6D08;
}

#select:active{
    transform: translateY(1px);
}

#file-vector{
    margin-top: 2vh;
}

#catagories{
    display: flex;
    margin-left: 2vw;
}

#filters{
    display: flex;
}

#upload{
    display: flex;
    background-color: #FD6D08;
    padding: 1vh 1vw;
    border-radius: 50px;
    margin-left: 3vw;
}

#upload-title{
    font-size: medium;
    font-weight: normal;
}

#upload:active{
    transform: translateY(2px);
}

#chapter{
    margin-left: 1vw;
    display: flex;
}

#input-ch-no{
    margin-left: 1vh;
    height: 3vh;
    width: 3vh;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid #FD6D08;
}