<link rel="stylesheet" href="<%= assetPath('css/navbar.css') %>" />

<section class="main-container">
  <div class="navbar">
    <div>
      <div class="nav-smit-logo">
        <a href="/student/dashboard"
          ><img src="/images/MANAGER LOGO 3 white 3.png" alt=""
        /></a>
      </div>
      <div class="tabs">
        <ul>
          <li>
            <a class="tab <% if(title == 'Dashboard') {%> dynamic-hover <%}%>" href="/admin/dashboard">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M540-570q-12.75 0-21.375-8.625T510-600v-210q0-12.75 8.625-21.375T540-840h270q12.75 0 21.375 8.625T840-810v210q0 12.75-8.625 21.375T810-570H540ZM150-450q-12.75 0-21.375-8.625T120-480v-330q0-12.75 8.625-21.375T150-840h270q12.75 0 21.375 8.625T450-810v330q0 12.75-8.625 21.375T420-450H150Zm390 330q-12.75 0-21.375-8.625T510-150v-330q0-12.75 8.625-21.375T540-510h270q12.75 0 21.375 8.625T840-480v330q0 12.75-8.625 21.375T810-120H540Zm-390 0q-12.75 0-21.375-8.625T120-150v-210q0-12.75 8.625-21.375T150-390h270q12.75 0 21.375 8.625T450-360v210q0 12.75-8.625 21.375T420-120H150Z"/>
                  </svg></span>
              <span class="tab-name">Dashboard</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Allot Subject"){%>
              dynamic-hover
              <%}%>" href="/admin/allotsubject">
              <span class="tab-icon"
                ><span class="tab-icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 -960 960 960"
                  >
                    <path
                      d="M565.783-404.333q14.216 0 23.716-9.583 9.5-9.583 9.5-23.75v-94.667h94.667q14.167 0 23.75-9.617Q727-551.567 727-565.783q0-14.216-9.584-23.716-9.583-9.5-23.75-9.5h-94.667v-94.667q0-14.167-9.617-23.75Q579.765-727 565.549-727q-14.216 0-23.716 9.584-9.5 9.583-9.5 23.75v94.667h-94.667q-14.167 0-23.75 9.617t-9.583 23.833q0 14.216 9.583 23.716 9.583 9.5 23.75 9.5h94.667v94.667q0 14.167 9.617 23.75t23.833 9.583Zm-256.784 200q-43.7 0-74.183-30.483-30.483-30.483-30.483-74.183v-513.335q0-43.974 30.483-74.653 30.483-30.679 74.183-30.679h513.335q43.974 0 74.653 30.679 30.679 30.679 30.679 74.653v513.335q0 43.7-30.679 74.183-30.679 30.483-74.653 30.483H308.999Zm-171.333 172q-43.974 0-74.653-30.68-30.68-30.679-30.68-74.653v-565.668q0-21.834 15.284-37.083 15.284-15.25 37.5-15.25t37.383 15.25q15.166 15.249 15.166 37.083v565.668h565.668q21.834 0 37.083 15.283 15.25 15.284 15.25 37.5T740.417-47.5q-15.249 15.166-37.083 15.166H137.666Z"
                    /></svg></span
              ></span>
              <span class="tab-name">Allot Subject</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Create Account"){%>
              dynamic-hover
              <%}%>" href="/admin/signup">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M759.825-400Q747-400 738.5-408.625T730-430v-100H630q-12.75 0-21.375-8.675-8.625-8.676-8.625-21.5 0-12.825 8.625-21.325T630-590h100v-100q0-12.75 8.675-21.375 8.676-8.625 21.5-8.625 12.825 0 21.325 8.625T790-690v100h100q12.75 0 21.375 8.675 8.625 8.676 8.625 21.5 0 12.825-8.625 21.325T890-530H790v100q0 12.75-8.675 21.375-8.676 8.625-21.5 8.625ZM360-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM70-160q-12.75 0-21.375-8.625T40-190v-64q0-35 18-63.5t50-42.5q75-33 133.338-46.5 58.339-13.5 118.5-13.5Q420-420 478.5-406.5 537-393 611-360q32 15 50.5 43t18.5 63v64q0 12.75-8.625 21.375T650-160H70Z"/></svg>
              </span>
              <span class="tab-name">Create Users</span>
            </a>
          </li>
          
          <li>
            <a class="tab <%if(title == "Feedback"){%>
              dynamic-hover
              <%}%>" href="#">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M240-240 106-106q-7 7-16.5 3.5T80-116v-704q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240Zm240-221 87 53q8 5 16-1t6-16l-23-98 77-67q8-7 4.5-16T634-616l-101-8-39-93q-4-9-14-9t-14 9l-39 93-101 8q-10 1-13.5 10t4.5 16l77 67-23 98q-2 10 6 16t16 1l87-53Z"
                  /></svg>
                </span>
              <span class="tab-name">Feedback</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Report"){%>
              dynamic-hover
              <%}%>" href="#">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M180-120q-25 0-42.5-17.5T120-180v-600q0-25 17.5-42.5T180-840h205q5-35 32-57.5t63-22.5q36 0 63 22.5t32 57.5h205q25 0 42.5 17.5T840-780v600q0 25-17.5 42.5T780-120H180Zm100-160h273v-60H280v60Zm0-170h400v-60H280v60Zm0-170h400v-60H280v60Zm200-177q14 0 24.5-10.5T515-832q0-14-10.5-24.5T480-867q-14 0-24.5 10.5T445-832q0 14 10.5 24.5T480-797Z"
                  /></svg>
              </span>
              <span class="tab-name">Report</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Semester"){%>
              dynamic-hover
              <%}%>" href="/admin/Semester">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3 1 9l11 6 9-4.91V17h2V9L12 3z"
                  /></svg>
              </span>
              <span class="tab-name">Semester</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Section"){%>
              dynamic-hover
              <%}%>" href="/admin/section">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3 1 9l11 6 9-4.91V17h2V9L12 3z"
                  /></svg>
              </span>
              <span class="tab-name">Section</span>
            </a>
          </li>
          <li>
            <a class="tab <%if(title == "Add Department"){%>
              dynamic-hover
              <%}%>" href="/admin/department">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M450-450v140q0 12.75 8.675 21.375 8.676 8.625 21.5 8.625 12.825 0 21.325-8.625T510-310v-140h140q12.75 0 21.375-8.675 8.625-8.676 8.625-21.5 0-12.825-8.625-21.325T650-510H510v-140q0-12.75-8.675-21.375-8.676-8.625-21.5-8.625-12.825 0-21.325 8.625T450-650v140H310q-12.75 0-21.375 8.675-8.625 8.676-8.625 21.5 0 12.825 8.625 21.325T310-450h140ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Z"/></svg></span>
              <span class="tab-name">Add Dept</span>
            </a>
          </li>
          <li>
            <a class="tab" href="/sign-out">
              <span class="tab-icon"
                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                  <path
                    d="M798.001-427.667H392q-21.834 0-37.083-15.284-15.25-15.283-15.25-37.166 0-21.883 15.25-37.049 15.249-15.167 37.083-15.167h406.001l-44.667-45.334Q738-592.334 738-613.834q0-21.499 15.406-37.166 15.594-14.667 37.261-14.667 21.666 0 37.179 15.513L961-517.666q15.667 15.909 15.667 37.787 0 21.879-15.667 37.545L827.846-309.18q-15.379 15.513-36.613 15.68-21.233.167-37.16-15.69-15.184-14.858-15.295-37Q738.667-368.333 754-383l44.001-44.667ZM186.666-130q-44.199 0-74.433-30.429Q82-190.858 82-235.333v-490.001q0-43.5 30.233-74.083Q142.467-830 186.666-830h381.001q43.5 0 74.083 30.583t30.583 74.083v73.335q0 22.5-15.283 37.75-15.284 15.25-37.167 15.25-21.883 0-37.049-15.25-15.167-15.25-15.167-37.75v-73.335H186.666v490.001h381.001v-73.335q0-21.833 15.284-37.083 15.283-15.25 37.166-15.25 21.883 0 37.05 15.25 15.166 15.25 15.166 37.083v73.335q0 44.475-30.583 74.904Q611.167-130 567.667-130H186.666Z"
                  /></svg>
                </span>
              <span class="tab-name" id="1">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nexus-logo">
      <p>Developed by</p>
      <img src="/images/nexus.png" alt="" />
    </div>
  </div>
  <div class="nav-manipal-vector">
    <img src="/images/manipal-vector.png" alt="" />
  </div>
</section>
