    <link rel="stylesheet" href="/css/navbar.css">

    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
               <a href="/admin/dashboard"> <img src="/images/MANAGER LOGO 3 white 3.png" alt="" /></a>
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="/admin/dashboard">
                            <span class="tab-icon"><img src="/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="/admin/notification">
                            <span class="tab-icon"><img src="/images/Edit-ID.png" alt="" /></span>
                            <span class="tab-name">Notification</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="/admin/allotsubject">
                            <span class="tab-icon"><img src="/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="/images/Feedback.png" alt="" /></span>
                            <span class="tab-name">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="/images/timetable.png" alt="" /></span>
                            <span class="tab-name">Timetable</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="/admin/calendar">
                            <span class="tab-icon"><img src="/images/cal.png" alt="" /></span>
                            <span class="tab-name">Calender</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="/images/Change-semester.png" alt="" /></span>
                            <span class="tab-name">Semester</span>
                        </a>
                    </li>
                 
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="/images/Report.png" alt="" /></span>
                            <span class="tab-name">Report</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="/sign-out">
                            <span class="tab-icon"><img src="/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="nav-manipal-vector">
                <img src="/images/manipal-vector.png" alt="" />
            </div>
        </div>

       
    </section>
