<link rel="stylesheet" href="<%= assetPath('css/navbar.css') %>">
<section class="main-container">
    <div class="navbar">
        <div>
        <div class="nav-smit-logo">
            <a href="/feecell/dashboard"><img src="/images/MANAGER LOGO 3 white 3.png" alt="" /></a>
        </div>
        <div class="tabs">
            <ul>
                <li>
                    <a class="tab <%if(title == "Dashboard"){%>
                        dynamic-hover
                        <%}%>" href="/feecell/dashboard">
                        <!-- <span class="tab-icon"><img src="/images/dashboard.png" alt="" /></span> -->
                        <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M540-570q-12.75 0-21.375-8.625T510-600v-210q0-12.75 8.625-21.375T540-840h270q12.75 0 21.375 8.625T840-810v210q0 12.75-8.625 21.375T810-570H540ZM150-450q-12.75 0-21.375-8.625T120-480v-330q0-12.75 8.625-21.375T150-840h270q12.75 0 21.375 8.625T450-810v330q0 12.75-8.625 21.375T420-450H150Zm390 330q-12.75 0-21.375-8.625T510-150v-330q0-12.75 8.625-21.375T540-510h270q12.75 0 21.375 8.625T840-480v330q0 12.75-8.625 21.375T810-120H540Zm-390 0q-12.75 0-21.375-8.625T120-150v-210q0-12.75 8.625-21.375T150-390h270q12.75 0 21.375 8.625T450-360v210q0 12.75-8.625 21.375T420-120H150Z"/></svg></span>
                        <span class="tab-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="tab <%if(title == "Settings"){%>
                        dynamic-hover
                        <%}%>" href="/feecell/setting">
                        <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M555.666-52H404.334q-19.667 0-35.167-12.667-15.5-12.666-17.833-32.333l-13.667-90.667q-10.333-3.333-23-10.667Q302-205.667 293-212.667l-83.334 38.333q-19 8.334-38 1.834-18.999-6.5-28.999-24.834L66-332.667q-10.666-17.666-6.166-37.166 4.5-19.5 20.166-31.5L155.667-457q-.667-5-1-11.5-.333-6.5-.333-11.5t.333-11.5q.333-6.5 1-11.5L80-559.334q-15.666-12.333-20.166-31.833T66-627.333l76.667-135.333q10.666-16.667 29.833-23.5 19.166-6.834 37.166 1.5L295-747q8.333-6.333 20.333-13.166 12.001-6.834 22.334-10.167l13.667-93.334q2.333-20 17.666-32.5 15.334-12.5 35.334-12.5h151.332q20 0 35.334 12.5 15.333 12.5 17.666 32.5L622.333-771q10.333 4 23 10.5T667-747l83.334-37.666q18-8.334 37.5-1.834 19.499 6.5 29.499 23.834L895-628q10.667 17.666 6.167 37.5-4.5 19.833-21.167 31.166l-76.667 55q.667 5.667 1.333 12.167.667 6.5.667 12.167t-.833 11.834q-.834 6.166-1.5 11.833l76.667 55q15.666 12 20.166 31.5t-5.5 37.166L816-197.334Q806-179 787.334-172.5q-18.667 6.5-37.667-1.834l-84-38.333q-9 7-20.667 14.333-11.667 7.334-22.667 10.667L608.666-97Q606.333-77.333 591-64.667 575.666-52 555.666-52Zm-77.333-294.667q55.334 0 94.334-39 38.999-39 38.999-94.333t-38.999-94.333q-39-39-94.334-39-55.333 0-94.333 39T345-480q0 55.333 39 94.333t94.333 39Z"/></svg></span>
                        <span class="tab-name">Settings</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="/sign-out">
                        <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" ><path d="M798.001-427.667H392q-21.834 0-37.083-15.284-15.25-15.283-15.25-37.166 0-21.883 15.25-37.049 15.249-15.167 37.083-15.167h406.001l-44.667-45.334Q738-592.334 738-613.834q0-21.499 15.406-37.166 15.594-14.667 37.261-14.667 21.666 0 37.179 15.513L961-517.666q15.667 15.909 15.667 37.787 0 21.879-15.667 37.545L827.846-309.18q-15.379 15.513-36.613 15.68-21.233.167-37.16-15.69-15.184-14.858-15.295-37Q738.667-368.333 754-383l44.001-44.667ZM186.666-130q-44.199 0-74.433-30.429Q82-190.858 82-235.333v-490.001q0-43.5 30.233-74.083Q142.467-830 186.666-830h381.001q43.5 0 74.083 30.583t30.583 74.083v73.335q0 22.5-15.283 37.75-15.284 15.25-37.167 15.25-21.883 0-37.049-15.25-15.167-15.25-15.167-37.75v-73.335H186.666v490.001h381.001v-73.335q0-21.833 15.284-37.083 15.283-15.25 37.166-15.25 21.883 0 37.05 15.25 15.166 15.25 15.166 37.083v73.335q0 44.475-30.583 74.904Q611.167-130 567.667-130H186.666Z"/></svg></span>
                        <span class="tab-name" id="1">Sign Out</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
        <div class="nexus-logo">
            <p>Developed by</p>
            <img src="/images/nexus.png" alt="" />
          </div>

        </div>
        <div class="nav-manipal-vector">
                <img src="/images/manipal-vector.png" alt="" />
            </div>


</section>