<link rel="stylesheet" href="/css/navbar.css" />

<%
let dp = "";

%>

<section class="main-container">
  <div class="navbar">
    <div class="nav-smit-logo">
      <a href="/student/dashboard"><img src="/images/MANAGER LOGO 3 white 3.png" alt="" /></a>
    </div>
    <div class="tabs">
      <ul>
        <li>
          <a class="tab <%if(title == "Dashboard"){%>
            dynamic-hover
          <%}%>" href="/student/dashboard">
            <span class="tab-icon"><img src="/images/dashboard.png" alt="" /></span>
            <span class="tab-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Attendance"){%>
            dynamic-hover
          <%}%>" href="/student/attendance">
            <span class="tab-icon"><img src="/images/attendance.png" alt="" /></span>
            <span class="tab-name">Attendance</span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Internal Marks"){%>
            dynamic-hover
          <%}%>" href="/student/internalmark">
            <span class="tab-icon"><img src="/images/internals.png" alt="" /></span>
            <span class="tab-name">Internals</span>
          </a>
        </li>
        <!-- <li>
          <a class="tab" href="#">
            <span class="tab-icon"><img src="/images/notes.png" alt="" /></span>
            <span class="tab-name">Notes</span>
          </a>
        </li>
        <li>
          <a class="tab" href="#">
            <span class="tab-icon"><img src="/images/assignmeny.png" alt="" /></span>
            <span class="tab-name">Assignments</span>
          </a>
        </li> -->
        <li>
          <a class="tab <%if(title == "Feedback"){%>
            dynamic-hover
          <%}%>" href="/student/feedback">
            <span class="tab-icon"><img src="/images/Feedback.png" alt="" /></span>
            <span class="tab-name">Feedback</span>
          </a>
        </li>
        <!-- <li>
          <a class="tab" href="#">
            <span class="tab-icon"><img src="/images/contact.png" alt="" /></span>
            <span class="tab-name">Contact</span>
          </a>
        </li> -->
        <li>
          <a class="tab" href="/sign-out">
            <span class="tab-icon"><img src="/images/signout.png" alt="" /></span>
            <span class="tab-name">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- <div class="nav-manipal-vector">
      <img src="/images/manipal-vector.png" alt="" />
    </div> -->
  </div>


</section>