<link rel="stylesheet" href="<%= assetPath('css/navbar.css') %>" />
<link rel="stylesheet" href="<%= assetPath('css/std-dash-media.css') %>" />


<% var noticircleatt=""; %>
<% var noticircleint=""; %>




<section class="main-container">
  <div class="navbar">
    <div>
    <div class="nav-smit-logo">
      <a href="/student/dashboard"><img src="/images/MANAGER LOGO 3 white 3.png" alt="" /></a>
    </div>
    <div class="tabs">
      <ul>
        <li>
          <a class="tab <%if(title == "Dashboard"){%>
            dynamic-hover
            <%}%>" href="/student/dashboard">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M540-570q-12.75 0-21.375-8.625T510-600v-210q0-12.75 8.625-21.375T540-840h270q12.75 0 21.375 8.625T840-810v210q0 12.75-8.625 21.375T810-570H540ZM150-450q-12.75 0-21.375-8.625T120-480v-330q0-12.75 8.625-21.375T150-840h270q12.75 0 21.375 8.625T450-810v330q0 12.75-8.625 21.375T420-450H150Zm390 330q-12.75 0-21.375-8.625T510-150v-330q0-12.75 8.625-21.375T540-510h270q12.75 0 21.375 8.625T840-480v330q0 12.75-8.625 21.375T810-120H540Zm-390 0q-12.75 0-21.375-8.625T120-150v-210q0-12.75 8.625-21.375T150-390h270q12.75 0 21.375 8.625T450-360v210q0 12.75-8.625 21.375T420-120H150Z"/></svg></span>
              <span class="tab-name">Dashboard</span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Attendance"){%>
            dynamic-hover
            <%}%>" href="/student/attendance">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M646.667-141q-10.334 0-19.8-3.864-9.467-3.863-17.2-11.469L525-240.667q-12-12-12-27.833 0-15.833 12-27.833 12-12 27.833-12 15.833 0 27.833 12l65.667 65.667 181.334-181.667q12-12 27.833-12 15.833 0 27.833 12 12 12 12 27.833 0 15.833-12 27.833L683-156.333q-7.534 7.606-16.767 11.469Q657-141 646.667-141ZM396.531-495.667q-78.469 0-129.833-51.364-51.364-51.364-51.364-129.833t51.364-129.802q51.364-51.333 129.833-51.333t130.302 51.333q51.833 51.333 51.833 129.802t-51.833 129.833Q475-495.667 396.531-495.667ZM101-117.667q-22 0-37.167-15.166Q48.667-148 48.667-170v-77.666q0-40.667 22.114-76.274Q92.896-359.548 131-378q65.001-30 132.5-46.5Q331-441 396.667-441 426-441 470-435.5t75.667 13.167L433-310.333q-18.999 19.136-18.833 46.5.167 27.364 19.167 46.499l99.333 99.667H101Z"/></svg></span>
              <span class="tab-set"><span class="tab-name">Attendance</span>
              <div class="noti-circle" id="attendance"></div>
              </span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Internal Marks"){%>
            dynamic-hover
            <%}%>" href="/student/internalmark">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="m480-362 122 93q9 7 17.5.5T625-286l-49-151 121-86q9-7 6-17t-14-10H541l-47-156q-3-11-13.5-11T466-706l-48 156H270q-11 0-14 10t6 17l121 86-48 152q-3 11 5.5 17t17.5-1l122-93Zm0 282q-85 0-158-30.5T195-195q-54-54-84.5-127T80-480q0-84 30.5-157T195-764q54-54 127-85t158-31q84 0 157 31t127 85q54 54 85 127t31 157q0 85-31 158t-85 127q-54 54-127 84.5T480-80Z"/></svg></span>
              <span class="tab-set"><span class="tab-name">Internals</span>
              </span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Notes"){%>
            dynamic-hover
            <%}%>"" href="/student/notes">
            <span class="tab-icon"><svg  viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M11.4694 30.427L32 21.2503L31.6817 23.3599L10.5169 33L0 11.7168L0.264997 7.6587C0.264997 7.6587 7.796 22.9924 11.4696 30.4275L11.4694 30.427ZM16.2924 3.35488C16.1363 2.94737 15.8568 2.59083 15.4153 2.32378C14.6379 1.85383 13.6013 1.85547 12.8189 2.32488L11.9002 2.92327L10.7913 1.28888L11.6673 0.717326C12.4104 0.245728 13.2894 -0.00592355 14.1718 0.000105872C16.0394 0.0346131 17.6939 1.36395 18.3054 3.07532L19.5332 2.90525L31.9996 19.8655L12.098 28.4637L0.723941 5.51403L6.85776 4.66311C6.68965 4.35227 6.43611 4.08059 6.07756 3.86975C5.30688 3.41622 4.2885 3.42252 3.51581 3.88618L2.59708 4.48402L1.48819 2.84963L2.36418 2.27835C3.10555 1.80758 3.98347 1.55643 4.86367 1.56218C6.63544 1.59504 8.21484 2.79513 8.89116 4.38079L16.2921 3.35404L16.2924 3.35488ZM7.12082 6.13655C6.39117 6.2272 5.80871 6.59746 5.62856 7.16547C5.34792 8.05201 6.15297 9.08662 7.42521 9.47418C8.69744 9.8617 9.95851 9.45693 10.2394 8.5704C10.4589 7.87779 10.0151 7.09509 9.20427 6.60074C9.1607 6.92116 9.0775 7.24268 8.95044 7.56145L8.54973 8.5249L6.69611 7.78328C6.9167 7.25362 7.0781 6.68424 7.12082 6.13655ZM16.4475 4.47579C15.7092 4.55001 15.1155 4.9148 14.936 5.4825C14.6629 6.34351 15.4453 7.3486 16.6809 7.72516C17.9171 8.10172 19.1416 7.70818 19.4147 6.84718C19.6171 6.20798 19.2385 5.48965 18.5248 5.00792C18.4823 5.34176 18.3974 5.6778 18.2654 6.01L17.8644 6.97372L16.0113 6.23155C16.2464 5.66656 16.4168 5.05693 16.4478 4.47579H16.4475Z" fill="white"/>
              </svg>
              </span>
            <span class="tab-name">Notes</span>
          </a>
        </li>
   
        <li>
          <a class="tab <%if(title == "Feedback" || title=="Submit Feedback" ){%>
            dynamic-hover
            <%}%>" href="/student/feedback">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M240-240 106-106q-7 7-16.5 3.5T80-116v-704q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240Zm240-221 87 53q8 5 16-1t6-16l-23-98 77-67q8-7 4.5-16T634-616l-101-8-39-93q-4-9-14-9t-14 9l-39 93-101 8q-10 1-13.5 10t4.5 16l77 67-23 98q-2 10 6 16t16 1l87-53Z"/></svg></span>
             
              <span class="tab-name">Feedback</span>
          </a>
        </li>
        <li>
          <a class="tab <%if(title == "Report" || title=="Submit Feedback" ){%>
            dynamic-hover
            <%}%>" href="/student/report">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M240-240 106-106q-7 7-16.5 3.5T80-116v-704q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240Zm240-221 87 53q8 5 16-1t6-16l-23-98 77-67q8-7 4.5-16T634-616l-101-8-39-93q-4-9-14-9t-14 9l-39 93-101 8q-10 1-13.5 10t4.5 16l77 67-23 98q-2 10 6 16t16 1l87-53Z"/></svg></span>
             
              <span class="tab-name">Report</span>
          </a>
        </li>
      
        <li>
          <a class="tab <%if(title == "Settings"){%>
              dynamic-hover
              <%}%>" href="/student/setting">
              <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960" ><path d="M555.666-52H404.334q-19.667 0-35.167-12.667-15.5-12.666-17.833-32.333l-13.667-90.667q-10.333-3.333-23-10.667Q302-205.667 293-212.667l-83.334 38.333q-19 8.334-38 1.834-18.999-6.5-28.999-24.834L66-332.667q-10.666-17.666-6.166-37.166 4.5-19.5 20.166-31.5L155.667-457q-.667-5-1-11.5-.333-6.5-.333-11.5t.333-11.5q.333-6.5 1-11.5L80-559.334q-15.666-12.333-20.166-31.833T66-627.333l76.667-135.333q10.666-16.667 29.833-23.5 19.166-6.834 37.166 1.5L295-747q8.333-6.333 20.333-13.166 12.001-6.834 22.334-10.167l13.667-93.334q2.333-20 17.666-32.5 15.334-12.5 35.334-12.5h151.332q20 0 35.334 12.5 15.333 12.5 17.666 32.5L622.333-771q10.333 4 23 10.5T667-747l83.334-37.666q18-8.334 37.5-1.834 19.499 6.5 29.499 23.834L895-628q10.667 17.666 6.167 37.5-4.5 19.833-21.167 31.166l-76.667 55q.667 5.667 1.333 12.167.667 6.5.667 12.167t-.833 11.834q-.834 6.166-1.5 11.833l76.667 55q15.666 12 20.166 31.5t-5.5 37.166L816-197.334Q806-179 787.334-172.5q-18.667 6.5-37.667-1.834l-84-38.333q-9 7-20.667 14.333-11.667 7.334-22.667 10.667L608.666-97Q606.333-77.333 591-64.667 575.666-52 555.666-52Zm-77.333-294.667q55.334 0 94.334-39 38.999-39 38.999-94.333t-38.999-94.333q-39-39-94.334-39-55.333 0-94.333 39T345-480q0 55.333 39 94.333t94.333 39Z"/></svg></span>
              <span class="tab-name">Settings</span>
          </a>
      </li>
        <li>
          <a class="tab" href="/sign-out">
            <span class="tab-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" ><path d="M798.001-427.667H392q-21.834 0-37.083-15.284-15.25-15.283-15.25-37.166 0-21.883 15.25-37.049 15.249-15.167 37.083-15.167h406.001l-44.667-45.334Q738-592.334 738-613.834q0-21.499 15.406-37.166 15.594-14.667 37.261-14.667 21.666 0 37.179 15.513L961-517.666q15.667 15.909 15.667 37.787 0 21.879-15.667 37.545L827.846-309.18q-15.379 15.513-36.613 15.68-21.233.167-37.16-15.69-15.184-14.858-15.295-37Q738.667-368.333 754-383l44.001-44.667ZM186.666-130q-44.199 0-74.433-30.429Q82-190.858 82-235.333v-490.001q0-43.5 30.233-74.083Q142.467-830 186.666-830h381.001q43.5 0 74.083 30.583t30.583 74.083v73.335q0 22.5-15.283 37.75-15.284 15.25-37.167 15.25-21.883 0-37.049-15.25-15.167-15.25-15.167-37.75v-73.335H186.666v490.001h381.001v-73.335q0-21.833 15.284-37.083 15.283-15.25 37.166-15.25 21.883 0 37.05 15.25 15.166 15.25 15.166 37.083v73.335q0 44.475-30.583 74.904Q611.167-130 567.667-130H186.666Z"/></svg></span>
            <span class="tab-name">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
    <div class="nexus-logo">
      <p>Developed by</p>
      <a href="/nexus"><img src="/images/nexus.png" alt="" /></a>
    </div>
  </div>
  <div class="nav-manipal-vector">
    <img src="/images/manipal-vector.png" alt="" />
  </div>


</section>