<link rel="stylesheet" href="<%= assetPath('css/navbar.css') %>">
<section class="main-container">
    <div class="navbar">
        <div class="nav-smit-logo">
            <img src="/images/MANAGER LOGO 3 white 3.png" alt="" />
        </div>
        <div class="tabs">
            <ul>
                <li>
                    <a class="tab" href="/teacher/dashboard">
                        <span class="tab-icon"><img src="/images/dashboard.png" alt="" /></span>
                        <span class="tab-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="#">
                        <span class="tab-icon"><img src="/images/PROFILE ICON.png" alt="" /></span>
                        <span class="tab-name">Profile</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="/teacher/allotsubject">
                        <span class="tab-icon"><img src="/images/Allot-subject.png" alt="" /></span>
                        <span class="tab-name">Allot Subject</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="#">
                        <span class="tab-icon"><img src="/images/contact.png" alt="" /></span>
                        <span class="tab-name">Contact</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="#">
                        <span class="tab-icon"><img src="/images/setting.png" alt="" /></span>
                        <span class="tab-name">Settings</span>
                    </a>
                </li>
                <li>
                    <a class="tab" href="/sign-out">
                        <span class="tab-icon"><img src="/images/signout.png" alt="" /></span>
                        <span class="tab-name" id="1">Sign Out</span>
                    </a>
                </li>
            </ul>

        </div>

        <!-- <div class="nav-manipal-vector">
                <img src="/images/manipal-vector.png" alt="" />
            </div> -->
    </div>


</section>