<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css">
    <link rel="stylesheet" href="../../assets/scss/Assigment.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
        rel="stylesheet" />
</head>

<body>
    <section class="main-container">
        <div class="navbar">
            <div class="nav-smit-logo">
                <img src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png" alt="" />
            </div>
            <div class="tabs">
                <ul>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/dashboard.png" alt="" /></span>
                            <span class="tab-name">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/PROFILE ICON.png" alt="" /></span>
                            <span class="tab-name">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/Allot-subject.png" alt="" /></span>
                            <span class="tab-name">Allot Subject</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/contact.png" alt="" /></span>
                            <span class="tab-name">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/setting.png" alt="" /></span>
                            <span class="tab-name">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a class="tab" href="#">
                            <span class="tab-icon"><img src="../../assets/images/signout.png" alt="" /></span>
                            <span class="tab-name" id="1">Sign Out</span>
                        </a>
                    </li>
                </ul>
                
            </div>
            <div class="manager-logo-div">
                <img class="manager-logo" src="../../assets/images/MANAGER LOGO 3 white 3.png" alt="" />
            </div>
            <div class="nav-manipal-vector">
                <img src="../../assets/images/manipal-vector.png" alt="" />
            </div>
        </div>


        <div class="main-page">
            <div id="heading">
                <img src="../../assets/images/back.png" alt="" id="back-arrow">
                <h1 id="title">Assigment</h1>
            </div>
            <div id="filter-list">
                <div class="filter"><span>Pending</span></div>
                <div class="filter"><span>Submitted</span></div>
                <div class="filter">Graded</div>
            </div>
            <div class="assignment-card">
                <div class="card-header">
                    <h1 class="sub-code">IT-1403</h1>
                    <h1 class="sub-name">Computer Organization Architecture</h1>
                    <div class="deadline-warning">
                        <img src="../../assets/images/ep_warning-filled.png" alt="" class="warning-symbol">
                        <h1 class="days-left">
                            <span class="no-of-days">2</span> Days Left to Submit
                        </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-detail-left">
                        <div class="assignment-details">
                            <h1 class="sub-name">Computer Organization Architecture I</h1>
                            <div class="assignment-details-pdf">
                                <img src="../../assets/images/teenyicons_pdf-solid.png" alt="" class="pdf-icon">
                                <span class="file-name">16/07/2023.pdf</span>
                                <img src="../../assets/images/download.png" alt="" class="download-bttn">
                            </div>
                        </div>
                        <div class="assignment-desc">
                            <div class="text-area">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolorem et vitae quidem assumenda rerum inventore ipsam illum, quas mollitia.</div>
                            <div class="down-arr"><img src="../../assets/images/down-arr.svg" alt="" class="down-arr"></div>
                        </div>
                        <div class="due-date">
                            <img src="../../assets/images/iconoir_clock.svg" alt="" class="clock">
                            <div class="due-date-num">Due July 2, 2023</div>
                        </div>
                    </div>
                    <div class="card-body-deltail-right">
                        <div class="pdf-upload">
                            <div class="file-name">Srijan_202100001.pdf</div>
                            <img src="../../assets/images/cross2.png" alt="" class="cross">
                        </div>
                        <div class="marks-granted">
                            <div class="marks-desc">Marks(5):</div>
                            <div class="marks-value">4.5</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>