<link rel="stylesheet" href="<%= assetPath('css/Assigment.css') %>" />
<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      <a class="back-icon" href="/student/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          /></svg>
      </a>
      <svg
        class="feedback-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
      >
        <path
          d="M240-240 106-106q-7 7-16.5 3.5T80-116v-704q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H240Zm240-221 87 53q8 5 16-1t6-16l-23-98 77-67q8-7 4.5-16T634-616l-101-8-39-93q-4-9-14-9t-14 9l-39 93-101 8q-10 1-13.5 10t4.5 16l77 67-23 98q-2 10 6 16t16 1l87-53Z"
        />
      </svg>
      <h1 class="heading">Assignment</h1>
    </div>
    <div id="filter-list">
      <div class="filter"><span>Pending</span></div>
      <div class="filter"><span>Submitted</span></div>
      <div class="filter">Graded</div>
    </div>
    <div class="assignment-card">
      <div class="card-header">
        <h1 class="sub-code">IT-1403</h1>
        <h1 class="sub-name">Computer Organization Architecture</h1>
        <div class="deadline-warning">
          <img
            src="/images/ep_warning-filled.png"
            alt=""
            class="warning-symbol"
          />
          <h1 class="days-left">
            <span class="no-of-days">2</span> Days Left to Submit
          </h1>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body-detail-left">
          <div class="assignment-details">
            <h1 class="sub-name">Computer Organization Architecture I</h1>
            <div class="assignment-details-pdf">
              <img
                src="/images/teenyicons_pdf-solid.png"
                alt=""
                class="pdf-icon"
              />
              <span class="file-name">16/07/2023.pdf</span>
              <img
                src="/images/download.png"
                alt=""
                class="download-bttn"
              />
            </div>
          </div>
          <div class="assignment-desc">
            <div class="text-area">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              dolorem et vitae quidem assumenda rerum inventore ipsam illum,
              quas mollitia.
            </div>
            <div class="down-arr">
              <img
                src="/images/down-arr.svg"
                alt=""
                class="down-arr"
              />
            </div>
          </div>
          <div class="due-date">
            <img
              src="/images/iconoir_clock.svg"
              alt=""
              class="clock"
            />
            <div class="due-date-num">Due July 2, 2023</div>
          </div>
        </div>
        <div class="card-body-deltail-right">
          <div class="pdf-upload">
            <div class="file-name">Srijan_202100001.pdf</div>
            <img src="/images/cross2.png" alt="" class="cross" />
          </div>
          <div class="turn-in">
            <div class="turn-in-desc">Turn in File</div>
            <img
              src="/images/fa_send.svg"
              alt=""
              class="send-icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="assignment-card">
      <div class="card-header">
        <h1 class="sub-code">IT-1403</h1>
        <h1 class="sub-name">Computer Organization Architecture</h1>
        <div class="deadline-warning">
          <img
            src="../../assets/images/ep_warning-filled.png"
            alt=""
            class="warning-symbol"
          />
          <h1 class="days-left">
            <span class="no-of-days">2</span> Days Left to Submit
          </h1>
        </div>
      </div>
      <div class="card-body">
        <div class="card-body-detail-left">
          <div class="assignment-details">
            <h1 class="sub-name">Computer Organization Architecture I</h1>
            <div class="assignment-details-pdf">
              <img
                src="../../assets/images/teenyicons_pdf-solid.png"
                alt=""
                class="pdf-icon"
              />
              <span class="file-name">16/07/2023.pdf</span>
              <img
                src="../../assets/images/download.png"
                alt=""
                class="download-bttn"
              />
            </div>
          </div>
          <div class="assignment-desc">
            <div class="text-area">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              dolorem et vitae quidem assumenda rerum inventore ipsam illum,
              quas mollitia.
            </div>
            <div class="down-arr">
              <img
                src="../../assets/images/down-arr.svg"
                alt=""
                class="down-arr"
              />
            </div>
          </div>
          <div class="due-date">
            <img
              src="../../assets/images/iconoir_clock.svg"
              alt=""
              class="clock"
            />
            <div class="due-date-num">Due July 2, 2023</div>
          </div>
        </div>
        <div class="card-body-deltail-right">
          <div class="pdf-upload-request">
            <div class="upload-request">Upload Your File Here</div>
            <img
              src="../../assets/images/mingcute_upload-fill.svg"
              alt=""
              class="upload-icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
