<link rel="stylesheet" href="/css/feedback_response.css" />

<div class="main-page">
  <div id="main-title">
    <img src="/images/left-arrow.png" alt="" id="left-arrow" />
    <img src="/images/AG.jpg" alt="" id="profile-photo" />
    <div id="teacher-details">
      <div id="teacher-name">Diganta Baruah</div>
      <div id="teacher-title">Associate Professor</div>
      <div id="teacher-number">343464574</div>
    </div>
  </div>

  <div id="feedback-query-list">
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
    <div class="queries">
      <div class="question">
        <span class="question-number">1</span>
        <span class="question-title"
          >How satisfied are you with the quality of notes provided during
          lectures?
        </span>
      </div>
      <div class="rating">
        <div class="rank">1</div>
        <div class="rank">2</div>
        <div class="rank">3</div>
        <div class="rank">4</div>
        <div class="rank">5</div>
      </div>
      <div class="marker">
        <div>Least Satisfied</div>
        <div>Very Satisfied</div>
      </div>
    </div>
  </div>
  <div id="submit-bttn">
    <span>Submit</span>
  </div>
</div>
