<link rel="stylesheet" href="<%= assetPath('css/notes.css') %>" />

<div class="main-page">
  <div class="blur">
    <div class="page-heading">
      
      <a href="/student/dashboard"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M381-100 44-436q-9-9-13.5-20.5T26-480q0-12 4.5-23.5T44-524l337-337q21-21 51-21.5t52 21.5q21 21 21 51.5T484-758L206-480l278 278q21 21 21.5 50.5T484-100q-21 21-51.5 21T381-100Z"
          />
        </svg>
      </a>
      <h1 class="heading">Notes</h1>
    </div>

    <div class="filters">
      <select id="Department" class="filter-select" name="department" required>
        <option value="">Department</option>
      </select>
      <select id="Course" class="filter-select" name="course" required>
        <option value="">Course</option>
      </select>
      <select id="Semester" class="filter-select" name="semester" required>
        <option value="">Semester</option>
      </select>
      <select id="Subject" class="filter-select sub-sel" name="subname">
        <option value="">Subject</option>
      </select>
    </div>
    <div id="filters-and-options">
      <div id="filters">
        <div class="filter" id="filter-allnotes" onclick="showdiv(allnotes)">
          All
        </div>
        <div class="filter" id="filter-notes" onclick="showdiv(notes)">
          Notes
        </div>
        <div class="filter" id="filter-pyqs" onclick="showdiv(pyqs)">PYQs</div>
        <div
          class="filter"
          id="filter-samplepapers"
          onclick="showdiv(samplepapers)"
        >
          Sample Papers
        </div>
        <div class="filter" id="filter-videos" onclick="showdiv(videos)">
          Videos
        </div>
      </div>
    </div>
    <!-- new main list -->
    <!-- - - - - - - - - -->
    <div class="list__main">
      <div class="list__main__title">
        <ul>
          <li>Sl.No</li>
          <li>File Name</li>
          <li>Date Uploaded</li>
          <li>File Size</li>
          <li>Chapters</li>
          <li></li>
        </ul>
      </div>
      <div class="student-list-scroll">
        <div id="allnotes"></div>
        <div id="notes"></div>
        <div id="pyqs"></div>
        <div id="samplepapers"></div>
        <div id="videos"></div>
      </div>
    </div>
  </div>
</div>

<script>
  let data = function(){
    let u = <%- JSON.stringify(locals.subject) %>;
    let v = <%- JSON.stringify(locals.semsec) %>;
    const subjectsData = u;
    const semsecData = v;
    const uniqueValues = (data, key) =>[...new Set(data.map((item) => item[key]))];
    function populateSelect(selectId, values) {

      const select = document.getElementById(selectId);
      select.innerHTML = "<option value=''> " + selectId + "</option>"

      values.forEach((value) => {
        const option = document.createElement("option");
        option.text = value;
        option.value = value;
        select.appendChild(option);
      });
    }
    function updateOptions(selectId) {

      const selectedDepartment = document.getElementById("Department").value;
      const selectedCourse = document.getElementById("Course").value;
      const selectedSemester = document.getElementById("Semester").value;

      let filteredSubjects = subjectsData;


      if (selectedDepartment) {
          filteredSubjects = filteredSubjects.filter(
              (subject) => subject.department === selectedDepartment
          );
      }

      if (selectedCourse) {
        filteredSubjects = filteredSubjects.filter(
          (subject) => subject.course === selectedCourse
        );

      }

      if (selectedSemester) {
        filteredSubjects = filteredSubjects.filter(
          (subject) => subject.semester === selectedSemester
        );


      }

      populateSelect("Subject", uniqueValues(filteredSubjects, "name"));
    }

       document.getElementById("Department").addEventListener("change", function () {
      populateSelect("Course", uniqueValues(subjectsData, "course"));
      updateOptions("department");
    });

    document.getElementById("Course").addEventListener("change", function () {
      populateSelect("Semester", uniqueValues(subjectsData, "semester"));
      updateOptions("course");
    });

    document.getElementById("Semester").addEventListener("change", function () {
      updateOptions("Semester");
    });

    populateSelect("Department", uniqueValues(subjectsData, "department"));
  }
  data();
  function main2(){
    $(document).ready(function() {
      // Attach an event handler to the select element
      $('#Subject').change(function() {
        // Get the selected value
        // Send the AJAX GET request

        $.ajax({
          type: 'GET',
          url: '/student/notes/search',
          data: {
            sub: document.getElementById('Subject').value,
            dept: document.getElementById('Department').value,
            course: document.getElementById('Course').value,
            sem: document.getElementById('Semester').value,
          }, // Replace with your server endpoint URL
          success: function(response) {
              console.log(response)
            // Handle the successful response from the server
            let allnotesdomstring = '';
            let stud = response.allnotes.notes
            for(let i = 0; i<stud.length; i++){
              let n = (stud[i].name).split('.')[1]
              allnotesdomstring = allnotesdomstring + `<div class="list__items">
              <ul>
                <li class="note-metadata">${i+1}</li>
                <li class="note-data">
                 ${stud[i].name.slice(0,25)}...${n}
                </li>
                <li class="note-metadata">${stud[i].uploaddate}</li>
                <li class="note-metadata">${stud[i].filesize}</li>
                <li class="note-metadata">${stud[i].chapter}</li>
                <li class="btn-std">

                  <a href="${stud[i].path}" target="_blank"><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      viewBox="0 0 24 24"
                    >
                      <g><rect /></g>
                      <g>
                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                      </g>
                    </svg>
                  </span></a>
                </li>
              </ul>
            </div>`
            }
            $('#allnotes').html(allnotesdomstring);
            let notesdomstring = '';
            stud = response.notes
            for(let i = 0; i<stud.length; i++){
              let n = (stud[i].name).split('.')[1]
              notesdomstring = notesdomstring + `<div class="list__items">
              <ul>
                <li class="note-metadata">${i+1}</li>
                <li class="note-data">
                ${stud[i].name.slice(0,25)}...${n}
                </li>
                <li class="note-metadata">${stud[i].uploaddate}</li>
                <li class="note-metadata">${stud[i].filesize}</li>
                <li class="note-metadata">${stud[i].chapter}</li>
                <li class="btn-std">

                  <a href="${stud[i].path}" target="_blank"><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      viewBox="0 0 24 24"
                    >
                      <g><rect /></g>
                      <g>
                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                      </g>
                    </svg>
                  </span></a>
                </li>
              </ul>
            </div>`
            }
            $('#notes').html(notesdomstring);

            let pyqsstring = '';
            stud = response.pyqs
            for(let i = 0; i<stud.length; i++){
              let n = (stud[i].name).split('.')[1]
              pyqsstring = pyqsstring + `<div class="list__items">
              <ul>
                <li class="note-metadata">${i+1}</li>
                <li class="note-data">
                 ${stud[i].name.slice(0,25)}...${n}
                </li>
                <li class="note-metadata">${stud[i].uploaddate}</li>
                <li class="note-metadata">${stud[i].filesize}</li>
                <li class="note-metadata">${stud[i].chapter}</li>
                <li class="btn-std">

                  <a href="${stud[i].path}" target="_blank"><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      viewBox="0 0 24 24"
                    >
                      <g><rect /></g>
                      <g>
                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                      </g>
                    </svg>
                  </span></a>
                </li>
              </ul>
            </div>`
            }
            $('#pyqs').html(pyqsstring);
            let samplepapersdomstring = '';
            stud = response.samplepapers
            for(let i = 0; i<stud.length; i++){
              let n = (stud[i].name).split('.')[1]
              samplepapersdomstring = samplepapersdomstring + `<div class="list__items">
              <ul>
                <li class="note-metadata">${i+1}</li>
                <li class="note-data">
                 ${stud[i].name.slice(0,25)}...${n}
                </li>
                <li class="note-metadata">${stud[i].uploaddate}</li>
                <li class="note-metadata">${stud[i].filesize}</li>
                <li class="note-metadata">${stud[i].chapter}</li>
                <li class="btn-std">

                  <a href="${stud[i].path}" target="_blank"><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      viewBox="0 0 24 24"
                    >
                      <g><rect /></g>
                      <g>
                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                      </g>
                    </svg>
                  </span></a>
                </li>
              </ul>
            </div>`
            }
            $('#samplepapers').html(samplepapersdomstring);
            let videosdomstring = '';
            stud = response.notes
            for(let i = 0; i<stud.length; i++){
              let n = (stud[i].name).split('.')[1]
              videosstring = videosdomstring + `<div class="list__items">
              <ul>
                <li class="note-metadata">${i+1}</li>
                <li class="note-data">
                ${stud[i].name.slice(0,25)}...${n}
                </li>
                <li class="note-metadata">${stud[i].uploaddate}</li>
                <li class="note-metadata">${stud[i].filesize}</li>
                <li class="note-metadata">${stud[i].chapter}</li>
                <li class="btn-std">

                  <a href="${stud[i].path}" target="_blank"><span
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      enable-background="new 0 0 24 24"
                      viewBox="0 0 24 24"
                    >
                      <g><rect /></g>
                      <g>
                        <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z" />
                      </g>
                    </svg>
                  </span></a>
                </li>
              </ul>
            </div>`
            }
            $('#videos').html(videosdomstring);
            document.getElementById("allnotes").style.display = "block";
            document.getElementById("notes").style.display = "none";
            document.getElementById("filter-notes").style.backgroundColor = "#ffffff00";
            document.getElementById("samplepapers").style.display = "none";
            document.getElementById("filter-samplepapers").style.backgroundColor =
              "#ffffff00";
            document.getElementById("pyqs").style.display = "none";
            document.getElementById("filter-pyqs").style.backgroundColor = "#ffffff00";
            document.getElementById("videos").style.display = "none";
            document.getElementById("filter-videos").style.backgroundColor =
              "#ffffff00";
            document.getElementById('filter-allnotes').style.backgroundColor = '#FD6D08';
          },
          error: function(xhr, status, error) {
            // Handle errors
            console.error('AJAX request failed.');
            console.log(error);
          }
        });
      });
    });
  }
  main2();
</script>
<script>
  function showdiv(id) {
    console.log(id.id);
    document.getElementById("allnotes").style.display = "none";
    document.getElementById("filter-allnotes").style.backgroundColor =
      "#ffffff00";
    document.getElementById("notes").style.display = "none";
    document.getElementById("filter-notes").style.backgroundColor = "#ffffff00";
    document.getElementById("samplepapers").style.display = "none";
    document.getElementById("filter-samplepapers").style.backgroundColor =
      "#ffffff00";
    document.getElementById("pyqs").style.display = "none";
    document.getElementById("filter-pyqs").style.backgroundColor = "#ffffff00";
    document.getElementById("videos").style.display = "none";
    document.getElementById("filter-videos").style.backgroundColor =
      "#ffffff00";
    document.getElementById(id.id).style.display = "block";
    document.getElementById("filter-" + id.id).style.backgroundColor =
      "#FD6D08";
  }
</script>
