<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%= assetPath('css/developer.css') %>" />
    <title>Nexus Team</title>
  </head>
  <body>
    <section class="logo-hed">
        <img class="nexus-logo" src="images/nexus.png" alt="">
        <img class="ecm-logo" src="images/MANAGER LOGO 3 white 3.png" alt="">
    </section>
    <div class="header">Faces Behind eCampus</div>
    <section class="teams">
        <div class="row">
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Vikas Kr.
                    Singh</span>
                <span class="title">Mentor</span>
            </div>
            </div>
         
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="https://github.com/OS03Bit" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="https://www.linkedin.com/in/om-sinkar/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="https://www.instagram.com/os03_bit/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Om Sinkar
                    </span>
                <span class="title">Project Lead
                    & Backend</span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="https://github.com/srijandev1" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="https://www.linkedin.com/in/srijan-dev-50b790217/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="https://www.instagram.com/srijande86/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Sirjan Dev
                    </span>
                <span class="title">Frontend Lead
                    & Designer</span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Rajsekhor
                    Saikia
                    </span>
                <span class="title">Backend Dev
                    </span>
            </div>
            </div>
        </div>
        <!-- <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <span class="name">Rohan
                    Shrivastava</span>
                <span class="title">Backend Dev</span>
            </div>
            <div class="socials" id="social">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                    </svg></span>
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                      </svg></span>
                      <span><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                      </svg></span>
            </div>
        </div> -->
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Rajsekhor
                    Saikia
                    </span>
                <span class="title">Backend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Arnab Das
                    
                    </span>
                <span class="title">Designer
                    </span>
            </div>
            </div>
        </div>
      
    </div>
        <div class="row row2">
       
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Avinash Kumar
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Md Amanullah
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Chewang D.
                    Bhutia
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="https://github.com/SouptikTaran" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="https://www.linkedin.com/in/souptik-taran11052004/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="https://www.instagram.com/ft.souptik/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Souptik
                    Taran
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Girish
                    Sharma                    
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
        <div class="member" id="mem" >
            <img class="mem-img" src="images/man.png" alt="">
            <div class="mem-text">
                <div class="socials" id="social">
                    <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                        <path d="M7.5 1.25C6.67924 1.25 5.86651 1.41166 5.10823 1.72575C4.34994 2.03984 3.66095 2.50022 3.08058 3.08058C1.90848 4.25269 1.25 5.8424 1.25 7.5C1.25 10.2625 3.04375 12.6062 5.525 13.4375C5.8375 13.4875 5.9375 13.2937 5.9375 13.125V12.0687C4.20625 12.4437 3.8375 11.2312 3.8375 11.2312C3.55 10.5062 3.14375 10.3125 3.14375 10.3125C2.575 9.925 3.1875 9.9375 3.1875 9.9375C3.8125 9.98125 4.14375 10.5813 4.14375 10.5813C4.6875 11.5312 5.60625 11.25 5.9625 11.1C6.01875 10.6938 6.18125 10.4187 6.35625 10.2625C4.96875 10.1062 3.5125 9.56875 3.5125 7.1875C3.5125 6.49375 3.75 5.9375 4.15625 5.49375C4.09375 5.3375 3.875 4.6875 4.21875 3.84375C4.21875 3.84375 4.74375 3.675 5.9375 4.48125C6.43125 4.34375 6.96875 4.275 7.5 4.275C8.03125 4.275 8.56875 4.34375 9.0625 4.48125C10.2563 3.675 10.7812 3.84375 10.7812 3.84375C11.125 4.6875 10.9062 5.3375 10.8438 5.49375C11.25 5.9375 11.4875 6.49375 11.4875 7.1875C11.4875 9.575 10.025 10.1 8.63125 10.2563C8.85625 10.45 9.0625 10.8313 9.0625 11.4125V13.125C9.0625 13.2937 9.1625 13.4937 9.48125 13.4375C11.9625 12.6 13.75 10.2625 13.75 7.5C13.75 6.67924 13.5883 5.86651 13.2742 5.10823C12.9602 4.34994 12.4998 3.66095 11.9194 3.08058C11.3391 2.50022 10.6501 2.03984 9.89177 1.72575C9.13349 1.41166 8.32076 1.25 7.5 1.25Z" fill="white"/>
                        </svg></a>
                        <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M11.875 1.875C12.2065 1.875 12.5245 2.0067 12.7589 2.24112C12.9933 2.47554 13.125 2.79348 13.125 3.125V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V3.125C1.875 2.79348 2.0067 2.47554 2.24112 2.24112C2.47554 2.0067 2.79348 1.875 3.125 1.875H11.875ZM11.5625 11.5625V8.25C11.5625 7.70962 11.3478 7.19138 10.9657 6.80927C10.5836 6.42716 10.0654 6.2125 9.525 6.2125C8.99375 6.2125 8.375 6.5375 8.075 7.025V6.33125H6.33125V11.5625H8.075V8.48125C8.075 8 8.4625 7.60625 8.94375 7.60625C9.17581 7.60625 9.39837 7.69844 9.56247 7.86253C9.72656 8.02663 9.81875 8.24919 9.81875 8.48125V11.5625H11.5625ZM4.3 5.35C4.57848 5.35 4.84555 5.23938 5.04246 5.04246C5.23938 4.84555 5.35 4.57848 5.35 4.3C5.35 3.71875 4.88125 3.24375 4.3 3.24375C4.01987 3.24375 3.7512 3.35503 3.55312 3.55312C3.35503 3.7512 3.24375 4.01987 3.24375 4.3C3.24375 4.88125 3.71875 5.35 4.3 5.35ZM5.16875 11.5625V6.33125H3.4375V11.5625H5.16875Z" fill="white"/>
                          </svg></a>
                          <a href="#" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 15 15" fill="#fff">
                            <path d="M4.875 1.25H10.125C12.125 1.25 13.75 2.875 13.75 4.875V10.125C13.75 11.0864 13.3681 12.0084 12.6883 12.6883C12.0084 13.3681 11.0864 13.75 10.125 13.75H4.875C2.875 13.75 1.25 12.125 1.25 10.125V4.875C1.25 3.91359 1.63192 2.99156 2.31174 2.31174C2.99156 1.63192 3.91359 1.25 4.875 1.25ZM4.75 2.5C4.15326 2.5 3.58097 2.73705 3.15901 3.15901C2.73705 3.58097 2.5 4.15326 2.5 4.75V10.25C2.5 11.4937 3.50625 12.5 4.75 12.5H10.25C10.8467 12.5 11.419 12.2629 11.841 11.841C12.2629 11.419 12.5 10.8467 12.5 10.25V4.75C12.5 3.50625 11.4937 2.5 10.25 2.5H4.75ZM10.7812 3.4375C10.9885 3.4375 11.1872 3.51981 11.3337 3.66632C11.4802 3.81284 11.5625 4.01155 11.5625 4.21875C11.5625 4.42595 11.4802 4.62466 11.3337 4.77118C11.1872 4.91769 10.9885 5 10.7812 5C10.574 5 10.3753 4.91769 10.2288 4.77118C10.0823 4.62466 10 4.42595 10 4.21875C10 4.01155 10.0823 3.81284 10.2288 3.66632C10.3753 3.51981 10.574 3.4375 10.7812 3.4375ZM7.5 4.375C8.3288 4.375 9.12366 4.70424 9.70971 5.29029C10.2958 5.87634 10.625 6.6712 10.625 7.5C10.625 8.3288 10.2958 9.12366 9.70971 9.70971C9.12366 10.2958 8.3288 10.625 7.5 10.625C6.6712 10.625 5.87634 10.2958 5.29029 9.70971C4.70424 9.12366 4.375 8.3288 4.375 7.5C4.375 6.6712 4.70424 5.87634 5.29029 5.29029C5.87634 4.70424 6.6712 4.375 7.5 4.375ZM7.5 5.625C7.00272 5.625 6.52581 5.82254 6.17417 6.17417C5.82254 6.52581 5.625 7.00272 5.625 7.5C5.625 7.99728 5.82254 8.47419 6.17417 8.82583C6.52581 9.17746 7.00272 9.375 7.5 9.375C7.99728 9.375 8.47419 9.17746 8.82583 8.82583C9.17746 8.47419 9.375 7.99728 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82583 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625Z" fill="white"/>
                          </svg></a>
                </div>
                <div class="mem-info">
                <span class="name">Seedorf
                    Rai
                    
                    </span>
                <span class="title">Frontend Dev
                    </span>
            </div>
            </div>
        </div>
      
    </div>
    </section>
    <div class="nexus-vector"><img src="images/nexus-vector.png" alt=""></div>
    <div class="dot-circle"><img src="images/dot-circle.png" alt=""></div>
  </body>
</html>

<script>

    const members = document.querySelectorAll("#mem");

members.forEach(member => {
  const social = member.querySelector("#social");
  const memImg = member.querySelector(".mem-img");
  const memText = member.querySelector(".mem-text");

  function hoverin(){
    social.style.display = "flex";
    memImg.style.transform = "scale(1.2)";
    memText.style.height = "100%";
  };
  function hoverout(){
    social.style.display = "none";
    memImg.style.transform = "scale(1)";
    memText.style.height = "7vh";
  }


  member.addEventListener("mouseover", hoverin);
  member.addEventListener("mouseout", hoverout);
  member.addEventListener("touchstart", hoverin);
  member.addEventListener("touchend", hoverout);
});
</script>