<link rel="stylesheet" href="<%= assetPath('css/login.css') %>" />

<div class="logo-title">
  <img src="/images/smit-logo.png" alt="SMIT Logo" />
  <img
    src="/images/MANAGER LOGO 3 white 3.png"
    alt="Ecampus Manager Logo SMIT"
    class="ecampus-ico"
  />
</div>
<div class="ecampus-logo"></div>
<div class="container-main">
  <div class="container-left">
    <img class="logo-smit" src="images/manipal-vector.png" alt="" />
  </div>
  <div class="container-right">
    <div class="login-form-pass" id="cont1">
      <div class="title-head">Passwort forgessen ?</div>
      <div class="title-line">
        No worries, we'll send you reset instructions.
      </div>
      <div class="email-contents">
        <div class="email-area">
          <div class="email-head">Enter your Official Email</div>
          <form action="/forgotpassword/email" method="post" id="fp_form">
            <input
              type="text"
              class="input-mail"
              placeholder="Eg: john_20210032@smit.smu.in"
              name="email"
              required
            />
            <button class="continue-btn">Continue</button>
          </form>
        </div>
      </div>
      <div class="back-login">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="48"
          viewBox="0 -960 960 960"
          width="48"
        >
          <path
            class="arrow-ico"
            d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z"
          />
        </svg>
        <a href="/Login">Back to Log in</a>
      </div>
      <div class="page-no">
        <div class="circle-select circle">1</div>
        <div class="circle">2</div>
        <div class="circle">3</div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="<%= assetPath('js/login.js') %>"></script>
<script>
  let fpform = function () {
    const newform = $("#fp_form");
    $(document).on("submit", "#fp_form", function (e) {
      e.preventDefault();
      $.ajax({
        type: "post",
        url: "/forgotpassword/email",
        data: newform.serialize(),
        success: function (data) {
          // console.log("hiii");
          if (data.email) {
            DOM1(data);
            new Noty({
              theme: "relax",
              text: "OTP send",
              type: "success",
              layout: "topRight",
              timeout: 1500,
            }).show();
            fpform2();
          } else {
            new Noty({
              theme: "relax",
              text: "Email do not exist.",
              type: "error",
              layout: "topRight",
              timeout: 1500,
            }).show();
          }
        },
        error: function (error) {
          console.log(error.responseText);
        },
      });
    });
  };
  let DOM1 = function (data) {
    let DOM1string = `
      <form action="/forgotpassword/verify" method="post" id="fp_form2">
        <div class="title-head">
            Passwort forgessen ?
        </div>
        <div class="title-line">
            We sent a code to <span>${data.email}</span>
            <input type="hidden" value="${data.user._id}" name="id">
        </div>
        <div class="email-contents">
        <div class="otp-head">
            Enter OTP
        </div>
        <div class="otp">
            <div class="2"> <input type="text" name="opt1" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
            <div class="1"> <input type="text" name="opt2" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"> </div>
            <div class="4"> <input type="text" name="opt3" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
            <div class="3"> <input type="text" name="opt4" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
        </div>
        <button type="submit" class="continue-btn">Continue</button>
      </form>
      </div>
      <div class="back-login ">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path class="arrow-ico" d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z" /></svg>
       <a href="/Login">Back to Log in</a> 
    </div>
        <div class="page-no">
          <div class="circle">1</div>
          <div class="circle circle-select">2</div>
          <div class="circle">3</div>`;
    $("#cont1").html(DOM1string);
    return;
  };
  fpform();
  let fpform2 = function () {
    const newform2 = $("#fp_form2");
    // console.log(newform2.serialize());
    $(document).on("submit", "#fp_form2", function (e) {
      e.preventDefault();
      $.ajax({
        type: "post",
        url: "/forgotpassword/verify",
        data: newform2.serialize(),
        success: function (data) {
          if (data.user) {
            console.log(data)
            DOM2(data);
            new Noty({
              theme: "relax",
              text: "Correct OTP",
              type: "success",
              layout: "topRight",
              timeout: 1500,
            }).show();
          }
          else{
            new Noty({
              theme: "relax",
              text: "Incorrect OTP",
              type: "error",
              layout: "topRight",
              timeout: 1500,
            }).show();
          }
        },
        error: function (error) {
          console.log(error.responseText);
        },
      });
    });
  };
  let DOM2 = function (data) {
    let DOM2string = `
      <form action="/forgotpassword/password" method="post">
      <div class="title-head">
            Passwort forgessen ?
        </div>
        <div class="title-line">
            Just some simple Text
        </div>
        <div class="email-contents">
        <div class="form-content">
            <input type="hidden" value="${data.user}" name="id">
            <input class="form-input" name="password" id="" type="password" placeholder="Password"
              required />
          </div>
          <div class="form-content">
            <input class="form-input" name="password1" id="" type="password" placeholder="Confirm Password"
              required />
          </div>
          <button class="submit-pass">Submit</button>
        </div>
        <div class="back-login ">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path class="arrow-ico" d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z" /></svg>
           <a href="/">Back to Log in</a> 
        </div>
        <div class="page-no">
          <div class="circle">1</div>
          <div class="circle">2</div>
          <div class="circle circle-select">3</div>
        </div>
        </form>`;
    $("#cont1").html(DOM2string);
    return;
  };
</script>
