<link rel="stylesheet" href="<%= assetPath('css/login.css') %>" />

<div class="logo-title">
  <img src="/images/smit-logo.png" alt="SMIT Logo" />
  <img src="/images/MANAGER LOGO 3 white 3.png" alt="Ecampus Manager Logo SMIT" class="ecampus-ico" />
</div>
<div class="ecampus-logo">
    
  </div>    
<section class="container-main">
  <div class="container-left">
    <img class="logo-smit" src="images/manipal-vector.png" alt="" />
  </div>
  <div class="container-right">
    <div class="login-form-pass">
        <div class="title-head">
            Passwort forgessen ?
        </div>
        <div class="title-line">
            Just some simple Text
        </div>
        <div class="email-contents">
        <div class="form-content">
            <input class="form-input" name="password" id="form-input-password" type="password" placeholder="Password"
              required />
          </div>
          <div class="form-content">
            <input class="form-input" name="password" id="form-input-password" type="password" placeholder="Confirm Password"
              required />
          </div>
          <button class="submit-pass">Submit</button>
        </div>
        <div class="back-login ">
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path class="arrow-ico" d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z" /></svg>
           <a href="/">Back to Log in</a> 
        </div>
        <div class="page-no">
          <div class="circle">1</div>
          <div class="circle">2</div>
          <div class="circle circle-select">3</div>
        </div>
        
        
    </div>
    <!-- <form class="login-form" method="POST" action="/create-session"> -->


      </div>
      <div class="mobile-view">
        <div class="form-button">
          <span class="btn-forgotpass">
            <a id="btnForgotPass" type="button"> Forgot Password ? </a>
          </span>
        </div>
      </div>
      <div class="form-info">
        <p>
          <!-- Note: For student, use registration number as Username and 123 as
          password if it is not change! -->
        </p>
      </div>
    </form>
  </div>
</section>
<script type="text/javascript" src="<%= assetPath('js/login.js') %>"></script>