<link rel="stylesheet" href="<%= assetPath('css/login.css') %>" />

<div class="logo-title">
  <img src="/images/smit-logo.png" alt="SMIT Logo" />
  <img src="/images/MANAGER LOGO 3 white 3.png" alt="Ecampus Manager Logo SMIT" class="ecampus-ico" />
</div>
<div class="ecampus-logo">
    
  </div>    
<section class="container-main">
  <div class="container-left">
    <img class="logo-smit" src="images/manipal-vector.png" alt="" />
  </div>
  <div class="container-right">
    <div class="login-form-pass">
        <div class="title-head">
            Passwort forgessen ?
        </div>
        <div class="title-line">
            We sent a code to <span>srijan_202100423@smit.smu.edu.in</span>
        </div>
        <div class="email-contents">
        <div class="otp-head">
            Enter OTP
        </div>
        <div class="otp">
            <div class="2"> <input type="text" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
            <div class="1"> <input type="text" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');"> </div>
            <div class="4"> <input type="text" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
            <div class="3"> <input type="text" class="code" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" > </div>
        </div>
        <a href="/resetpassword"><button class="continue-btn">Continue</button></a>
        <div class="resend">
            Didn’t receive the email ? <span>Click to Resend</span>
        </div>
      </div>
      <div class="back-login ">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path class="arrow-ico" d="M400-240 160-480l241-241 43 42-169 169h526v60H275l168 168-43 42Z" /></svg>
       <a href="/Login">Back to Log in</a> 
    </div>
        <div class="page-no">
          <div class="circle">1</div>
          <div class="circle circle-select">2</div>
          <div class="circle">3</div>
        </div>