<link rel="stylesheet" href="<%= assetPath('css/signup.css') %>">

<form action="/create" method="post">
  <h1>Sign Up</h1>
    <input type="number" name="username" placeholder="regn" required>
    <div>
    <input type="text" name="branch" placeholder="branch">
    <input type="text" name="department" placeholder="department">
  </div>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <select name="position">
        <option value="admin">Admin</option>
        <option value="examcell">Examcell</option>
        <option value="feecell">Feecell</option>
      </select>
    <input type="Submit" value="Sign Up">
</form>