<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../assets/scss/templatenavbar.css" />
    <link
      rel="stylesheet"
      href="../../assets/scss/student_attendance_view.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="main-container">
      <div class="navbar">
        <div class="nav-smit-logo">
          <img
            src="../../assets/images/SMIT HIGH RES LOGO WHITE 1.png"
            alt=""
          />
        </div>
        <div class="tabs">
          <ul>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/dashboard.png" alt=""
                /></span>
                <span class="tab-name">Dashboard</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/attendance.png" alt=""
                /></span>
                <span class="tab-name">Attendance</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/internals.png" alt=""
                /></span>
                <span class="tab-name">Internals</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/notes.png" alt=""
                /></span>
                <span class="tab-name">Notes</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/assignmeny.png" alt=""
                /></span>
                <span class="tab-name">Assignments</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/Feedback.png" alt=""
                /></span>
                <span class="tab-name">Feedback </span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/PROFILE ICON.png" alt=""
                /></span>
                <span class="tab-name">Profile</span>
              </a>
            </li>
            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/contact.png" alt=""
                /></span>
                <span class="tab-name">Contact</span>
              </a>
            </li>

            <li>
              <a class="tab" href="#">
                <span class="tab-icon"
                  ><img src="../../assets/images/signout.png" alt=""
                /></span>
                <span class="tab-name" id="1">Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="manager-logo-div">
          <img
            class="manager-logo"
            src="../../assets/images/MANAGER LOGO 3 white 3.png"
            alt=""
          />
        </div>
        <div class="nav-manipal-vector">
          <img src="../../assets/images/manipal-vector.png" alt="" />
        </div>
      </div>

      <div class="main-page">
        <div id="title">
          <a href=""
            ><img
              src="../../assets/images/allotarrow.png"
              alt=""
              id="back_arrow"
          /></a>

          <h1 id="sub_title">Attendance</h1>
        </div>

        <div id="sub-attendance">
          <select name="subject" class="sub-choose minimal" id="">
            <option value="IT-1403">
              <span>IT-1403</span> Computer Organisation Architecture
            </option>
            <option value="IT-1402">
              <span>IT-1402</span> Database Managment
            </option>
            <option value="IT-1405">
              <span>IT-1405</span> Design and Analysis of Algorithm
            </option>
            <option value="IT-1407"><span>IT-1407</span> Mathemaics</option>
          </select>

          <div id="att-info">
            <div id="att-conduct">
              <h2><span>CLC: </span>20</h2>
              <h2><span>CLA: </span> 6</h2>
            </div>
            <h2><span>Attendance Percentage: </span>77%</h2>
          </div>
        </div>

        <section class="attendance-list">
          <main class="main-row">
            <div class="col1">
              <div class="att-date">
                <p id="no-class">01</p>
                <p>29-Feb-2023</p>
                <div id="clc">
                  <div id="clp"></div>
                </div>
              </div>
            </div>

            <div class="col1">
              <div class="att-date">
                <p id="no-class">02</p>
                <p>01-Mar-2023</p>
                <div id="clc">
                  <div id="clp"></div>
                </div>
              </div>
            </div>

            <div class="col1">
              <div class="att-date">
                <p id="no-class">03</p>
                <p>02-Mar-2023</p>
                <div id="clc">
                  <!-- <div id="clp"></div> -->
                </div>
              </div>
            </div>

            <div class="col1">
              <div class="att-date">
                <p id="no-class">04</p>
                <p>03-Mar-2023</p>
                <div id="clc">
                  <div id="clp"></div>
                </div>
              </div>
            </div>

            <div class="col1">
              <div class="att-date">
                <p id="no-class">05</p>
                <p>04-Mar-2023</p>
                <div id="clc">
                  <div id="clp"></div>
                </div>
              </div>
            </div>
          </main>
        </section>

        <section id="cl-info">
          <div id="cl-conduct">
            <h2>CLC : <span>Classes Conducted</span></h2>
            <h2>CLA : <span>Classes Attended</span></h2>
          </div>
        </section>
      </div>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
